.admin-booking-casehistory{
	.radio{
		width: 130px;
		border-radius:  4px;
		cursor: pointer;
		&.active{
			.radioTab{
				background-color: #173267;
			}
		}
		.radioTab{
			margin-top: 2px;
			width: 20px;
			height: 20px;
			border: 1px solid #484848;
			border-radius: 50%;
		}
	}
}
