<!-- <header-nav></header-nav> -->
<div class="content-section admin-material-check">
	<top-bar [data]="topBar"></top-bar>
	<form class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<div *ngFor="let ms of checkList" class="ms-tab mt5">
				<div *ngIf="ms.use">
					<div (click)="showMs(ms.key)" class="ms-bar flex">
						<div class="flex-1 pt5">
							<ng-container *ngIf="ms.show">
								<span>隐藏</span>
								<i class="anticon anticon-right"></i>
							</ng-container>
							<ng-container *ngIf="!ms.show">
								<span>展开</span>
								<i class="anticon anticon-down"></i>
							</ng-container>
						</div>
						<div>
							<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
						</div>
					</div>
					<div [ngClass]="{'hide': !ms.show}" class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="name">
									<span>物资</span>
								</label>
								<input type="text" name="name" value="{{ms.name}}" disabled>
							</div>
						</div>
						<div class="pure-u-6-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="stock">
									<span>账面库存</span>
								</label>
								<input type="text" name="stock" value="{{ms.stock}}" disabled>
							</div>
						</div>
						<div class="pure-u-6-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="reality_stock">
									<span>实际库存</span>
									<span class="required">*</span>
								</label>
								<input type="number" id="reality_stock" name="reality_stock" [(ngModel)]="ms.reality_stock" placeholder="请输入实际库存" required="">
							</div>
						</div>
						<div class="pure-u-4-24 pl10">
							<div class="pure-control-group">
								<label for="unit">
									<span>单位</span>
								</label>
								<input type="text" name="unit" value="{{ms.unit}}" disabled>
							</div>
						</div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="remark">备注（最多200字）</label>
								<textarea id="remark" name="remark" maxlength="200" [(ngModel)]="ms.remark" placeholder="请输入备注" class="min"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="create()" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">{{editType == 'create' ? '添加' : '修改'}}</button>
		</div>
	</form>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
