.admin-booking-in{
    .can{
        color: #0078e7;
    }
    .overdue{
        color: #cccccc;
    }
    .already{
        color: #ff5674;
    }
    .selected{
        color: #39A99D;
    }
    .time-list{
        justify-content: space-between;
        .item{
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;
            .radioTab{
                margin-top: 3px;
                width: 15px;
                height: 15px;
            }
            &.can{
                color: #0078e7;
                border: 3px solid #0078e7;
                .radioTab{
                    border: 1px solid #0078e7;
                }
            }
            &.overdue{
                color: #cccccc;
                border: 3px solid #cccccc;
                .radioTab{
                    border: 1px solid #cccccc;
                }
            }
            &.already{
                color: #ff5674;
                border: 3px solid #ff5674;
                .radioTab{
                    margin-top: -3px;
                    font-size: 17px;
                }
            }
            &.disabled{
                cursor: not-allowed;
            }
            &.active{
                color: #39A99D;
                border: 3px solid #39A99D;
                .radioTab{
                    border: 1px solid #39A99D;
                    background-color: #39A99D;
                }
            }
            &.active.already{
                .radioTab{
                    margin-top: 3px;
                    font-size: inherit;
                }
            }
        }
    }
    .flex{
        select-search{
        	-webkit-box-flex: 1;
        	-moz-box-flex: 1;
        	-webkit-flex: 1;
        	-webkit-box: 1;
        	-ms-flex: 1;
        	flex: 1;
        }
    }
}
