<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-booking-info">
			<top-bar [data]="topBar"></top-bar>
			<div *ngIf="(booking.status == '1' || booking.status == '2' || booking.status == '3') && canEdit">
				<button (click)="updateBooking()" class="pure-button pure-button-primary">修改</button>
			</div>
			<div class="tab">
				<div class="item flex">
					<label>预约人</label>
					<div class="info">{{booking.creatorName}}</div>
				</div>
				<div class="item flex">
					<label>姓名</label>
					<div class="info">{{booking.childName}}</div>
				</div>
				<div class="item flex">
					<label>年龄</label>
					<div class="info">{{booking.age}}</div>
				</div>
				<!-- <div class="item flex">
					<label>预约类型</label>
					<div class="info">{{booking.type == 'PT' ? '普通号' : '专家号'}}</div>
				</div> -->
				<div class="item flex">
					<label>预约日期</label>
					<div class="info">{{booking.bookingDate}}</div>
				</div>
				<div class="item flex">
					<label>预约时间</label>
					<div class="info">{{booking.time}}</div>
				</div>
				<div class="item flex">
					<label>总费用</label>
					<div class="info">{{booking.totalFee}}</div>
				</div>
				<div class="item flex">
					<label>追加服务</label>
					<div class="info flex-1">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th class="w10"></th>
									<th class="w20">预约服务</th>
									<th class="w30">预约医生</th>
									<th class="w30">预约日期</th>
									<th class="w10">预约时间</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{service.serviceName}}</td>
									<td>{{service.userDoctorName}}</td>
									<td>{{service.serviceDate}}</td>
									<td>{{service.serviceTime}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="item flex">
					<label>追加费用</label>
					<div class="info flex-1">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th class="w10"></th>
									<th class="w20">消费项目</th>
									<th class="w30">费用</th>
									<th class="w40">备注说明</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{fee.projectName}}</td>
									<td>{{fee.fee}}</td>
									<td>{{fee.remark}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>