<header-nav></header-nav>
<div class="content admin-user-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="mt10">
		<div class="flex pure-form search-tab max">
			<div class="flex-1"></div>
			<div class="pure-control-group mr10">
				<label for="doctor_id">医生：</label>
                <select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
                    <ng-container *ngFor="let doctor of doctorList">
                        <option value="{{doctor.id}}">{{doctor.realName}}</option>
                    </ng-container>
                </select>
			</div>
			<div class="pure-control-group mr10">
				<label for="service_id">科室：</label>
                <select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
                    <ng-container *ngFor="let service of serviceList">
                        <option value="{{service.serviceId}}">{{service.serviceName}}</option>
                    </ng-container>
                </select>
			</div>
			<div class="w64p"></div>
		</div>
		<div class="flex pure-form search-tab max mt2">
			<div class="flex-1"></div>
			<div class="pure-control-group mr10 flex">
				<label for="bdate_big">预约时间：</label>
				<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'bdate_big')"></select-date>
			</div>
			<div class="pure-control-group mr10 flex">
				<label for="bdate_less" class="text-center">至</label>
				<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'bdate_less')"></select-date>
			</div>
			<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
		</div>
		<table *ngIf="bookingList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th>宝宝姓名</th>
					<th>宝宝年龄</th>
					<th>预约科室</th>
					<th>预约日期</th>
					<th>预约时间</th>
					<th>预约医生</th>
                    <th>状态</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let booking of bookingList; let index=index;">
                    <td>{{booking.childName}}</td>
                    <td>{{booking.age}}</td>
                    <td>{{booking.services[0].serviceName}}</td>
                    <td>{{booking.services[0].serviceDate}}</td>
                    <td>{{booking.services[0].serviceTime}}</td>
                    <td>{{booking.services[0].userDoctorName}}</td>
                    <td>{{booking.statusText}}</td>
                    <td>
                        <button *ngIf="booking.status == '4' || booking.status == '5' || booking.status == '11'" (click)="doctorBookingHistory(booking)" class="pure-button pure-button-primary">就诊记录</button>
                    </td>
				</tr>
			</tbody>
		</table>
		<div *ngIf="hasData && bookingList.length == 0" class="mt10">
			<nodata title="未查询到预约记录"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
