<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-clinicroom-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="second-bar-tab flex">
				<div class="item" (click)="searchStatus('')" [ngClass]="{'active': searchInfo.status == ''}">全部随访</div>
				<div class="item" (click)="searchStatus('2')" [ngClass]="{'active': searchInfo.status == '2'}">已随访</div>
				<div class="item" (click)="searchStatus('1')" [ngClass]="{'active': searchInfo.status == '1'}" [ngClass]="{'active': searchInfo.status == ''}">待随访</div>
				<div class="item" (click)="searchStatus('3')" [ngClass]="{'active': searchInfo.status == '3'}">已取消</div>
			</div>
			<div class="flex pure-form mt10">
				<div class="flex-1"></div>
				<div class="pure-control-group mr10">
					<label for="child_name">宝宝姓名：</label>
					<input type="text" id="child_name" name="child_name" [(ngModel)]="searchInfo.child_name">
				</div>
				<div class="pure-control-group mr10">
					<label for="up_user_name">随访人员：</label>
					<input type="text" id="up_user_name" name="up_user_name" [(ngModel)]="searchInfo.up_user_name">
				</div>
				<div class="pure-control-group mr10">
					<label for="type">创建人员：</label>
					<input type="text" id="creator_name" name="creator_name" [(ngModel)]="searchInfo.creator_name">
				</div>
				<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
			</div>
			<div class="">
				<table *ngIf="followupsList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th class="w70p"></th>
							<th>宝宝姓名</th>
							<th>随访人员</th>
							<th>随访时间</th>
							<th class="th-width">随访内容和原因</th>
							<th class="th-width">备注</th>
							<th class="th-width">结果</th>
							<th>状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let followups of followupsList">
							<td>
								<div class="img-tab-default">
									<img (click)="childInfo(followups.childId)" src="{{followups.imageUrl}}" class="cursor-p">
								</div>
							</td>
							<td>{{followups.childName}}</td>
							<td>{{followups.upUserName}}</td>
							<td>{{followups.time}}</td>
							<td><div class="length-text">{{followups.account}}</div></td>
							<td><div class="length-text">{{followups.remarks}}</div></td>
							<td><div class="length-text">{{followups.results}}</div></td>
							<td>{{followups.status}}</td>
							<td>
								<button *ngIf="moduleAuthority.edit && (followups.statusCode == '1' || followups.statusCode == '2')" (click)="update(followups)" class="pure-button pure-button-primary">修改</button>
								<button *ngIf="moduleAuthority.edit && (followups.statusCode == '1')" (click)="cancel(followups)" class="pure-button pure-button-primary">取消</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasData && followupsList.length == 0" class="mt10">
					<nodata title="未查询到随访信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button pure-button-primary">取消</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
