<header-nav></header-nav>
<div class="content-section admin-booking-add-service">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<form #f="ngForm" class="pure-form pure-form-stacked">
				<fieldset>
					<div class="pure-control-group">
						<label for="service">追加科室</label>
						<select id="service" name="service" #service="ngModel" [(ngModel)]="bookingInfo.service" (change)="serviceChange()" required="">
							<ng-container *ngFor="let service of servicelist">
								<option value="{{service.string}}">{{service.serviceName}}</option>
							</ng-container>
						</select>
						<div *ngIf="service.errors && (service.dity || service.touched)" class="alert alert-danger">
							<div [hidden]="!service.errors.required">
								追加科室不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="user_doctor">预约医生</label>
						<select id="user_doctor" name="user_doctor" #user_doctor="ngModel" [(ngModel)]="bookingInfo.user_doctor" (change)="doctorChange()" required="">
							<ng-container *ngFor="let doctor of doctorlist">
								<option value="{{doctor.string}}">{{doctor.doctorName}}</option>
							</ng-container>
						</select>
						<div *ngIf="user_doctor.errors && (user_doctor.dity || user_doctor.touched)" class="alert alert-danger">
							<div [hidden]="!user_doctor.errors.required">
								预约医生不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="fee">费用</label>
						<input type="number" id="fee" step="0.01" name="fee" #fee="ngModel" [(ngModel)]="bookingInfo.fee" placeholder="请输入费用" required="">
						<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
							<div [hidden]="!fee.errors.required">
								费用不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="service_date">科室日期</label>
						<select id="service_date" name="service_date" #service_date="ngModel" [(ngModel)]="bookingInfo.service_date" (change)="dateChange()" required="">
							<ng-container *ngFor="let duty of doctorDutys">
								<option value="{{duty.string}}">{{duty.dutyDate}}{{duty.weekDay}}</option>
							</ng-container>
						</select>
						<div *ngIf="service_date.errors && (service_date.dity || service_date.touched)" class="alert alert-danger">
							<div [hidden]="!service_date.errors.required">
								科室日期不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="time">科室时间</label>
						<select id="time" name="time" #time="ngModel" [(ngModel)]="bookingInfo.time" required="">
							<ng-container *ngFor="let time of timelist">
								<option *ngIf="time.use" value="{{time.value}}">{{time.value}}</option><option *ngIf="!time.use" disabled="" value="{{time.value}}">{{time.value}}已预约</option>
							</ng-container>
						</select>
						<div *ngIf="time.errors && (time.dity || time.touched)" class="alert alert-danger">
							<div [hidden]="!time.errors.required">
								科室时间不可为空
							</div>
						</div>
					</div>
				</fieldset>
				<div class="text-center">
					<button (click)="create(f)" class="pure-button pure-button-primary">提交</button>
				</div>
			</form>
		</div>
		<div class="pure-u-1-5"></div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
