<header-nav></header-nav>
<div class="content-section admin-booking-confirm">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex pure-form search-tab max">
		<div class="flex-1">
			<button (click)="prec()" class="pure-button pure-button-primary">上一周</button>
			<button (click)="now()" class="pure-button pure-button-primary">本周</button>
			<button (click)="next()" class="pure-button pure-button-primary">下一周</button>
		</div>
		<div class="pure-control-group mr10">
			<label for="doctor_id">医生：</label>
			<select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
				<ng-container *ngFor="let doctor of doctorlist">
					<option value="{{doctor.id}}">{{doctor.realName}}</option>
				</ng-container>
			</select>
		</div>
		<div class="pure-control-group mr10">
			<label for="service_id">科室：</label>
			<select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
				<ng-container *ngFor="let service of servicelist">
					<option value="{{service.serviceId}}">{{service.serviceName}}</option>
				</ng-container>
			</select>
		</div>
		<div class="w64p"></div>
	</div>
		<div class="flex pure-form search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10">
			<label for="creator_name">用户名：</label>
			<input type="text" id="creator_name" name="creator_name" [(ngModel)]="searchInfo.creator_name" placeholder="请输入用户名">
		</div>
		<div class="pure-control-group mr10">
			<label for="mobile">手机号码：</label>
			<input type="tel" id="mobile" name="mobile" [(ngModel)]="searchInfo.mobile" maxlength="11" placeholder="请输入手机号码">
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="week-tab mt10">
		<div class="pure-g title-tab">
			<div class="pure-u-3-24 title"></div>
			<div class="pure-u-3-24 title text-center" *ngFor="let title of weektitle">
				<div>{{title.date}}</div>
				<div>{{title.title}}</div>
			</div>
		</div>
		<div class="pure-g content-tab">
			<div class="pure-u-3-24 time-tab">
				<div class="time" *ngFor="let time of timelist">{{time.key}}</div>
			</div>
			<div class="pure-u-3-24 info-tab" *ngFor="let week of weeklist">
				<div class="info text-center" *ngFor="let time of week.timeList">
					<span (click)="show(time.value, week.use)" *ngIf="time.value.length > 0" class="num">{{time.value.length}}人</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">待支付</div>
		<div class="content pad10">
			<table class="pure-table pure-table-horizontal w100">
				<thead>
					<tr>
						<th>创建人</th>
						<th>手机号码</th>
						<th>姓名</th>
						<th>年龄</th>
						<th>预约医生</th>
						<th>预约科室</th>
						<th>预约时间</th>
						<th>预约金支付</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let showBooking of showBookinglist">
						<tr *ngFor="let service of showBooking.services; let indexService=index;">
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.creatorName}}</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.mobile}}</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.childName}}</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.age}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceName}}</td>
							<td>
								<span>{{service.serviceDate}}</span>
								<span>{{service.serviceTime}}</span>
							</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">
								<div *ngIf="use">
									<div>
										<button (click)="selectorBookingCli(showBooking, 'confirm')" class="pure-button pure-button-primary">支付</button>
									</div>
									<div class="pt10">
										<button (click)="selectorBookingCli(showBooking ,'cancel')" class="pure-button">取消</button>
									</div>
								</div>
								<div *ngIf="!use">-</div>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{selectorBooking.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
