<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-booking-payment">
			<top-bar [data]="topBar"></top-bar>
			<div class="pure-g">
				<div class="pure-u-1-5 booking-tab pr10">
					<div class="info">
						姓名：{{bookingInfo.childName}}
					</div>
					<div class="info">
						年龄：{{bookingInfo.age}}
					</div>
					<div class="info">
						家长：{{bookingInfo.creatorName}}
					</div>
				</div>
				<div class="pure-u-4-5">
					<div class="second-bar-tab flex">
						<div class="item active">费用详情</div>
					</div>
					<div class="flex" *ngIf="bookingInfo.status == '5'">
						<div class="flex-1"></div>
						<div class="flex-0"><button (click)="print()" target="_blank" class="print-btn pure-button mt10">打印</button></div>
					</div>
					<div class="section">
						<div class="title">医生服务费用</div>
						<div class="pad10">
							<table class="pure-table pure-table-horizontal w100">
								<thead>
									<tr>
										<th>类型</th>
										<th>服务</th>
										<th>费用</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let service of fee.feeInfo.serviceFeeList">
										<td>{{service.projectName}}</td>
										<td>{{service.serviceName}}</td>
										<td>{{service.fee}}</td>
									</tr>
									<tr>
										<td colspan="3">
											<div class="flex">
												<div class="flex-1 text-right">费用合计：</div>
												<div class="w100p">{{fee.feeInfo.serviceOriginalFee}}</div>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<div class="flex">
												<div class="flex-1 text-right">折扣金额：</div>
												<div class="w100p">{{fee.feeInfo.serviceDiscount}}</div>
											</div>
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<div class="flex">
												<div class="flex-1 text-right">应收费用：</div>
												<div class="w100p">{{fee.feeInfo.serviceFee}}</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="section">
						<div class="title">辅助治疗费用</div>
						<div class="pad10">
							<table class="pure-table pure-table-horizontal w100">
								<thead>
									<tr>
										<th>辅助治疗</th>
										<th>单价</th>
										<th>数量</th>
										<th>费用</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let assist of fee.feeInfo.assistFeeList">
										<td>{{assist.projectName}}</td>
										<td>{{assist.price}}</td>
										<td>{{assist.number}}</td>
										<td>{{assist.fee}}</td>
									</tr>
									<tr>
										<td colspan="4">
											<div class="flex">
												<div class="flex-1 text-right">费用合计：</div>
												<div class="w100p">{{fee.feeInfo.assistOriginalFee}}</div>
											</div>
										</td>
									</tr>
									<ng-container *ngIf="fee.feeInfo.assistOriginalFee != fee.feeInfo.assistDiscount">
										<tr>
											<td colspan="4">
												<div class="flex">
													<div class="flex-1 text-right">折扣金额：</div>
													<div class="w100p">{{fee.feeInfo.assistDiscount}}</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="4">
												<div class="flex">
													<div class="flex-1 text-right">应收费用：</div>
													<div class="w100p">{{fee.feeInfo.assistFee}}</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>
						</div>
					</div>
					<div class="section">
						<div class="title">检查项目费用</div>
						<div class="pad10">
							<table class="pure-table pure-table-horizontal w100">
								<thead>
									<tr>
										<th>检查</th>
										<th>费用</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let check of fee.feeInfo.checkFeeList">
										<td>{{check.projectName}}</td>
										<td>{{check.fee}}</td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="flex">
												<div class="flex-1 text-right">费用合计：</div>
												<div class="w100p">{{fee.feeInfo.checkOriginalFee}}</div>
											</div>
										</td>
									</tr>
									<ng-container *ngIf="fee.feeInfo.checkOriginalFee != fee.feeInfo.checkDiscount">
										<tr>
											<td colspan="2">
												<div class="flex">
													<div class="flex-1 text-right">折扣金额：</div>
													<div class="w100p">{{fee.feeInfo.checkDiscount}}</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="flex">
													<div class="flex-1 text-right">应收费用：</div>
													<div class="w100p">{{fee.feeInfo.checkFee}}</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>
						</div>
					</div>
					<div class="section">
						<div class="title">药方药品费用</div>
						<div class="pad10">
							<table class="pure-table pure-table-horizontal w100">
								<thead>
									<tr>
										<th>药品</th>
										<th>批次</th>
										<th>单价</th>
										<th>总量</th>
										<th>是否优惠</th>
									</tr>
								</thead>
								<tbody>
									<ng-container *ngFor="let medical of fee.feeInfo.medicalFeeList">
										<tr *ngFor="let info of medical.info">
											<td>{{info.pname}}</td>
											<td>{{info.batch}}</td>
											<td>{{info.price}}</td>
											<td>{{info.num}}</td>
											<td>{{info.canDiscount == '0' ? '不可优惠' : '可以优惠'}}</td>
										</tr>
									</ng-container>
									<tr>
										<td colspan="5">
											<div class="flex">
												<div class="flex-1 text-right">费用合计：</div>
												<div class="w100p">{{fee.feeInfo.medicalOriginalFee}}</div>
											</div>
										</td>
									</tr>
									<ng-container *ngIf="fee.feeInfo.medicalOriginalFee != fee.feeInfo.medicalDiscount">
										<tr>
											<td colspan="5">
												<div class="flex">
													<div class="flex-1 text-right">折扣金额：</div>
													<div class="w100p">{{fee.feeInfo.medicalDiscount}}</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="5">
												<div class="flex">
													<div class="flex-1 text-right">应收费用：</div>
													<div class="w100p">{{fee.feeInfo.medicalFee}}</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>
						</div>
					</div>
					<div class="section">
						<div class="title">其他费用</div>
						<div class="pad10">
							<table class="pure-table pure-table-horizontal w100">
								<thead>
									<tr>
										<th>消费项目</th>
										<th>费用</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let other of fee.feeInfo.otherFeeList">
										<td>{{other.projectName}}</td>
										<td>{{other.fee}}</td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="flex">
												<div class="flex-1 text-right">费用合计：</div>
												<div class="w100p">{{fee.feeInfo.otherOriginalFee}}</div>
											</div>
										</td>
									</tr>
									<ng-container *ngIf="fee.feeInfo.otherOriginalFee != fee.feeInfo.otherDiscount">
										<tr>
											<td colspan="2">
												<div class="flex">
													<div class="flex-1 text-right">折扣金额：</div>
													<div class="w100p">{{fee.feeInfo.otherDiscount}}</div>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<div class="flex">
													<div class="flex-1 text-right">应收费用：</div>
													<div class="w100p">{{fee.feeInfo.otherFee}}</div>
												</div>
											</td>
										</tr>
									</ng-container>
								</tbody>
							</table>
						</div>
					</div>
					<div class="section">
						<div class="title flex">
							<div class="flex-1 text-right">费用合计：</div>
							<div class="w100p">{{fee.originalCost}}</div>
						</div>
					</div>
					<div class="section">
						<div class="title flex">
							<div class="flex-1 text-right">应收费用：</div>
							<div class="w100p">{{fee.fee}}</div>
						</div>
					</div>
					<div *ngIf="bookingInfo.status == '5'" class="section">
						<div class="title">
							备注：{{fee.remark}}
						</div>
					</div>
					<div class="mt10 text-right">
						<button *ngIf="bookingInfo.status == '5'" class="pure-button">订单已完成</button>
						<button *ngIf="bookingInfo.status != '5' && fee.canPay == '1'" (click)="pay()" class="pure-button pure-button-primary">支付</button>
						<button *ngIf="bookingInfo.status != '5' && fee.canPay == '0'" class="pure-button">操作未完成，不能完成支付(退药操作未完成)</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">支付</div>
		<div class="content pad10 pure-form form-tab">
			<div class="pure-control-group flex">
				<label for="user" class="w120p">用户：</label>
				<label class="flex-1">{{bookingInfo.creatorName}}</label>
			</div>
			<div *ngIf="userMember.member" class="pure-control-group flex">
				<label for="member" class="w120p">余额：</label>
				<label class="flex-1">{{userMember.balance}}</label>
			</div>
			<div class="pure-control-group flex">
				<label for="fee" class="w120p">消费金额：</label>
				<label class="flex-1">{{fee.fee}}</label>
			</div>
			<div class="pure-control-group flex">
				<label for="pay_way" class="w120p">
					<span>支付方式</span>
					<span class="required">*</span>：
				</label>
				<select id="pay_way" name="pay_way" [(ngModel)]="payInfo.payWay" class="flex-1">
					<option value="ali">支付宝支付</option>
					<option value="wechat">微信支付</option>
					<option value="card">刷卡支付</option>
					<option value="member" [disabled]="!userMember.member || !payInfo.memberBalance">会员余额支付{{userMember.member ? (payInfo.memberBalance ? '' : '（余额不足）') : '（暂未升级会员）'}}</option>
					<option value="money">现金支付</option>
				</select>
			</div>
			<div class="pure-control-group flex mt10">
				<label for="give_amount" class="w120p">减免金额：</label>
				<input type="number" id="give_amount" name="give_amount" step="0.01" [(ngModel)]="payInfo.give_amount" placeholder="请输入减免金额" class="flex-1">
			</div>
			<div class="pure-control-group flex mt10">
				<label for="remark" class="w120p">减免金额原因（最多200字）：</label>
				<textarea id="remark" name="remark" maxlength="200" [(ngModel)]="payInfo.remark" placeholder="请输入减免金额原因" class="flex-1"></textarea>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">取消</button>
			<button (click)="confirmPay()" class="pure-button pure-button-primary">确认支付</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
