<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-booking-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="flex pure-form">
				<div class="flex-1">
					<button (click)="create()" class="pure-button pure-button-primary">新增预约</button>
					<button (click)="checkTab(0)" class="pure-button pure-button-primary">日历</button>
					<button (click)="checkTab(1)" class="pure-button pure-button-primary">列表</button>
				</div>
				<div class="pure-control-group mr10">
					<label for="doctor_id">医生：</label>
					<select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
						<ng-container *ngFor="let doctor of doctorlist">
							<option value="{{doctor.id}}">{{doctor.realName}}</option>
						</ng-container>
					</select>
				</div>
				<div class="pure-control-group mr10">
					<label for="service_id">科室：</label>
					<select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
						<ng-container *ngFor="let service of servicelist">
							<option value="{{service.serviceId}}">{{service.serviceName}}</option>
						</ng-container>
					</select>
				</div>
				<div class="pure-control-group mr10">
					<label for="creator_name">用户名：</label>
					<input type="text" id="creator_name" name="creator_name" [(ngModel)]="searchInfo.creator_name" class="w100p" placeholder="请输入用户名">
				</div>
				<div class="pure-control-group" [ngClass]="{'mr10': selectedTab == 0}">
					<label for="mobile">手机号码：</label>
					<input type="tel" id="mobile" name="mobile" [(ngModel)]="searchInfo.mobile" maxlength="11" class="w100p" placeholder="请输入手机号码">
				</div>
				<button *ngIf="selectedTab == 0" (click)="search()" class="pure-button pure-button-primary">搜索</button>
			</div>
			<div *ngIf="selectedTab == 1" class="flex pure-form mt10">
				<div class="flex-1"></div>
				<div class="pure-control-group mr10">
					<label for="cdate_big">创建时间大于：</label>
					<input type="date" id="cdate_big" name="cdate_big" [(ngModel)]="searchInfo.cdate_big">
				</div>
				<div class="pure-control-group mr10">
					<label for="cdate_less">创建时间小于：</label>
					<input type="date" id="cdate_less" name="cdate_less" [(ngModel)]="searchInfo.cdate_less">
				</div>
				<div class="pure-control-group mr10">
					<label for="bdate_big">预约时间大于：</label>
					<input type="date" id="bdate_big" name="bdate_big" [(ngModel)]="searchInfo.bdate_big">
				</div>
				<div class="pure-control-group mr10">
					<label for="bdate_less">预约时间小于：</label>
					<input type="date" id="bdate_less" name="bdate_less" [(ngModel)]="searchInfo.bdate_less">
				</div>
				<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
			</div>
			<div class="weeklist" *ngIf="selectedTab == 0">
				<div class="pb10 mt10">
					<button (click)="prec()" class="pure-button pure-button-primary">上一周</button>
					<button (click)="now()" class="pure-button pure-button-primary">本周</button>
					<button (click)="next()" class="pure-button pure-button-primary">下一周</button>
				</div>
				<div class="week-tab">
					<div class="pure-g title-tab">
						<div class="pure-u-3-24 title"></div>
						<div class="pure-u-3-24 title" *ngFor="let title of weektitle">
							<span class="pr10">{{title.title}}</span>
							<span>{{title.date}}</span>
						</div>
					</div>
					<div class="pure-g content-tab">
						<div class="pure-u-3-24 time-tab">
							<div class="time" *ngFor="let time of timelist">{{time.key}}</div>
						</div>
						<div class="pure-u-3-24 info-tab" *ngFor="let week of weeklist">
							<div class="info text-center" *ngFor="let time of week.timeList">
								<span (click)="show(time.value, week.use)" *ngIf="time.value.length > 0" class="num">{{time.value.length}}人</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bookinglist" *ngIf="selectedTab == 1">
				<div class="pure-g">
					<div class="pure-u-6-24 booking-tab pad10" *ngFor="let booking of bookinglist">
						<div class="info pad10">
							<div class="flex">
								<div class="w70p">预约医生：</div>
								<div class="flex-1">
									{{booking.services.length > 0 ? booking.services[0].userDoctorName : ''}}
								</div>
							</div>
							<div class="flex">
								<div class="w70p">预约服务：</div>
								<div class="flex-1">
									{{booking.services.length > 0 ? booking.services[0].serviceName : ''}}
								</div>
							</div>
							<div class="flex">
								<div class="w70p">预约日期：</div>
								<div class="flex-1">
									{{booking.bookingDate}}
								</div>
							</div>
							<div class="flex">
								<div class="w70p">预约时间：</div>
								<div class="flex-1">
									{{booking.time}}
								</div>
							</div>
							<div class="flex">
								<div class="w70p">小孩姓名：</div>
								<div class="flex-1">
									{{booking.childName}}
								</div>
							</div>
							<div class="flex">
								<div class="w70p">小孩年龄：</div>
								<div class="flex-1">
									{{booking.age}}
								</div>
							</div>
						</div>
						<div class="flex">
							<a class="edit flex-1 pad10 text-center" (click)="info(booking.bookingId)">
								查看
							</a>
						</div>
					</div>
				</div>
				<div *ngIf="hasData && bookinglist.length == 0">
					<nodata title="未查询到预约信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">预约信息</div>
		<div class="content pad10">
			<div class="pure-g pt10 pb10">
				<div class="pure-u-2-24">姓名</div>
				<div class="pure-u-3-24">年龄</div>
				<div class="pure-u-4-24">预约医生</div>
				<div class="pure-u-4-24">预约服务</div>
				<div class="pure-u-4-24">预约时间</div>
				<div class="pure-u-4-24">状态</div>
				<div class="pure-u-3-34">操作</div>
			</div>
			<div class="list">
				<div (click)="info(showBooking.bookingId)" class="pure-g item pt10 pb10" *ngFor="let showBooking of showBookinglist">
					<div class="pure-u-2-24">{{showBooking.childName}}</div>
					<div class="pure-u-3-24">{{showBooking.age}}</div>
					<div class="pure-u-4-24">{{showBooking.services.length > 0 ? showBooking.services[0].userDoctorName : ''}}</div>
					<div class="pure-u-4-24">{{showBooking.services.length > 0 ? showBooking.services[0].serviceName : ''}}</div>
					<div class="pure-u-4-24">
						<span>{{showBooking.bookingDate}}</span>
						<span>{{showBooking.time}}</span>
					</div>
					<div class="pure-u-4-24">{{showBooking.statusText}}</div>
					<div *ngIf="showBooking.status == 3">
						<button (click)="complete(showBooking); $event.stopPropagation();" class="pure-button pure-button-primary">完成预约</button>
					</div>
					<div *ngIf="showBooking.status != 3">
						-
					</div>
				</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button pure-button-primary">取消</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			{{selectorBooking.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button pure-button-primary">取消</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>