.admin-booking-charge{
	.booking-tab{
		.info{
			background-color: #39A99D;
			color: #fff;
			height: 120px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.edit{
			border-width: 0 1px 1px 1px;
			border-style: solid;
			border-color: #39A99D;
			color: #39A99D;
			display: block;
		}
	}
}