<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-booking-casehistory">
			<top-bar [data]="topBar"></top-bar>
			<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
				<fieldset>
					<div class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="name">姓名：</label>
								<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="info.name" disabled="">
							</div>
						</div>
						<div class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="age">年龄：</label>
								<input type="text" id="age" name="age" #age="ngModel" [(ngModel)]="info.age" disabled="">
							</div>
						</div>
						<div class="pure-u-8-24"></div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="weight">体重：</label>
								<input type="number" id="weight" name="weight" #weight="ngModel" [(ngModel)]="info.weight" placeholder="Kg">
							</div>
						</div>
						<div class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="head_circum">头围：</label>
								<input type="number" id="head_circum" name="head_circum" #head_circum="ngModel" [(ngModel)]="info.head_circum" placeholder="（3岁及以下）cm">
							</div>
						</div>
						<div class="pure-u-8-24 pl10">
							<div class="pure-control-group">
								<label for="breast_circum">胸围：</label>
								<input type="number" id="breast_circum" name="breast_circum" #breast_circum="ngModel" [(ngModel)]="info.breast_circum" placeholder="cm">
							</div>
						</div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="height">身高：</label>
								<input type="number" id="height" name="height" #height="ngModel" [(ngModel)]="info.height" placeholder="cm">
							</div>
						</div>
						<div class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="teeth">牙齿：</label>
								<input type="number" id="teeth" name="teeth" #teeth="ngModel" [(ngModel)]="info.teeth" placeholder="枚">
							</div>
						</div>
						<div class="pure-u-8-24"></div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="topic_comment">主诉：</label>
								<textarea id="topic_comment" name="topic_comment" #topic_comment="ngModel" [(ngModel)]="info.topic_comment"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="present_illness">现病史：</label>
								<textarea id="present_illness" name="present_illness" #present_illness="ngModel" [(ngModel)]="info.present_illness"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="previous_history">既往史：</label>
								<textarea id="previous_history" name="previous_history" #previous_history="ngModel" [(ngModel)]="info.previous_history"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="allergy">过敏史（食物、药物及其他）：</label>
								<textarea id="allergy" name="allergy" #allergy="ngModel" [(ngModel)]="info.allergy"></textarea>
							</div>
						</div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="body_temperature">体温（T）：</label>
								<input type="text" id="body_temperature" name="body_temperature" #body_temperature="ngModel" [(ngModel)]="info.body_temperature" placeholder="°C">
							</div>
						</div>
						<div class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="breathe">呼吸（P）：</label>
								<input type="text" id="breathe" name="breathe" #breathe="ngModel" [(ngModel)]="info.breathe" placeholder="次/分">
							</div>
						</div>
						<div class="pure-u-8-24 pl10">
							<div class="pure-control-group">
								<label for="blood_pressure">血压（BP）：</label>
								<input type="text" id="blood_pressure" name="blood_pressure" #blood_pressure="ngModel" [(ngModel)]="info.blood_pressure" placeholder="mmHg">
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="face_neck">面、颈部：</label>
								<textarea id="face_neck" name="face_neck" #face_neck="ngModel" [(ngModel)]="info.face_neck"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="heart_lung">心肺：</label>
								<textarea id="heart_lung" name="heart_lung" #heart_lung="ngModel" [(ngModel)]="info.heart_lung"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="abdomen">腹部：</label>
								<textarea id="abdomen" name="abdomen" #abdomen="ngModel" [(ngModel)]="info.abdomen"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="limbs">四肢：</label>
								<textarea id="limbs" name="limbs" #limbs="ngModel" [(ngModel)]="info.limbs"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="nervous_system">神经系统：</label>
								<textarea id="nervous_system" name="nervous_system" #nervous_system="ngModel" [(ngModel)]="info.nervous_system"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="blood_routine_examination">血常规：</label>
								<div class="flex">
									<div class="radio mr10" (click)="changeRedio('正常', 'blood_routine_examination')" [ngClass]="{'active': info.blood_routine_examination == '正常'}">
										正常
									</div>
									<div class="radio mr10" (click)="changeRedio('贫血', 'blood_routine_examination')" [ngClass]="{'active': info.blood_routine_examination == '贫血'}">
										贫血
									</div>
									<div class="radio mr10" (click)="changeRedio('白细胞高值', 'blood_routine_examination')" [ngClass]="{'active': info.blood_routine_examination == '白细胞高值'}">
										白细胞高值
									</div>
									<div class="mr10" (click)="changeRedio('', 'blood_routine_examination_other')">
										<input type="text" name="blood_routine_examination_other" #blood_routine_examination_other="ngModel" [(ngModel)]="info.blood_routine_examination_other" placeholder="其他" class="mt0 mb0 w210p">
									</div>
									<div class="flex-1"></div>
								</div>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="routine_urine">尿常规：</label>
								<div class="flex">
									<div class="radio mr10" (click)="changeRedio('正常', 'routine_urine')" [ngClass]="{'active': info.routine_urine == '正常'}">
										正常
									</div>
									<div class="mr10" (click)="changeRedio('', 'routine_urine_other')">
										<input type="text" name="routine_urine_other" #routine_urine_other="ngModel" [(ngModel)]="info.routine_urine_other" placeholder="其他" class="mt0 mb0 w210p">
									</div>
									<div class="flex-1"></div>
								</div>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="bone_density">骨密度：</label>
								<div class="flex">
									<div class="radio mr10" (click)="changeRedio('正常', 'bone_density')" [ngClass]="{'active': info.bone_density == '正常'}">
										正常
									</div>
									<div class="radio mr10" (click)="changeRedio('钙缺乏', 'bone_density')" [ngClass]="{'active': info.bone_density == '钙缺乏'}">
										钙缺乏
									</div>
									<div class="flex-1"></div>
								</div>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="BALP">骨碱性磷酸酶（锌元素缺乏会影响准确性）：</label>
								<div class="flex">
									<div class="radio mr10" (click)="changeRedio('正常', 'BALP')" [ngClass]="{'active': info.BALP == '正常'}">
										正常
									</div>
									<div class="mr10" (click)="changeRedio('', 'BALP_other')">
										<input type="text" name="BALP_other" #BALP_other="ngModel" [(ngModel)]="info.BALP_other" placeholder="其他" class="mt0 mb0 w210p">
									</div>
									<div class="flex-1"></div>
								</div>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="trace_element">微量元素：</label>
								<div class="flex">
									<div class="radio mr10" (click)="changeRedio('正常', 'trace_element')" [ngClass]="{'active': info.trace_element == '正常'}">
										正常
									</div>
									<div class="mr10" (click)="changeRedio('', 'trace_element_other')">
										<input type="text" name="trace_element_other" #trace_element_other="ngModel" [(ngModel)]="info.trace_element_other" placeholder="其他" class="mt0 mb0 w210p">
									</div>
									<div class="flex-1"></div>
								</div>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="diagnosis">诊断：</label>
								<textarea id="diagnosis" name="diagnosis" #diagnosis="ngModel" [(ngModel)]="info.diagnosis"></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="prescription">处方：</label>
								<textarea id="prescription" name="prescription" #prescription="ngModel" [(ngModel)]="info.prescription" disabled=""></textarea>
							</div>
						</div>
						<div class="pure-u-24-24">
							<div class="pure-control-group">
								<label for="advise">建议：</label>
								<textarea id="advise" name="advise" #advise="ngModel" [(ngModel)]="info.advise"></textarea>
							</div>
						</div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="time">就诊日期：</label>
								<input type="date" id="time" name="time" #time="ngModel" [(ngModel)]="info.time">
							</div>
						</div>
					</div>
					<div class="text-center mt10">
						<button (click)="create(f)" class="pure-button pure-button-primary">{{editType == 'create' ? '创建' : '修改'}}</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>