<header-nav></header-nav>
<div class="content-section admin-booking-info">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="moduleAuthority.update && (booking.status == '1' || booking.status == '2') && canEdit">
		<button (click)="updateBooking()" class="pure-button pure-button-primary">修改</button>
	</div>
	<div class="tab">
		<div class="item flex">
			<label>家长姓名</label>
			<div class="info">{{booking.creatorName}}</div>
		</div>
		<div class="item flex">
			<label>宝宝姓名</label>
			<div class="info">{{booking.childName}}</div>
		</div>
		<div class="item flex">
			<label>年龄</label>
			<div class="info">{{booking.age}}</div>
		</div>
		<div class="item flex">
			<label>备注</label>
			<div class="info">{{booking.remark}}</div>
		</div>
		<div class="item flex">
			<div class="info flex-1">
				<table class="pure-table w100">
					<thead>
						<tr>
							<th>预约科室</th>
							<th>预约医生</th>
							<th>预约日期</th>
							<th>预约时间</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{service.serviceName}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceDate}}</td>
							<td>{{service.serviceTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="item flex">
			<div class="info flex-1">
				<table class="pure-table w100">
					<thead>
						<tr>
							<th>消费项目</th>
							<th>费用</th>
							<th>备注说明</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{fee.projectName}}</td>
							<td>{{fee.fee}}</td>
							<td>{{fee.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
