<header-nav></header-nav>
<div class="content admin-booking-in">
	<top-bar [data]="topBar"></top-bar>
	<div class="text-right">
		<button (click)="todayBooking()" class="pure-button pure-button-primary">今日预约</button>
	</div>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<div class="pure-g">
				<div class="pure-u-1-5"></div>
				<div class="pure-u-3-5">
					<div class="pure-control-group">
						<label for="service">预约科室</label>
						<select id="service" name="service" (change)="serviceChange($event.target.value)" [(ngModel)]="bookingInfo.service" #service="ngModel">
							<ng-container *ngFor="let service of servicelist">
								<option value="{{service.string}}">{{service.serviceName}}</option>
							</ng-container>
						</select>
					</div>
					<div class="pure-control-group">
						<label for="user_doctor">预约医生</label>
						<select id="user_doctor" name="user_doctor" [(ngModel)]="bookingInfo.user_doctor" #user_doctor="ngModel" (change)="doctorChange()">
							<ng-container *ngFor="let doctor of doctorlist">
								<option value="{{doctor.string}}">{{doctor.doctorName}}</option>
							</ng-container>
						</select>
					</div>
					<div class="pure-control-group">
						<label for="booking_date">预约日期</label>
						<select id="booking_date" name="booking_date" [(ngModel)]="bookingInfo.booking_date" #booking_date="ngModel" (change)="dateChange()">
							<ng-container *ngFor="let date of doctorDutys">
								<option value="{{date.string}}">{{date.dutyDate}}{{date.weekDay}}</option>
							</ng-container>
						</select>
					</div>
					<div class="pure-control-group">
						<label for="time">
							<span>预约时间段（请先选择日期）：</span>
							<span class="can">可预约颜色（蓝色）</span>
							<span class="overdue">不可选颜色（灰色）</span>
							<span class="already">已预约颜色（红色）</span>
							<span class="selected">已选中颜色（绿色）</span>
						</label>
						<div *ngIf="timelist.length > 0" class="time-list flex flex-wrap">
							<ng-container *ngFor="let time of timelist; let index=index;">
								<div class="w25" [ngClass]="{'text-center': index % 4 == 1 || index % 4 == 2, 'text-right': index % 4 == 3}">
									<div
										(click)="selectTime(time, bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)"
										class="item"
										[ngClass]="{'active': time.value == bookingInfo.timeInfo, 'disabled': time.type != 'can' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'can': time.type == 'can' || (bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'overdue': time.type == 'overdue' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'already': time.type == 'already' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)}">
										<div class="flex">
											<div class="radioTab mr10">
												<ng-container *ngIf="time.type == 'already' && time.value != bookingInfo.timeInfo && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)">
													x
												</ng-container>
											</div>
											<div class="flex-1">{{time.value}}</div>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
						<!-- <select id="time" name="time" [(ngModel)]="bookingInfo.timeInfo" #timeInfo="ngModel">
							<ng-container *ngFor="let time of timelist">
								<option value="{{time.value}}" *ngIf="time.use">{{time.value}}</option>
								<option value="{{time.value}}" *ngIf="!time.use" disabled="">{{time.value}}{{time.type}}</option>
							</ng-container>
						</select> -->
					</div>
					<div *ngIf="booking.refNo ==''" class="pure-control-group">
						<label for="child">预约宝宝</label>
						<select-search [title]="selectSearchTitle" [selectList]="childlist" (onVoted)="onVoted($event)"></select-search>
					</div>
					<div *ngIf="booking.refNo !=''" class="pure-control-group">
						<label for="child">预约宝宝</label>
						<select id="child" name="child" disabled="">
							<option value="">{{booking.childName}}</option>
						</select>
					</div>
					<div class="pure-control-group">
						<label for="remark">备注（最多200字）</label>
						<textarea id="remark" name="remark" maxlength="200" [(ngModel)]="bookingInfo.remark"></textarea>
					</div>
				</div>
				<div class="pure-u-1-5"></div>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="editIn(f)" class="pure-button pure-button-primary" [disabled]="canEdit">登记</button>
		</div>
	</form>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">今日预约</div>
		<div class="content pad10">
			<table *ngIf="bookinglist.length > 0" class="pure-table pure-table-horizontal w100">
				<thead>
					<tr>
						<th>姓名</th>
						<th>年龄</th>
						<th>预约医生</th>
						<th>预约服务</th>
						<th>预约时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let booking of bookinglist" class="cursor-p">
						<tr *ngFor="let service of booking.services; let indexService=index;">
							<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == '0'">{{booking.childName}}</td>
							<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == '0'">{{booking.age}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceName}}</td>
							<td>
								<span>{{service.serviceDate}}</span>
								<span>{{service.serviceTime}}</span>
							</td>
							<td>
								<button (click)="show(booking)" class="pure-button pure-button-primary">选定</button>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
			<p *ngIf="bookinglist.length == 0">暂无预约</p>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTabBooking">
	<div class="modal-mask" (click)="closeBooking()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			<div class="pure-form">
				<label>{{this.bookingInfo.service_name}}：{{this.bookingInfo.service_fee}}</label>
			</div>
			<div class="pure-form">
				<label for="booking_fee">预约金（预约金应小于服务费）</label>
				<input type="number" id="booking_fee" name="booking_fee" step="0.01" [(ngModel)]="bookingInfo.booking_fee" placeholder="请输入预约金">
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
			<button (click)="confirmBooking()" class="pure-button pure-button-primary">创建预约</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
