<header-nav></header-nav>
<div class="content-section admin-booking-assist-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex pure-form search-tab max mt10">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10">
			<label for="assist_id">辅助项目：</label>
			<select id="assist_id" name="assist_id" [(ngModel)]="info.assist_id">
				<option value=""></option>
				<ng-container *ngFor="let assist of assistList">
					<option value="{{assist.id}}">{{assist.name}}</option>
				</ng-container>
			</select>
		</div>
		<div class="pure-control-group mr10">
			<label for="doctor_name">医生姓名：</label>
			<input type="text" id="doctor_name" name="doctor_name" [(ngModel)]="info.doctor_name" placeholder="请输入医生名">
		</div>
		<div class="pure-control-group mr10">
			<label for="child_name">宝宝姓名：</label>
			<input type="text" id="child_name" name="child_name" [(ngModel)]="info.child_name" placeholder="请输入宝宝名">
		</div>
		<div class="w64p"></div>
	</div>
	<div class="flex pure-form search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10 flex">
			<label for="bdate_big">时间：</label>
			<select-date title="请选择日期" [dateText]="info.bdate_big_text" [endDate]="info.bdate_less_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_big')"></select-date>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="bdate_less">至：</label>
			<select-date title="请选择日期" [dateText]="info.bdate_less_text" [startDate]="info.bdate_big_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_less')"></select-date>
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div>
		<div *ngIf="bookingAssistList.length > 0" class="pure-g">
			<ng-container *ngFor="let bookingAssist of bookingAssistList">
				<div class="pure-u-6-24 card-tab pad10">
					<div class="info pad10 flex max">
						<div class="img-tab-default mr10">
							<img (click)="childInfo(bookingAssist.infoList[0].childId)" src="{{bookingAssist.infoList[0].childUrl == '' || bookingAssist.infoList[0].childUrl == null ? '../assets/images/img.png' : bookingAssist.infoList[0].childUrl}}" class="cursor-p">
						</div>
						<div class="flex-1">
							<div>{{bookingAssist.infoList[0].childName}}</div>
							<div class="flex pt10 pb10">
								<div class="w90p">开单医生：</div>
								<div class="flex-1">
									{{bookingAssist.infoList[0].doctorName}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">时间：</div>
								<div class="flex-1">
									{{bookingAssist.infoList[0].bookingDate}}
								</div>
							</div>
							<div *ngFor="let info of bookingAssist.infoList" class="flex pt10">
								<div class="flex-1">
									{{info.name}}（{{info.number}}次）
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
		<div *ngIf="hasData && bookingAssistList.length == 0" class="mt10">
			<nodata title="未查询到辅助治疗"></nodata>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
<nll-toast-box></nll-toast-box>
