	<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-booking-in">
			<top-bar [data]="topBar"></top-bar>
			<div class="button-tab">
				<button (click)="todayBooking()" class="pure-button pure-button-primary">今日预约</button>
			</div>
			<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
				<fieldset>
					<div class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="service">预约科室</label>
								<select id="service" name="service" (change)="serviceChange($event.target.value)" [(ngModel)]="bookingInfo.service" #service="ngModel">
									<ng-container *ngFor="let service of servicelist">
										<option value="{{service.string}}">{{service.serviceName}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="user_doctor">预约医生</label>
								<select id="user_doctor" name="user_doctor" [(ngModel)]="bookingInfo.user_doctor" #user_doctor="ngModel" (change)="doctorChange()">
									<ng-container *ngFor="let doctor of doctorlist">
										<option value="{{doctor.string}}">{{doctor.doctorName}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24 pl10">
							<div class="pure-control-group">
								<label for="booking_date">预约日期</label>
								<select id="booking_date" name="booking_date" [(ngModel)]="bookingInfo.booking_date" #booking_date="ngModel" (change)="dateChange()">
									<ng-container *ngFor="let date of doctorDutys">
										<option value="{{date.string}}">{{date.dutyDate}}{{date.weekDay}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="time">预约时间段</label>
								<select id="time" name="time" [(ngModel)]="bookingInfo.timeInfo" #timeInfo="ngModel">
									<ng-container *ngFor="let time of timelist">
										<option value="{{time.value}}" *ngIf="time.use">{{time.value}}</option>
										<option value="{{time.value}}" *ngIf="!time.use" disabled="">{{time.value}}{{time.type}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div *ngIf="booking.refNo ==''" class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="child">预约小孩</label>
								<select-search [title]="selectSearchTitle" [selectList]="childlist" (onVoted)="onVoted($event)"></select-search>
							</div>
						</div>
						<div *ngIf="booking.refNo !=''" class="pure-u-8-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="child">预约小孩</label>
								<select id="child" name="child" disabled="">
									<option value="">{{booking.childName}}</option>
								</select>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="text-center">
					<button (click)="editIn(f)" class="pure-button pure-button-primary">登记</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">今日预约</div>
		<div class="content pad10">
			<table class="pure-table pure-table-horizontal w100">
				<thead>
					<tr>
						<th>姓名</th>
						<th>年龄</th>
						<th>预约医生</th>
						<th>预约服务</th>
						<th>预约时间</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let booking of bookinglist" class="cursor-p">
						<tr (click)="show(booking)" *ngFor="let service of booking.services; let indexService=index;">
							<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == '0'">{{booking.childName}}</td>
							<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == '0'">{{booking.age}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceName}}</td>
							<td>
								<span>{{service.serviceDate}}</span>
								<span>{{service.serviceTime}}</span>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button pure-button-primary">取消</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
