<header-nav></header-nav>
<div class="content admin-create-booking">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<form class="pure-form pure-form-stacked form-tab">
				<fieldset>
					<!-- <div class="pure-control-group">
						<label for="type">预约类型</label>
						<select id="type" name="type" [(ngModel)]="bookingInfo.type" #type="ngModel" (change)="typeChange($event.target.value)" required="">
							<option value="PT">普通号</option>
							<option value="ZJ">专家号</option>
						</select>
						<div *ngIf="type.errors && (type.dity || type.touched)" class="alert alert-danger">
							<div [hidden]="!type.errors.required">
								预约类型不可为空
							</div>
						</div>
					</div> -->
					<div class="pure-control-group">
						<label for="service">
							<span>预约科室</span>
							<span class="required">*</span>
						</label>
						<select id="service" name="service" (change)="serviceChange($event.target.value)" [(ngModel)]="bookingInfo.service" #service="ngModel" required="">
							<ng-container *ngFor="let service of servicelist">
								<option value="{{service.string}}">{{service.serviceName}}：{{service.fee}}</option>
							</ng-container>
						</select>
						<div *ngIf="service.errors && (service.dity || service.touched)" class="alert alert-danger">
							<div [hidden]="!service.errors.required">
								服务不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group" *ngIf="bookingInfo.type == 'PT'">
						<label for="booking_date">
							<span>预约日期</span>
							<span class="required">*</span>
						</label>
						<select id="booking_date" name="booking_date" [(ngModel)]="bookingInfo.booking_date" #booking_date="ngModel" (change)="dateChange()" required="">
							<ng-container *ngFor="let date of doctorDutys">
								<option *ngIf="date.use" value="{{date.string}}">{{date.dutyDate}}{{date.weekDay}}</option>
								<option *ngIf="!date.use" value="{{date.string}}" disabled="">{{date.dutyDate}}{{date.weekDay}}</option>
							</ng-container>
						</select>
						<div *ngIf="booking_date.errors && (booking_date.dity || booking_date.touched)" class="alert alert-danger">
							<div [hidden]="!booking_date.errors.required">
								预约日期不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group" *ngIf="bookingInfo.type == 'PT'">
						<label for="time">
							<span>预约时间段</span>
							<span class="required">*</span>
						</label>
						<select id="time" name="time" [(ngModel)]="bookingInfo.timeInfo" #timeInfo="ngModel" required="">
							<ng-container *ngFor="let time of timelist">
								<option value="{{time.value}}" *ngIf="time.use">{{time.value}}</option>
								<option value="{{time.value}}" *ngIf="!time.use" disabled="">{{time.value}}已预约</option>
							</ng-container>
						</select>
						<div *ngIf="timeInfo.errors && (timeInfo.dity || timeInfo.touched)" class="alert alert-danger">
							<div [hidden]="!timeInfo.errors.required">
								预约时间段不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group" *ngIf="bookingInfo.type == 'ZJ'">
						<label for="user_doctor">
							<span>预约医生</span>
							<span class="required">*</span>
						</label>
						<select id="user_doctor" name="user_doctor" [(ngModel)]="bookingInfo.user_doctor" #user_doctor="ngModel" (change)="doctorChange()" required="">
							<ng-container *ngFor="let doctor of doctorlist">
								<option value="{{doctor.string}}">{{doctor.doctorName}}</option>
							</ng-container>
						</select>
						<div *ngIf="user_doctor.errors && (user_doctor.dity || user_doctor.touched)" class="alert alert-danger">
							<div [hidden]="!user_doctor.errors.required">
								预约医生不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group" *ngIf="bookingInfo.type == 'ZJ'">
						<label for="booking_date">
							<span>预约日期</span>
							<span class="required">*</span>
						</label>
						<select id="booking_date" name="booking_date" [(ngModel)]="bookingInfo.booking_date" #booking_date="ngModel" (change)="dateChange()" required="">
							<ng-container *ngFor="let date of doctorDutys">
								<option value="{{date.string}}">{{date.dutyDate}}{{date.weekDay}}</option>
							</ng-container>
						</select>
						<div *ngIf="booking_date.errors && (booking_date.dity || booking_date.touched)" class="alert alert-danger">
							<div [hidden]="!booking_date.errors.required">
								预约日期不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group" *ngIf="bookingInfo.type == 'ZJ'">
						<label for="time">
							<span>预约时间段（请先选择日期）</span>
							<span class="required">*</span>
							<span class="can">：可预约颜色（蓝色）</span>
							<span class="overdue">不可选颜色（灰色）</span>
							<span class="already">已预约颜色（红色）</span>
							<span class="selected">已选中颜色（绿色）</span>
						</label>
						<div *ngIf="timelist.length > 0" class="time-list flex flex-wrap">
							<ng-container *ngFor="let time of timelist; let index=index;">
								<div class="w25" [ngClass]="{'text-center': index % 4 == 1 || index % 4 == 2, 'text-right': index % 4 == 3}">
									<div
										(click)="selectTime(time, bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)"
										class="item"
										[ngClass]="{'active': time.value == bookingInfo.timeInfo, 'disabled': time.type != 'can' && !(bookingInfo.bookingDate1 == booking.bookingDate2 && time.value == booking.time), 'can': time.type == 'can' || (bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'overdue': time.type == 'overdue' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'already': time.type == 'already' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)}">
										<div class="flex">
											<div class="radioTab mr10">
												<ng-container *ngIf="time.type == 'already' && time.value != bookingInfo.timeInfo && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)">
													x
												</ng-container>
											</div>
											<div class="flex-1">{{time.value}}</div>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>
					<div *ngIf="editType != 'update' && !listChild.childId" class="pure-control-group">
						<label for="child">
							<span>预约宝宝</span>
							<span class="required">*</span>
						</label>
						<select-search [title]="selectSearchTitle" [selectList]="childlist" (onVoted)="onVoted($event)"></select-search>
					</div>
					<div *ngIf="editType == 'update' || listChild.childId" class="pure-control-group">
						<label for="child">
							<span>预约宝宝</span>
							<span class="required">*</span>
						</label>
						<select id="child" name="child" disabled="">
							<option value="">{{bookingInfo.child_name}}</option>
						</select>
					</div>
					<div class="pure-control-group">
						<label for="remark">备注（最多200字）</label>
						<textarea id="remark" name="remark" maxlength="200" [(ngModel)]="bookingInfo.remark"></textarea>
					</div>
				</fieldset>
				<div class="text-center">
					<button *ngIf="editType == 'update'" (click)="cancalUpdate()" class="pure-button">取消修改</button>
					<button (click)="create()" class="pure-button pure-button-primary button-max" [disabled]="canEdit">{{editType == 'create' ? '创建' : '保存修改'}}</button>
				</div>
			</form>
		</div>
		<div class="pure-u-1-5"></div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			<div class="pure-form">
				<label>{{this.bookingInfo.service_name}}：{{this.bookingInfo.service_fee}}</label>
			</div>
			<div class="pure-form">
				<label for="booking_fee">预约金（预约金应小于服务费）</label>
				<input type="number" id="booking_fee" name="booking_fee" step="0.01" [(ngModel)]="bookingInfo.booking_fee" placeholder="请输入预约金">
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
			<button (click)="confirmBooking()" class="pure-button pure-button-primary">创建预约</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
