.admin-booking-in{
    .can{
        color: #0078e7;
    }
    .overdue{
        color: #cccccc;
    }
    .already{
        color: #ff5674;
    }
    .time-list{
        justify-content: space-between;
        .item{
            display: inline-block;
            padding: 5px 10px;
            margin-bottom: 10px;
            cursor: pointer;
            &.can{
                color: #0078e7;
                border: 1px solid #0078e7;
                .radioTab{
                    border: 1px solid #0078e7;
                }
            }
            &.overdue{
                color: #cccccc;
                border: 1px solid #cccccc;
                .radioTab{
                    border: 1px solid #cccccc;
                }
            }
            &.already{
                color: #ff5674;
                border: 1px solid #ff5674;
                .radioTab{
                    border: 1px solid #ff5674;
                }
            }
            &.disabled{
                cursor: not-allowed;
            }
            &.active{
                .radioTab{
                    background-color: #173267;
                }
            }
            .radioTab{
                width: 20px;
                height: 20px;
            }
        }
    }
}
