<!-- <header-nav></header-nav> -->
<div class="content-section admin-clinicroom-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item active">药品管理</div>
		<div class="item" *ngIf="moduleAuthority.seePut" (click)="goUrl('./admin/medical/purchaseList')">入库管理</div>
		<div class="item" *ngIf="moduleAuthority.seeHas" (click)="goUrl('./admin/medical/hasList')">库存管理</div>
		<div class="item" *ngIf="moduleAuthority.seeLost" (click)="goUrl('./admin/medical/lostList')">报损管理</div>
		<div class="item" *ngIf="moduleAuthority.seeCheck" (click)="goUrl('./admin/medical/checkList')">盘点管理</div>
	</div>
	<div class="flex pure-form mt10">
		<div class="flex-1">
			<button *ngIf="moduleAuthority.edit" (click)="goCreate()" class="pure-button pure-button-primary">新增药品</button>
		</div>
		<div class="pure-control-group mr10">
			<label for="name">药品名：</label>
			<input type="text" id="name" name="name" [(ngModel)]="info.name" placeholder="请输入药品名">
		</div>
		<div class="pure-control-group mr10">
			<label for="type">类型：</label>
			<select id="type" name="type" [(ngModel)]="info.type">
				<option value="1,2">全部</option>
				<option value="1">中成药</option>
				<option value="2">西药</option>
			</select>
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="">
		<table *ngIf="medicalSupplies.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th class="w7">药品名</th>
					<th class="w7">商品名</th>
					<th class="w7">生产厂家</th>
					<th class="w7">规格</th>
					<th class="w7">药品类型</th>
					<th class="w7">单位</th>
					<th class="w7">计量单位</th>
					<th class="w7">国药准字</th>
					<th class="w7">条形码</th>
					<th class="w7">售价</th>
					<th class="w7">能否优惠</th>
					<th class="w7">是否处方药</th>
					<th class="w7">一般用法</th>
					<th class="w7">注意事项</th>
					<th class="w7">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pure-form" *ngFor="let medicalSupplie of medicalSupplies">
					<td>{{medicalSupplie.name}}</td>
					<td>{{medicalSupplie.tradeName}}</td>
					<td>{{medicalSupplie.manufacturer}}</td>
					<td>{{medicalSupplie.format}}</td>
					<td>{{medicalSupplie.typeText}}</td>
					<td>{{medicalSupplie.unit}}</td>
					<td>{{medicalSupplie.oneUnit}}</td>
					<td>{{medicalSupplie.otc}}</td>
					<td>{{medicalSupplie.code}}</td>
					<td>{{medicalSupplie.price}}</td>
					<td>{{medicalSupplie.canDiscount == '0' ? '不可' : '可以'}}</td>
					<td>{{medicalSupplie.isPrescribed == '0' ? '非处方药' : '处方药'}}</td>
					<td>
						<div class="length-text">{{medicalSupplie.usage}}</div>
					</td>
					<td>
						<div class="length-text">{{medicalSupplie.remark}}</div>
					</td>
					<td>
						<button *ngIf="moduleAuthority.edit" (click)="update(medicalSupplie.id)" class="pure-button pure-button-primary">修改</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div *ngIf="hasData && medicalSupplies.length == 0" class="mt10">
			<nodata title="未查询到药品信息"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
