<!-- <header-nav></header-nav> -->
<div class="content-section admin-workbench-reception">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-title">排班信息</div>
	<div nz-row class="mt10 mb10">
		<div nz-col [nzSpan]="8">
			<button (click)="prec()" nz-button [nzType]="'primary'" [nzSize]="'large'">上一周</button>
			<button (click)="now()" nz-button [nzType]="'primary'" [nzSize]="'large'">本周</button>
			<button (click)="next()" nz-button [nzType]="'primary'" [nzSize]="'large'">下一周</button>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>医生：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select
						class="w100"
						nzAllowClear
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择医生'"
						[(ngModel)]="searchInfo.doctor"
						nzShowSearch>
						<nz-option
							*ngFor="let doctor of doctorList"
							[nzLabel]="doctor.realName"
							[nzValue]="doctor">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>科室：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select
						class="w100"
						nzAllowClear
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择科室'"
						[(ngModel)]="searchInfo.service"
						nzShowSearch>
						<nz-option
							*ngFor="let service of serviceList"
							[nzLabel]="service.serviceName"
							[nzValue]="service">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right mt10 mb10">
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
	</div>
	<nz-table #nzTable [nzDataSource]="schedulinglist" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
		<thead nz-thead>
			<tr>
				<th>医生</th>
				<ng-container *ngFor="let title of weektitle">
					<th>
						<div>{{title.date}}</div>
						<div>{{title.title}}</div>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody nz-tbody>
			<tr *ngFor="let scheduling of schedulinglist">
				<td>{{scheduling.realName}}</td>
				<ng-container>
					<td *ngFor="let day of scheduling.weekScheduling">
						<div *ngFor="let config of day.dutyConfigList">
							{{config}}
						</div>
					</td>
				</ng-container>
			</tr>
		</tbody>
		<span noResult>暂无医生排班信息</span>
	</nz-table>
	<div class="second-title">医生预约信息</div>
	<nz-table #nzTable [nzDataSource]="doctorBookingList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
		<thead nz-thead>
			<tr>
				<th>医生</th>
				<ng-container *ngFor="let title of weektitle">
					<th>
						<div>{{title.date}}</div>
						<div>{{title.title}}</div>
					</th>
				</ng-container>
			</tr>
		</thead>
		<tbody nz-tbody class="doctor-list">
			<tr *ngFor="let doctorBooking of doctorBookingList" class="item">
				<td>{{doctorBooking.doctorName}}</td>
				<ng-container>
					<td *ngFor="let day of doctorBooking.bookingWeekList" class="info">
						<div class="flex">
							<div class="flex-1"></div>
							<!-- 当天无预约时，只展示排班信息 -->
							<div *ngIf="day.bookingList.length == 0" (click)="showBooking(day, doctorBooking, 'duty')" class="hoverTab edit mr10">排班</div>
							<!-- 当天有预约，同事展示预约详情和排班信息 -->
							<div (click)="showBooking(day, doctorBooking, 'all')" *ngIf="day.num != '0'" class="edit mr10">{{day.num}}</div>
							<div (click)="goBooking(doctorBooking, day)" class="hoverTab edit" [ngClass]="{'disabled': !day.use}">预约</div>
							<div class="flex-1"></div>
						</div>
					</td>
				</ng-container>
			</tr>
		</tbody>
		<span noResult>暂无医生预约信息</span>
	</nz-table>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentConfirm" [nzFooter]="footerConfirm" (nzOnCancel)="closeConfirm()">
	<ng-template #contentConfirm>
    	<p>{{modalConfirm.text}}</p>
	</ng-template>
	<ng-template #footerConfirm>
		<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeConfirm()">关闭</button>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalTab" [nzWidth]="900" [nzTitle]="'信息'" [nzContent]="contentTab" [nzFooter]="footerTab" (nzOnCancel)="close()">
	<ng-template #contentTab>
		<div class="title mb10">
			{{selected.doctor}}
			<ng-container *ngIf="selected.doctorService.length > 0">
				（<span *ngFor="let service of selected.doctorService; let last=last;">{{service.serviceName}}<span *ngIf="!last">，</span></span>）
			</ng-container>
		</div>
		<nz-tabset *ngIf="selected.type == 'all'">
	 		<nz-tab>
				<ng-template #nzTabHeading>
		         	今日预约
		        </ng-template>
				<nz-table #nzTable [nzDataSource]="showBookinglist" [nzBordered]="true" [nzIsPagination]="false">
					<thead nz-thead>
						<tr>
							<th>预约科室</th>
							<th>宝宝姓名</th>
							<th>手机号码</th>
							<th>预约时间</th>
							<th class="th-width">备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody nz-tbody>
						<tr *ngFor="let showBooking of showBookinglist">
							<td>{{showBooking.serviceName}}</td>
							<td>{{showBooking.childName}}</td>
							<td>{{showBooking.mobile}}</td>
							<td>
								<span>{{showBooking.bookingDate}}</span>
								<span>{{showBooking.time}}</span>
							</td>
							<td>
								<div class="td-text">{{showBooking.remark}}</div>
							</td>
							<td>
								<button (click)="info(showBooking.bookingId)" nz-button [nzType]="'primary'" [nzSize]="'large'">详情</button>
							</td>
						</tr>
					</tbody>
				</nz-table>
	 		</nz-tab>
			<nz-tab>
				<ng-template #nzTabHeading>
		         	排班
		        </ng-template>
				<ng-container *ngTemplateOutlet="doctorDuty"></ng-container>
	 		</nz-tab>
   		</nz-tabset>
		<ng-container *ngIf="selected.type != 'all'">
			<ng-container *ngTemplateOutlet="doctorDuty"></ng-container>
		</ng-container>
		<ng-template #doctorDuty>
			<div *ngIf="hasDutyData && doctorDutyList.length == 0">
				<nz-alert [nzType]="'success'" [nzMessage]="'未查询到排班信息，请先排班'"></nz-alert>
			</div>
			<div class="left-right-tab">
				<div class="right-tab">
					<div *ngFor="let duty of doctorDutyList" class="section">
						<div class="title">
							<span>{{duty.weekDay}}</span>
							<span>{{duty.dutyDate}}</span>
						</div>
						<div class="list-item">
							<div class="item" *ngFor="let item of duty.list">
								<span>{{item.date}}</span>
								<span>{{item.use}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</ng-template>
	<ng-template #footerTab>
		<button (click)="close()" nz-button [nzType]="'default'" [nzSize]="'large'">关闭</button>
		<span class="ml10">
			<e-ngx-print
				[btnText]="'打印'"
				[btnClass]="{'ant-btn': true, 'ant-btn-primary': true, 'ant-btn-lg': true}"
				[printHTML]="print_div_workbench"
				[printStyle]="printStyle"
				(printComplete)="printComplete()">
			</e-ngx-print>
		</span>
		<div style="display:none;">
			<div id="print_div_workbench" #print_div_workbench>
				<ng-container *ngFor="let showBooking of showBookinglist">
					<div class="print-container" id="print-container">
						<div class="">
							<div class="flex">
								<div class="flex-1 font-bold">
									Name：{{showBooking.childName}}
								</div>
								<div>
									Gender：{{showBooking.genderText}}
								</div>
							</div>
							<div class="font-bold">
								Age：{{showBooking.age}}
							</div>
							<div>
								DOB：{{showBooking.birthDate}}
							</div>
							<div  class="font-bold">
								Date：{{showBooking.bookingDateText}} {{showBooking.time}}
							</div>
							<div class="font-bold">
								Dr：{{showBooking.userDoctorName}}
							</div>
							<div>
								Dept：{{showBooking.serviceName}}
							</div>
							<div>
								Ref No：{{showBooking.refNo}}
							</div>
							<div class="flex">
								<div class="flex-1">
									Bal：{{showBooking.userBalance}}元
								</div>
								<div *ngIf="showBooking.tuina != null">
									M：{{showBooking.tuina}}次
								</div>
							</div>
							<!-- <div *ngIf="showBooking.tuina != null">
							M：{{showBooking.tuina}}次
						</div> -->
					</div>
				</div>
			</ng-container>
		</div>
	</div>
	</ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
