.admin-workbench-reception{
	.list-tab{
		border: 1px solid #efefef;
		.title-tab{
			.title{
				padding: 5px;
				border-right: 1px solid #efefef;
				&:last-child{
					border-right: none;
				}
			}
		}
		.doctor-list{
			.item{
				border-top: 1px solid #efefef;
				.img-tab{
					border-right: 1px solid #efefef;
					img{
						width: 40px;
						height: 40px;
						border-radius: 50%;
					}
				}
				.info{
					border-right: 1px solid #efefef;
					&:last-child{
						border-right: none;
					}
					span{
					    padding: 0 15px;
					    border-radius: 4px;
					    background-color: #D9534F;
					    color: #efefef;
					    cursor: pointer;
					}
				}
			}
		}
	}
}