<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-workbench-reception">
			<div class="x_title">前台工作台</div>
			<div class="button-tab pb10">
				<button (click)="prec()" class="pure-button pure-button-primary">上一周</button>
				<button (click)="now()" class="pure-button pure-button-primary">本周</button>
				<button (click)="next()" class="pure-button pure-button-primary">下一周</button>
			</div>
			<div class="list-tab">
				<div class="pure-g title-tab">
					<div class="pure-u-2-24 title"></div>
					<div class="pure-u-1-24 title">医生</div>
					<div class="pure-u-3-24 title" *ngFor="let title of weektitle">
						<span class="pr5">{{title.title}}</span>
						<span>{{title.date}}</span>
					</div>
				</div>
				<div class="doctor-list">
					<div class="pure-g item" *ngFor="let scheduling of schedulinglist">
						<div class="pure-u-2-24 img-tab pad10 text-center">
							<img src="{{scheduling.avatarUrl}}" />
						</div>
						<div class="pure-u-1-24 info text-center pt20">{{scheduling.realName}}</div>	
						<div class="pure-u-3-24 info pad10 pt20" *ngFor="let day of scheduling.weekScheduling">{{day.dutyName}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>