<!-- <div class="content admin-authorize-givefee">
    <ng-container *ngFor="let item of list">
        <div class="group-tab">
            <div class="left">申请人：</div>
            <div class="middle">{{item.adminName}}</div>
        </div>
        <div class="group-tab">
            <div class="left">预约姓名：</div>
            <div class="middle">{{item.userName}}</div>
        </div>
        <div class="group-tab">
            <div class="left">减免金额：</div>
            <div class="middle">{{item.amount}}</div>
        </div>
        <div class="group-tab">
            <div class="left">减免原因：</div>
            <div class="middle">{{item.cause}}</div>
        </div>
    </ng-container>
    <div class="flex pad10">
        <button (click)="authorize('0')" class="pure-button flex-1 mr5">不同意</button>
        <button (click)="authorize('1')" class="pure-button pure-button-primary flex-1 ml5">同意</button>
    </div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container mobile">
		<div class="title">提示</div>
		<div class="content pad10">
			{{select.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast> -->
