<!-- <header-nav></header-nav> -->
<div class="content-section admin-prescript-sale">
	<top-bar [data]="topBar"></top-bar>
  	<div nz-row [nzGutter]="30">
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label for="type">用户类型：</label>
            	</div>
            	<div nz-form-control class="mt5">
					<nz-select
						class="w100"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择用户类型'"
						[ngModel]="sale.type"
						(ngModelChange)="sale.type=$event"
						nzAllowClear>
						<nz-option [nzLabel]="'诊所用户'" [nzValue]="'1'"></nz-option>
						<nz-option [nzLabel]="'外来用户'" [nzValue]="'2'"></nz-option>
					</nz-select>
            	</div>
          	</div>
    	</div>
	</div>
  	<div nz-row [nzGutter]="30" *ngIf="sale.type != null && sale.type != ''" class="mt10">
    	<div nz-col [nzSpan]="8" *ngIf="sale.type == '1'">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label for="user">用户：</label>
            	</div>
            	<div nz-form-control class="mt5">
					<nz-select
						class="w100"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择用户'"
						[ngModel]="sale.user"
						(ngModelChange)="sale.user=$event;changeUser()"
						nzAllowClear>
						<ng-container *ngFor="let user of userList">
							<nz-option [nzLabel]="user.name" [nzValue]="user"></nz-option>
						</ng-container>
					</nz-select>
            	</div>
          	</div>
    	</div>
    	<div nz-col [nzSpan]="8" *ngIf="sale.type == '2'">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label for="mobile">手机号码：</label>
            	</div>
            	<div nz-form-control class="mt5">
					<nz-input
						[nzSize]="'large'"
						[nzPlaceHolder]="'请输入手机号码'"
						[ngModel]="sale.mobile">
					</nz-input>
            	</div>
          	</div>
    	</div>
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label for="idcard">身份证号：</label>
            	</div>
            	<div nz-form-control class="mt5">
					<nz-input
						[nzSize]="'large'"
						[nzPlaceHolder]="'请输入身份证号'"
						[ngModel]="sale.idcard"></nz-input>
            	</div>
          	</div>
    	</div>
    	<div nz-col [nzSpan]="8" *ngIf="sale.type == '1'">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label for="member">会员卡：</label>
            	</div>
            	<div nz-form-control class="mt5">
					<nz-select
						class="w100"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择会员卡'"
						[ngModel]="sale.selectedMember"
						(ngModelChange)="sale.selectedMember=$event;changeMember()"
						nzAllowClear>
						<ng-container *ngIf="sale.user != null">
							<nz-option *ngFor="let member of sale.user.memberList" [nzValue]="member" [nzLabel]="member.memberName"></nz-option>
						</ng-container>
					</nz-select>
            	</div>
          	</div>
    	</div>
	</div>
	<div class="mt20">
		<nz-collapseset>
			<nz-collapse *ngFor="let ms of plist; let index=index;" [nzTitle]="'药品'" [nzActive]="true">
				<div *ngIf="index != 0" class="text-right">
					<nz-popconfirm [nzTitle]="'确定移除这个药品吗？'" (nzOnConfirm)="deleteMs(index)">
						<button nz-popconfirm nz-button [nzType]="'danger'" [nzSize]="'large'">删除</button>
				    </nz-popconfirm>
				</div>
			  	<div nz-row [nzGutter]="30">
			    	<div nz-col [nzSpan]="8">
			          	<div nz-form-item>
			            	<div nz-form-label>
			              		<label nz-form-item-required>药品名：</label>
			            	</div>
			            	<div nz-form-control class="mt5">
								<nz-select
									class="w100"
									[nzSize]="'large'"
									[nzPlaceHolder]="'请选择药品'"
									[ngModel]="ms.ms"
									(ngModelChange)="msChange(index, $event)"
									nzShowSearch>
									<ng-container *ngFor="let medicalSupplie of medicalSupplies">
										<ng-container *ngIf="medicalSupplie.type == '1' || medicalSupplie.type == '2'">
											<nz-option [nzLabel]="medicalSupplie.name" [nzValue]="medicalSupplie"></nz-option>
										</ng-container>
									</ng-container>
								</nz-select>
			            	</div>
			          	</div>
			    	</div>
			    	<div nz-col [nzSpan]="8">
			          	<div nz-form-item>
			            	<div nz-form-label>
			              		<label nz-form-item-required>批次：</label>
			            	</div>
			            	<div nz-form-control class="mt5">
								<nz-select
									class="w100"
									[nzSize]="'large'"
									[nzPlaceHolder]="'请选择批次'"
									[ngModel]="ms.ms.batch"
									(ngModelChange)="ms.ms.batch=$event"
									nzAllowClear>
									<ng-container *ngFor="let batch of ms.batchList">
										<ng-container *ngIf="batch.stock != '0'">
										<!-- <ng-container *ngIf="batch.isPrescribed != '0'"> -->
											<nz-option [nzValue]="batch" [nzLabel]="batch.batch + '（库存：' + batch.stock ++ ms.ms.unit + '）'"></nz-option>
										<!-- </ng-container> -->
										</ng-container>
									</ng-container>
								</nz-select>
			            	</div>
			          	</div>
			    	</div>
			    	<div nz-col [nzSpan]="8">
			          	<div nz-form-item>
			            	<div nz-form-label>
			              		<label nz-form-item-required>总量：</label>
			            	</div>
			            	<div nz-form-control class="mt5">
								<nz-input-group [nzSize]="'large'" nzCompact>
								    <input [(ngModel)]="ms.ms.num" placeholder="请输入总量" nz-input [nzSize]="'large'" class="w50">
									<nz-select
										class="w50"
										[nzSize]="'large'"
										[nzPlaceHolder]="'请选择单位'"
										[nzDisabled]="true">
											<nz-option [nzValue]="ms.ms.unit" [nzLabel]="ms.ms.unit"></nz-option>
									</nz-select>
							    </nz-input-group>
			            	</div>
			          	</div>
			    	</div>
				</div>
			</nz-collapse>
		</nz-collapseset>
	</div>
	<div class="mt10">
		<button (click)="addMs()" nz-button [nzType]="'primary'" [nzSize]="'large'"><i class="anticon anticon-plus mr5"></i>添加药品</button>
	</div>
	<div class="text-center">
		<button (click)="create(f); $event.stopPropagation();" nz-button [nzType]="'primary'" [nzSize]="'large'">出售</button>
	</div>
</div>
<nz-modal [nzVisible]="modalTab" [nzWidth]="900" [nzTitle]="'支付'" [nzContent]="modalContent" [nzFooter]="footerTab" (nzOnCancel)="close()">
	<ng-template #modalContent>
		<ng-container *ngIf="sale.user && sale.user.id != ''">
			<div class="flex">
				<div class="w100p">用户：</div>
				<div class="flex-1">{{sale.user.name}}</div>
			</div>
			<div *ngIf="sale.member.id != ''" class="flex mt10">
				<div class="w100p">会员类型：</div>
				<div class="flex-1">{{sale.member.name + '（' + (sale.selectedMemberJson.balance ? sale.selectedMemberJson.balance : '0.00') + '）'}}</div>
			</div>
			<div *ngIf="sale.member.id != ''" class="flex mt10">
				<div class="w100p">药品折扣：</div>
				<div class="flex-1">{{sale.member.prescript}}</div>
			</div>
		</ng-container>
		<div class="mt10">
			<nz-table #nzTable [nzDataSource]="selected.plist" [nzBordered]="true" [nzIsPagination]="false">
				<thead nz-thead>
					<tr>
						<th class="w15">药品名</th>
						<th>批次</th>
						<th>总量</th>
						<th>单位</th>
						<th>价格</th>
						<th>总价格</th>
						<th *ngIf="sale.user && sale.user.id != ''">是否可打折</th>
						<th *ngIf="sale.user && sale.user.id != ''">折后价格</th>
					</tr>
				</thead>
				<tbody nz-tbody>
					<tr nz-tbody-tr *ngFor="let p of selected.plist">
						<td>{{p.name}}</td>
						<td>{{p.batch}}</td>
						<td>{{p.num}}</td>
						<td>{{p.unit}}</td>
						<td>{{p.price}}</td>
						<td>{{p.fee}}</td>
						<td *ngIf="sale.user && sale.user.id != ''">{{p.canDiscount == '1' ? '可打折' : '不可打折'}}</td>
						<td *ngIf="sale.user && sale.user.id != ''">{{p.discountFee}}</td>
					</tr>
				</tbody>
			</nz-table>
		</div>
		<div class="flex pt10 pb10">
			<div class="w100p">总价格：</div>
			<div class="flex-1">{{selected.feeAll}}</div>
		</div>
		<div *ngIf="sale.user && sale.user.id != ''" class="flex pt10 pb10">
			<div class="w100p">折后价格：</div>
			<div class="flex-1">{{selected.saleFee}}</div>
		</div>
		<div nz-form-item class="flex pt10">
			<div nz-form-label class="w100p">
				<label nz-form-item-required>支付方式：</label>
			</div>
			<div nz-form-control class="mt5 flex-1">
				<nz-select
					class="w100"
					[nzSize]="'large'"
					[nzPlaceHolder]="'请选择支付方式'"
					[ngModel]="sale.pay_way"
					(ngModelChange)="sale.pay_way=$event">
					<nz-option *ngIf="sale.user && sale.user.id != '' && sale.selectedMemberJson.umId" [nzValue]="'member_' + sale.selectedMemberJson.umId" [nzLabel]="sale.member.name + '支付' + (sale.balanceUse == '' ? ('（' + (sale.selectedMemberJson.balance ? sale.selectedMemberJson.balance : '0.00') + '）') : ('（' + sale.balanceUse + '）'))" [nzDisabled]="sale.balanceUse != ''"></nz-option>
					<nz-option [nzValue]="'ali'" [nzLabel]="'支付宝支付'"></nz-option>
					<nz-option [nzValue]="'wechat'" [nzLabel]="'微信支付'"></nz-option>
					<nz-option [nzValue]="'card'" [nzLabel]="'刷卡支付'"></nz-option>
					<nz-option [nzValue]="'money'" [nzLabel]="'现金支付'"></nz-option>
				</nz-select>
			</div>
		</div>
	</ng-template>
	<ng-template #footerTab>
		<button (click)="close()" nz-button [nzType]="'default'" [nzSize]="'large'">关闭</button>
		<button (click)="confirm()" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="btnCanEdit">支付</button>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="modalContentConfirm" [nzFooter]="footerTabConfirm" (nzOnCancel)="closeConfirm()">
	<ng-template #modalContentConfirm>
    	<p>{{selected.text}}</p>
	</ng-template>
	<ng-template #footerTabConfirm>
		<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeConfirm()">关闭</button>
	</ng-template>
</nz-modal>
