<!-- <header-nav></header-nav> -->
<div class="content-section">
	<top-bar [data]="topBar"></top-bar>
	<nz-tabset [nzSelectedIndex]="selectedIndex" [nzSize]="'large'">
        <nz-tab *ngIf="moduleAuthority.see" (nzClick)="goUrl('./admin/medical/tcm/list')">
            <ng-template #nzTabHeading>
                中药管理
            </ng-template>
        </nz-tab>
      	<nz-tab *ngIf="moduleAuthority.seePut" (nzClick)="goUrl('./admin/medical/tcm/purchaseList')">
        	<ng-template #nzTabHeading>
                入库管理
        	</ng-template>
      	</nz-tab>
      	<nz-tab *ngIf="moduleAuthority.seeHas" (nzClick)="goUrl('./admin/medical/tcm/hasList')">
        	<ng-template #nzTabHeading>
          		库存管理
        	</ng-template>
		</nz-tab>
      	<nz-tab *ngIf="moduleAuthority.seeLost">
        	<ng-template #nzTabHeading>
          		报损管理
        	</ng-template>
			<div class="mt10">
				<button *ngIf="moduleAuthority.editLost" (click)="addLost()" nz-button [nzType]="'primary'" [nzSize]="'large'">新增报损</button>
			</div>
			<div nz-row class="mt10 mb10">
		    	<div nz-col [nzSpan]="6" [nzOffset]="12">
					<div nz-form-item nz-row>
						<div nz-form-label nz-col [nzSpan]="9" class="text-right">
							<label for="_startDate">报损时间：</label>
						</div>
						<div nz-form-control nz-col [nzSpan]="15">
							<nz-datepicker (ngModelChange)="_startDate=$event"
							[nzSize]="'large'" class="w100" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择开始日期'"></nz-datepicker>
						</div>
					</div>
				</div>
		    	<div nz-col [nzSpan]="6">
					<div nz-form-item nz-row>
						<div nz-form-label nz-col [nzSpan]="9" class="text-right">
							<label for="_endDate">至：</label>
						</div>
						<div nz-form-control nz-col [nzSpan]="15">
							<nz-datepicker (ngModelChange)="_endDate=$event"
							[nzSize]="'large'" class="w100" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择结束日期'"></nz-datepicker>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right mt10 mb10">
				<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
			</div>
			<nz-table *ngIf="hasData" #nzTable [nzDataSource]="tcmLostList" [nzBordered]="true" [nzIsPagination]="false">
				<thead nz-thead>
					<tr>
						<th nz-th>药材名</th>
						<th nz-th>报损数量</th>
						<th nz-th>单位</th>
						<th nz-th class="w15">报损原因</th>
						<th nz-th>总费用</th>
						<th nz-th>报损时间</th>
						<th nz-th>报损人</th>
					</tr>
				</thead>
				<tbody nz-tbody>
					<ng-container *ngFor="let tcmLost of tcmLostList;">
						<tr nz-tbody-tr *ngFor="let info of tcmLost.info; let indexInfo=index">
							<td nz-td>{{info.name}}</td>
							<td nz-td>{{info.num}}</td>
							<td nz-td>{{info.unit}}</td>
							<td nz-td [attr.rowspan]="tcmLost.info.length" *ngIf="indexInfo == 0">{{tcmLost.remark}}</td>
							<td nz-td [attr.rowspan]="tcmLost.info.length" *ngIf="indexInfo == 0">{{tcmLost.fee}}</td>
							<td nz-td [attr.rowspan]="tcmLost.info.length" *ngIf="indexInfo == 0">{{tcmLost.time}}</td>
							<td nz-td [attr.rowspan]="tcmLost.info.length" *ngIf="indexInfo == 0">{{tcmLost.adminName}}</td>
						</tr>
					</ng-container>
				</tbody>
			</nz-table>
		</nz-tab>
      	<nz-tab *ngIf="moduleAuthority.seeCheck" (nzClick)="goUrl('./admin/medical/tcm/checkList')">
        	<ng-template #nzTabHeading>
          		盘点管理
        	</ng-template>
		</nz-tab>
    </nz-tabset>
</div>
<loading [show]="loadingShow"></loading>
