<!-- <header-nav></header-nav> -->
<div class="content-section">
	<top-bar [data]="topBar"></top-bar>
    <form nz-form [formGroup]="validateForm">
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
                <label nz-form-item-required>供应商：</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control>
				<nz-select
					class="w100"
                    formControlName="supplier"
					[nzSize]="'large'"
					[nzPlaceHolder]="'请选择供应商'">
					<ng-container *ngFor="let supplier of supplierList">
						<nz-option [nzLabel]="supplier.name" [nzValue]="supplier"></nz-option>
					</ng-container>
				</nz-select>
                <div nz-form-explain *ngIf="getFormControl('supplier').dirty && getFormControl('supplier').hasError('required')">供应商不可为空</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
                <label nz-form-item-required>发货时间：</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control>
                <nz-datepicker class="w100" formControlName="about_time" [nzPlaceHolder]="'请选择发货时间'" [nzSize]="'large'" [nzFormat]="'YYYY/MM/DD'"></nz-datepicker>
                <div nz-form-explain *ngIf="getFormControl('about_time').dirty && getFormControl('about_time').hasError('required')">发货时间不可为空</div>
            </div>
        </div>
		<ng-container *ngFor="let tcmPurchase of tcmPurchaseList; let index=index;">
	        <div nz-form-item nz-row>
	            <div nz-form-label nz-col [nzSpan]="7">
	                <label>药材-{{tcmPurchase.id + 1}}：</label>
	            </div>
	            <div nz-col [nzSpan]="12" nz-form-control>
					<nz-input-group [nzSize]="'large'">
			      		<nz-select [formControlName]="tcmPurchase.tcm" [nzPlaceHolder]="'请选择药材'" class="w40" (nzOpenChange)="changeTcm(index)" nzShowSearch>
							<ng-container *ngFor="let tcm of tcmList">
				        		<nz-option [nzLabel]="tcm.name" [nzValue]="tcm"></nz-option>
							</ng-container>
			      		</nz-select>
		                <nz-input-number class="w20 mr0" [formControlName]="tcmPurchase.num" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'请输入数量'" (nzBlur)="changeFee()"></nz-input-number>
			      		<nz-select [formControlName]="tcmPurchase.unit" [nzPlaceHolder]="'请选择单位'" class="w20" [nzDisabled]="true">
							<nz-option [nzLabel]="tcmPurchase.selectedUnit" [nzValue]="tcmPurchase.selectedUnit"></nz-option>
			      		</nz-select>
		                <nz-input-number class="w20 mr0" [formControlName]="tcmPurchase.bid" [nzMin]="0" [nzStep]="0.0001" [nzPlaceHolder]="'请输入单价'" (nzBlur)="changeFee()"></nz-input-number>
			    	</nz-input-group>
	            </div>
				<i *ngIf="tcmPurchase.id != 0" class="anticon anticon-minus-circle-o dynamic-delete-button" (click)="removeField(tcmPurchase, $event)"></i>
	        </div>
		</ng-container>
		<div nz-form-item nz-row>
      		<div nz-form-control nz-col [nzSpan]="12" [nzOffset]="7">
        		<button nz-button [nzType]="'dashed'" [nzSize]="'large'" class="w100" (click)="addField(null, $event)">
          			<i class="anticon anticon-plus"></i>
          			<span> 添加药材</span>
        		</button>
      		</div>
    	</div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
                <label nz-form-item-required>总费用：</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control>
                <nz-input-number class="w100" formControlName="fee" [nzPlaceHolder]="'请输入总费用'" [nzSize]="'large'" [nzMin]="0" [nzStep]="0.01"></nz-input-number>
                <div nz-form-explain *ngIf="getFormControl('fee').dirty && getFormControl('fee').hasError('required')">总费用不可为空</div>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
                <button (click)="save()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingSave" [disabled]="!validateForm.valid">保存</button>
            </div>
        </div>
    </form>
</div>
<loading [show]="loadingShow"></loading>
