<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-list">
	<top-bar [data]="topBar"></top-bar>
    <button (click)="add()" nz-button [nzType]="'primary'" [nzSize]="'large'">新增病历模板</button>
	<div class="mt10">
		<nz-table *ngIf="hasData" #nzTable [nzDataSource]="casetempletList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
			<thead nz-thead>
				<tr>
					<th nz-th>模板名</th>
					<th nz-th>状态</th>
					<th nz-th>操作</th>
				</tr>
			</thead>
			<tbody nz-tbody>
				<tr nz-tbody-tr *ngFor="let casetemplet of nzTable.data">
					<td nz-td>{{casetemplet.name}}</td>
					<td nz-td>{{casetemplet.status == '1' ? '可用' : '停用'}}</td>
					<td nz-td>
						<button (click)="update(casetemplet)" nz-button [nzType]="'primary'" [nzSize]="'large'">修改</button>
						<button (click)="updateStatus(casetemplet.id, casetemplet.status)" nz-button [nzType]="'primary'" [nzSize]="'large'">修改状态</button>
					</td>
				</tr>
			</tbody>
			<span noResult>暂无病历模板信息</span>
		</nz-table>
	</div>
</div>
<loading [show]="loadingShow"></loading>
