	<!-- <header-nav></header-nav> -->
<div class="content-section admin-payment-booking-fee">
	<top-bar [data]="topBar"></top-bar>
	<nz-card class="w100">
		<ng-template #title>
			预约详情
		</ng-template>
		<ng-template #body>
			<div nz-row [nzGutter]="30">
				<div nz-col [nzSpan]="12">
					<p>家长姓名：{{booking.creatorName}}</p>
				</div>
				<div nz-col [nzSpan]="12">
					<p>会员：{{paymentInfo.memberId != null ? paymentInfo.memberName : '非会员'}}</p>
				</div>
			</div>
			<div nz-row [nzGutter]="30" class="mt10">
				<div nz-col [nzSpan]="12">
					<p>余额：{{paymentInfo.userBalance ? paymentInfo.userBalance : '0.00'}}</p>
				</div>
			</div>
			<div nz-row [nzGutter]="30" class="mt10">
				<div nz-col [nzSpan]="12">
					<p>宝宝姓名：{{booking.childName}}</p>
				</div>
				<div nz-col [nzSpan]="12">
					<p>年龄：{{booking.age}}</p>
				</div>
			</div>
			<div nz-row [nzGutter]="30" class="mt10">
				<div nz-col [nzSpan]="12">
					<p>预约日期：{{booking.bookingDate}}</p>
				</div>
				<div nz-col [nzSpan]="12">
					<p>预约时间：{{booking.time}}</p>
				</div>
			</div>
			<div nz-row [nzGutter]="30" class="mt10">
				<div nz-col [nzSpan]="12">
					<p>预约科室：<span *ngIf="booking.services.length > 0">{{booking.services[0].serviceName}}</span></p>
				</div>
				<div nz-col [nzSpan]="12">
					<p>预约医生：<span *ngIf="booking.services.length > 0">{{booking.services[0].userDoctorName}}</span></p>
				</div>
			</div>
			<div nz-row [nzGutter]="30" class="mt10">
				<div nz-col [nzSpan]="12">
					<p>备注：{{booking.remark}}</p>
				</div>
			</div>
		</ng-template>
	</nz-card>
	<nz-card class="w100 mt20">
		<ng-template #title>
			支付
		</ng-template>
		<ng-template #body>
			<!-- 非会员两种支付类型 -->
			<div *ngIf="!paymentInfo.member" nz-form-item nz-row>
            	<div nz-form-label nz-col [nzSpan]="7" class="text-right">
              		<label>支付类型：</label>
            	</div>
            	<div nz-form-control nz-col [nzSpan]="12">
					<nz-select
						class="w100"
						(ngModelChange)="paymentInfo.payType=$event;changePayType();"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择支付方式'"
						[ngModel]="paymentInfo.payType">
						<nz-option [nzLabel]="'支付预约金'" [nzValue]="'yyj'"></nz-option>
						<nz-option [nzLabel]="'支付全额'" [nzValue]="'service'"></nz-option>
					</nz-select>
            	</div>
          	</div>
			<div *ngIf="paymentInfo.member || paymentInfo.payType == 'yyj'" nz-row class="mt10">
            	<div nz-col [nzSpan]="7" class="text-right">
              		预约金：
            	</div>
            	<div nz-col [nzSpan]="12">
					{{booking.bookingFee}}
				</div>
			</div>
			<div *ngIf="!paymentInfo.member && paymentInfo.payType == 'service'" nz-row class="mt10">
            	<div nz-col [nzSpan]="7" class="text-right">
              		<label>全额：</label>
            	</div>
            	<div nz-col [nzSpan]="12">
					{{booking.serviceFee}}
				</div>
			</div>
			<div *ngIf="booking.status != '1' && booking.status != '0'" nz-row class="mt10">
            	<div nz-col [nzSpan]="12" [nzOffset]="7">
					<button nz-button [nzType]="'default'" [nzSize]="'large'">已支付预约金</button>
				</div>
			</div>
			<ng-container *ngIf="booking.status == '1'">
				<div *ngIf="showTab == '0'" nz-row class="mt30">
					<div nz-col [nzSpan]="12" [nzOffset]="7">
						<button (click)="payment()" nz-button [nzType]="'primary'" [nzSize]="'large'">支付</button>
					</div>
				</div>
				<ng-container *ngIf="showTab == '1'">
					<div nz-form-item nz-row class="mt10">
		            	<div nz-form-label nz-col [nzSpan]="7" class="text-right">
		              		<label>支付方式：</label>
		            	</div>
		            	<div nz-form-control nz-col [nzSpan]="12">
							<nz-select
								class="w100"
								[nzSize]="'large'"
								[nzPlaceHolder]="'请选择支付方式'"
								[(ngModel)]="paymentInfo.type">
								<nz-option [nzLabel]="'余额支付' + (paymentInfo.balanceCanPay ? '' : '（余额不足）')" [nzValue]="'member'" [nzDisabled]="!paymentInfo.balanceCanPay"></nz-option>
								<nz-option [nzLabel]="'支付宝支付'" [nzValue]="'ali'"></nz-option>
								<nz-option [nzLabel]="'微信支付'" [nzValue]="'wechat'"></nz-option>
								<nz-option [nzLabel]="'微信转账'" [nzValue]="'wc_zhuan'"></nz-option>
								<nz-option [nzLabel]="'刷卡支付'" [nzValue]="'card'"></nz-option>
								<nz-option [nzLabel]="'现金支付'" [nzValue]="'money'"></nz-option>
							</nz-select>
		            	</div>
		          	</div>
					<div nz-row class="mt30">
		            	<div nz-col [nzSpan]="12" [nzOffset]="7">
							<button (click)="cancel()" nz-button [nzType]="'default'" [nzSize]="'large'">取消</button>
							<button (click)="comfirm()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit">支付</button>
						</div>
					</div>
				</ng-container>
			</ng-container>
		</ng-template>
	</nz-card>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentConfirm" [nzFooter]="footerConfirm" [nzMaskClosable]="false" [nzClosable]="false">
	<ng-template #contentConfirm>
    	<p>{{paymentInfo.result}}</p>
	</ng-template>
	<ng-template #footerConfirm>
		<button (click)="confirm()" nz-button [nzType]="'primary'" [nzSize]="'large'">确认</button>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="paymentInfo.qrcode" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentPay" [nzFooter]="footerPay" (nzOnCancel)="closeQrcode()">
	<ng-template #contentPay>
    	<div class="text-center">
			<div class="mb20">
				<nz-alert [nzType]="'info'" [nzMessage]="'扫码支付'"></nz-alert>
			</div>
			<qr-code [value]="paymentInfo.qrcodeUrl" [size]="200"></qr-code>
		</div>
	</ng-template>
	<ng-template #footerPay></ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
