<!-- <header-nav></header-nav> -->
<div class="content-section admin-clinicroom">
	<top-bar [data]="topBar"></top-bar>
	<div nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>检查：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-select
				class="w100"
				[nzSize]="'large'"
				[nzPlaceHolder]="'请选择检查'"
				[(ngModel)]="inspectInfo.project_id"
				nzShowSearch
				[nzDisabled]="editType == 'update'">
				<ng-container *ngFor="let project of projectlist">
					<nz-option [nzLabel]="project.name" [nzValue]="project.id"></nz-option>
				</ng-container>
			</nz-select>
		</div>
	</div>
	<div nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>价格：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input-number [nzMin]="0" [nzStep]="0.01" [nzSize]="'large'" [(ngModel)]="inspectInfo.price" [nzPlaceHolder]="'请输入价格'" class="w100"></nz-input-number>
		</div>
	</div>
	<div nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>能否优惠：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-select
				class="w100"
				[nzSize]="'large'"
				[nzPlaceHolder]="'请选择能否优惠'"
				[(ngModel)]="inspectInfo.can_discount">
				<nz-option [nzLabel]="'不可优惠'" [nzValue]="'0'"></nz-option>
				<nz-option [nzLabel]="'可优惠'" [nzValue]="'1'"></nz-option>
			</nz-select>
		</div>
	</div>
	<div *ngIf="editType == 'update'" nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>状态：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-select
				class="w100"
				[nzSize]="'large'"
				[nzPlaceHolder]="'请选择状态'"
				[(ngModel)]="inspectInfo.can_use">
				<nz-option [nzLabel]="'停用'" [nzValue]="'0'"></nz-option>
				<nz-option [nzLabel]="'可用'" [nzValue]="'1'"></nz-option>
			</nz-select>
		</div>
	</div>
	<div nz-row class="mt10">
		<div nz-col [nzSpan]="12" [nzOffset]="7">
			<button (click)="create()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit">保存</button>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
