<!-- <header-nav></header-nav> -->
<div class="content-section admin-clinicroom-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item" *ngIf="moduleAuthority.see" (click)="goUrl('./admin/medical/list')">药品管理</div>
		<div class="item" *ngIf="moduleAuthority.seePut" (click)="goUrl('./admin/medical/purchaseList')">入库管理</div>
		<div class="item active">库存管理</div>
		<div class="item" *ngIf="moduleAuthority.seeLost" (click)="goUrl('./admin/medical/lostList')">报损管理</div>
		<div class="item" *ngIf="moduleAuthority.seeCheck" (click)="goUrl('./admin/medical/checkList')">盘点管理</div>
	</div>
	<div class="flex pure-form mt10 search-tab max">
		<div class="flex-1">
			<button (click)="export()" class="pure-button pure-button-primary">导出</button>
		</div>
		<div class="pure-control-group mr10">
			<label for="name">用品名:</label>
			<input type="text" id="name" name="name" [(ngModel)]="info.name">
		</div>
		<div class="pure-control-group mr10">
			<label for="type">用品类型：</label>
			<select id="type" name="type" [(ngModel)]="info.type">
				<option value="1,2">全部</option>
				<option value="1">中药</option>
				<option value="2">西药</option>
			</select>
		</div>
		<div class="w64p"></div>
	</div>
	<div class="flex pure-form mt10 search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10">
			<label for="b_stock">库存数量：</label>
			<input type="number" id="b_stock" name="b_stock" [(ngModel)]="info.b_stock" placeholder="请输入数量">
		</div>
		<div class="pure-control-group mr10">
			<label for="l_stock" class="text-center">至</label>
			<input type="number" id="l_stock" name="l_stock" [(ngModel)]="info.l_stock" placeholder="请输入数量">
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="">
		<table *ngIf="list.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th>药品名称</th>
					<th>规格</th>
					<th>生产厂家（企业）</th>
					<th>批次</th>
					<!-- <th>处方类型</th>
					<th>是否优惠</th> -->
					<th>库存</th>
					<th>售价</th>
					<th>有效期至</th>
					<th>国药准字</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let item of list">
					<tr *ngFor="let other of item.others; let indexOther=index;">
						<td [attr.rowspan]="item.others.length" *ngIf="indexOther == 0">{{item.name}}</td>
						<td>{{other.format}}</td>
						<td>{{other.manufacturer}}</td>
						<td>{{other.batch}}</td>
						<!-- <td>{{other.isPrescribed == '0' ? '不是' : '是'}}</td>
						<td>{{other.canDiscount == '0' ? '不可优惠' : '可优惠'}}</td> -->
						<td>{{other.stock}}</td>
						<td>{{other.price}}</td>
						<td>{{other.expiringDate}}</td>
						<td>{{other.otc}}</td>
						<td>
							<button *ngIf="moduleAuthority.editHas" (click)="update(other.id)" class="pure-button pure-button-primary">修改</button>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
		<div *ngIf="hasData && list.length == 0" class="mt10">
			<nodata title="未查询到药品信息"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
