<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-booking">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g left-right-tab">
		<div class="pure-u-1-5 left-tab pr20 pure-form pure-form-stacked">
			<div class="item">
				<span>姓名：</span>
				<span>{{booking.childName}}</span>
			</div>
			<div class="item">
				<span>性别：</span>
				<span>{{booking.genderText}}</span>
			</div>
			<div class="item">
				<span>出生日期：</span>
				<span>{{booking.birthDate}}</span>
			</div>
			<div class="item">
				<span>当前年龄：</span>
				<span>{{booking.age}}</span>
			</div>
			<div *ngIf="booking.actCards.length > 0" class="item flex">
				<div>活动卡：</div>
				<div class="flex-1">
					<div *ngFor="let actcard of booking.actCards">{{actcard.activityName + '（剩余' + actcard.num + '次）'}}</div>
				</div>
			</div>
			<div class="item">
				<span>备注：</span>
				<span>{{booking.remark}}</span>
			</div>
			<div class="item">
				<span>接诊医生：</span>
				<span>{{doctorInfo.realName}}</span>
			</div>
			<ng-container *ngIf="pageType == 'history'">
				<div class="item">
					<span>就诊时年龄：</span>
					<span>{{booking.bookingAge}}</span>
				</div>
				<div class="item">
					<span>接诊开始时间：</span>
					<span>{{booking.services.length > 0 ? booking.services[0].begin : ''}}</span>
				</div>
				<div class="item">
					<span>接诊结束时间：</span>
					<span>{{booking.services.length > 0 ? booking.services[0].end : ''}}</span>
				</div>
			</ng-container>
			<div *ngIf="pageType != 'history'" class="mt20">
				<button (click)="showHistory()" class="pure-button pure-button-primary">就诊记录</button>
			</div>
			<div *ngIf="actualOperator.use" class="pure-control-group mt20">
				<label for="operator">实际操作人</label>
				<select id="operator" class="w100" name="operator" [(ngModel)]="operator" (change)="selectOperator()">
					<ng-container *ngFor="let admin of adminList">
						<option value="{{admin.key}}">{{admin.value}}</option>
					</ng-container>
				</select>
			</div>
			<div class="second-bar-tab flex mt20 mb10">
				<div (click)="changeHistoryHealthRTab('1')" [ngClass]="{'active': selectedHistoryHealthRTab == '1'}" class="item pl10 pr10">第一次儿保记录</div>
				<div (click)="changeHistoryHealthRTab('0')" [ngClass]="{'active': selectedHistoryHealthRTab == '0'}" class="item pl10 pr10">最近一次儿保记录</div>
			</div>
			<div *ngIf="historyHealthR.length > 0">
				<div class="flex item">
					<label>就诊日期：</label>
					<label class="flex-1">
						{{historyHealthR[0].bookingDate}}
					</label>
				</div>
				<div *ngIf="historyHealthR[0].height != null && historyHealthR[0].height != '0.00'" class="flex item">
					<label>身高：</label>
					<label class="flex-1">
						{{historyHealthR[0].height}}
						<span *ngIf="historyHealthR[0].height != '0.00'" class="pl5">cm</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].mediumHeight != null && historyHealthR[0].mediumHeight != '0.00'" class="flex item">
					<label>中等值：</label>
					<label class="flex-1">
						{{historyHealthR[0].mediumHeight}}
						<span *ngIf="historyHealthR[0].mediumHeight != '0.00'" class="pl5">cm</span>
					</label>
				</div>
				<div *ngIf="(historyHealthR[0].height != null && historyHealthR[0].height != '0.00') && (historyHealthR[0].mediumHeight != null && historyHealthR[0].mediumHeight != '0.00')" class="flex item">
					<label>身高对比：</label>
					<label class="flex-1">{{historyHealthR[0].compareHeight}}</label>
				</div>
				<div *ngIf="historyHealthR[0].weight != null && historyHealthR[0].weight != '0.00'" class="flex item">
					<label>体重：</label>
					<label class="flex-1">
						{{historyHealthR[0].weight}}
						<span *ngIf="historyHealthR[0].weight != '0.00'" class="pl5">kg</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].mediumWeight != null && historyHealthR[0].mediumWeight != '0.00'" class="flex item">
					<label>中等值：</label>
					<label class="flex-1">
						{{historyHealthR[0].mediumWeight}}
						<span *ngIf="historyHealthR[0].mediumWeight != '0.00'" class="pl5">kg</span>
					</label>
				</div>
				<div *ngIf="(historyHealthR[0].weight != null && historyHealthR[0].weight != '0.00') && (historyHealthR[0].mediumWeight != null && historyHealthR[0].mediumWeight != '0.00')" class="flex item">
					<label>体重对比：</label>
					<label class="flex-1">{{historyHealthR[0].compareWeight}}</label>
				</div>
				<div *ngIf="historyHealthR[0].headCircum != null && historyHealthR[0].headCircum != '0.00'" class="flex item">
					<label>头围：</label>
					<label class="flex-1">
						{{historyHealthR[0].headCircum}}
						<span *ngIf="historyHealthR[0].headCircum != '0.00'" class="pl5">cm</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].breastCircum != null && historyHealthR[0].breastCircum != '0.00'" class="flex item">
					<label>胸围：</label>
					<label class="flex-1">
						{{historyHealthR[0].breastCircum}}
						<span *ngIf="historyHealthR[0].breastCircum != '0.00'" class="pl5">cm</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].bodyTemperature != null && historyHealthR[0].bodyTemperature != '0'" class="flex item">
					<label>体温：</label>
					<label class="flex-1">
						{{historyHealthR[0].bodyTemperature}}
						<span *ngIf="historyHealthR[0].bodyTemperature != '' && historyHealthR[0].bodyTemperature != '0'" class="pl5">°C</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].pulse != null && historyHealthR[0].pulse != '0'" class="flex item">
					<label>脉搏：</label>
					<label class="flex-1">
						{{historyHealthR[0].pulse}}
						<span *ngIf="historyHealthR[0].pulse != '' && historyHealthR[0].pulse != '0'" class="pl5">次/分钟</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].breathe != null && historyHealthR[0].breathe != '0'" class="flex item">
					<label>呼吸：</label>
					<label class="flex-1">
						{{historyHealthR[0].breathe}}
						<span *ngIf="historyHealthR[0].breathe != '' && historyHealthR[0].breathe != '0'" class="pl5">次/分钟</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].bloodPressure != null && historyHealthR[0].bloodPressure != '0'" class="flex item">
					<label>血压：</label>
					<label class="flex-1">
						{{historyHealthR[0].bloodPressure}}
						<span *ngIf="historyHealthR[0].bloodPressure != '' && historyHealthR[0].bloodPressure != '0'" class="pl5">mmHg</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].spirit != null && historyHealthR[0].spirit != ''" class="flex item">
					<label>精神及神志：</label>
					<label class="flex-1">{{historyHealthR[0].spirit}}</label>
				</div>
				<div *ngIf="historyHealthR[0].nutritionalStatus != null && historyHealthR[0].nutritionalStatus != ''" class="flex item">
					<label>营养状态：</label>
					<label class="flex-1">{{historyHealthR[0].nutritionalStatus}}</label>
				</div>
				<div *ngIf="historyHealthR[0].skin != null && historyHealthR[0].skin != '未见异常'" class="flex item">
					<label>皮肤：</label>
					<label class="flex-1">{{historyHealthR[0].skin}}</label>
				</div>
				<div *ngIf="historyHealthR[0].oralMucosa != null && historyHealthR[0].oralMucosa != '未见异常'" class="flex item">
					<label>口腔黏膜：</label>
					<label class="flex-1">{{historyHealthR[0].oralMucosa}}</label>
				</div>
				<div *ngIf="historyHealthR[0].hair != null && historyHealthR[0].hair != '未见异常'" class="flex item">
					<label>毛发：</label>
					<label class="flex-1">{{historyHealthR[0].hair}}</label>
				</div>
				<div *ngIf="historyHealthR[0].lymphNode != null && historyHealthR[0].lymphNode != '未见异常'" class="flex item">
					<label>浅表淋巴结：</label>
					<label class="flex-1">{{historyHealthR[0].lymphNode}}</label>
				</div>
				<div *ngIf="historyHealthR[0].head != null && historyHealthR[0].head != ''" class="flex item">
					<label>头颅：</label>
					<label class="flex-1">{{historyHealthR[0].head}}</label>
				</div>
				<div *ngIf="historyHealthR[0].bregmatic != null && historyHealthR[0].bregmatic != ''" class="flex item">
					<label>前囟：</label>
					<label class="flex-1">
						{{historyHealthR[0].bregmatic}}
						<span class="pl5">cm^2</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].eyes != null && historyHealthR[0].eyes != '未见明显畸形'" class="flex item">
					<label>双眼（外眼部检查）：</label>
					<label class="flex-1">{{historyHealthR[0].eyes}}</label>
				</div>
				<div *ngIf="historyHealthR[0].ear != null && historyHealthR[0].ear != '未见明显畸形'" class="flex item">
					<label>耳：</label>
					<label class="flex-1">{{historyHealthR[0].ear}}</label>
				</div>
				<div *ngIf="historyHealthR[0].nose != null && historyHealthR[0].nose != '未见明显畸形'" class="flex item">
					<label>鼻：</label>
					<label class="flex-1">{{historyHealthR[0].nose}}</label>
				</div>
				<div *ngIf="historyHealthR[0].throat != null && historyHealthR[0].throat != '未见异常'" class="flex item">
					<label>咽喉：</label>
					<label class="flex-1">{{historyHealthR[0].throat}}</label>
				</div>
				<div *ngIf="historyHealthR[0].tonsil != null && historyHealthR[0].tonsil != '未见异常'" class="flex item">
					<label>扁桃体：</label>
					<label class="flex-1">{{historyHealthR[0].tonsil}}</label>
				</div>
				<div *ngIf="historyHealthR[0].gums != null && historyHealthR[0].gums != '未见异常'" class="flex item">
					<label>牙龈：</label>
					<label class="flex-1">{{historyHealthR[0].gums}}</label>
				</div>
				<div *ngIf="historyHealthR[0].tongue_tie != null && historyHealthR[0].tongue_tie != '未见异常'" class="flex item">
					<label>舌系带：</label>
					<label class="flex-1">{{historyHealthR[0].tongue_tie}}</label>
				</div>
				<div *ngIf="historyHealthR[0].teeth_pit != null && historyHealthR[0].teeth_pit != '未见异常'" class="flex item">
					<label>牙窝沟：</label>
					<label class="flex-1">{{historyHealthR[0].teeth_pit}}</label>
				</div>
				<div *ngIf="historyHealthR[0].plaque != null && historyHealthR[0].plaque != '未见异常'" class="flex item">
					<label>牙菌斑：</label>
					<label class="flex-1">{{historyHealthR[0].plaque}}</label>
				</div>
				<div *ngIf="historyHealthR[0].teeth_num != null && historyHealthR[0].teeth_num != '0'" class="flex item">
					<label>出牙数：</label>
					<label class="flex-1">
						{{historyHealthR[0].teeth_num}}
						<span *ngIf="historyHealthR[0].teeth_num != '' && historyHealthR[0].teeth_num != '0'" class="pl5">颗</span>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].dental_caries != null && historyHealthR[0].dental_caries != '未见异常'" class="flex item">
					<label>龋齿：</label>
					<label class="flex-1">{{historyHealthR[0].dental_caries}}</label>
				</div>
				<div *ngIf="historyHealthR[0].thoracic != null && historyHealthR[0].thoracic != '未见异常'" class="flex item">
					<label>胸廓：</label>
					<label class="flex-1">{{historyHealthR[0].thoracic}}</label>
				</div>
				<div *ngIf="historyHealthR[0].heart != null && historyHealthR[0].heart != '未见异常'" class="flex item">
					<label>心脏：</label>
					<label class="flex-1">{{historyHealthR[0].heart}}</label>
				</div>
				<div *ngIf="historyHealthR[0].lung != null && historyHealthR[0].lung != '未见异常'" class="flex item">
					<label>双肺：</label>
					<label class="flex-1">{{historyHealthR[0].lung}}</label>
				</div>
				<div *ngIf="historyHealthR[0].kidney != null && historyHealthR[0].kidney != '未见异常'" class="flex item">
					<label>双肾：</label>
					<label class="flex-1">{{historyHealthR[0].kidney}}</label>
				</div>
				<div *ngIf="historyHealthR[0].abdomen != null && historyHealthR[0].abdomen != '未见异常'" class="flex item">
					<label>腹部：</label>
					<label class="flex-1">{{historyHealthR[0].abdomen}}</label>
				</div>
				<div *ngIf="historyHealthR[0].mammaryGland != null && historyHealthR[0].mammaryGland != '未见异常'" class="flex item">
					<label>乳腺：</label>
					<label class="flex-1">{{historyHealthR[0].mammaryGland}}</label>
				</div>
				<div *ngIf="historyHealthR[0].limb != null && historyHealthR[0].limb != '未见异常'" class="flex item">
					<label>脊柱及四肢：</label>
					<label class="flex-1">{{historyHealthR[0].limb}}</label>
				</div>
				<div *ngIf="historyHealthR[0].ribs != null && historyHealthR[0].ribs != '未见异常'" class="flex item">
					<label>肋骨：</label>
					<label class="flex-1">{{historyHealthR[0].ribs}}</label>
				</div>
				<div *ngIf="historyHealthR[0].hip_joint != null && historyHealthR[0].hip_joint != '未见异常'" class="flex item">
					<label>髋关节：</label>
					<label class="flex-1">{{historyHealthR[0].hip_joint}}</label>
				</div>
				<div *ngIf="historyHealthR[0].torticollis != null && historyHealthR[0].torticollis != '未见异常'" class="flex item">
					<label>斜颈：</label>
					<label class="flex-1">{{historyHealthR[0].torticollis}}</label>
				</div>
				<div *ngIf="historyHealthR[0].genitalia != null && historyHealthR[0].genitalia != '未见异常'" class="flex item">
					<label>外生殖器：</label>
					<label class="flex-1">{{historyHealthR[0].genitalia}}</label>
				</div>
				<div *ngIf="historyHealthR[0].anus != null && historyHealthR[0].anus != '未见异常'" class="flex item">
					<label>肛门：</label>
					<label class="flex-1">{{historyHealthR[0].anus}}</label>
				</div>
				<div *ngIf="historyHealthR[0].neurodevelopment != null && historyHealthR[0].neurodevelopment != '未见异常'" class="flex item">
					<label>神经发育：</label>
					<label class="flex-1">{{historyHealthR[0].neurodevelopment}}</label>
				</div>
				<div *ngIf="historyHealthR[0].bloodRoutineExamination != null && historyHealthR[0].bloodRoutineExamination != '红细胞数： ，白细胞总数： ，血小板总数： ，血红蛋白：'" class="flex item">
					<label>血常规：</label>
					<label class="flex-1">{{historyHealthR[0].bloodRoutineExamination}}</label>
				</div>
				<div *ngIf="historyHealthR[0].routineUrine != null && historyHealthR[0].routineUrine != '未见异常'" class="flex item">
					<label>尿常规：</label>
					<label class="flex-1">{{historyHealthR[0].routineUrine}}</label>
				</div>
				<div *ngIf="historyHealthR[0].stoolRoutineExamination != null && historyHealthR[0].stoolRoutineExamination != '隐血： 镜检：'" class="flex item">
					<label>大便常规：</label>
					<label class="flex-1">{{historyHealthR[0].stoolRoutineExamination}}</label>
				</div>
				<div *ngIf="historyHealthR[0].boneDensity != null && historyHealthR[0].boneDensity != '未见异常'" class="flex item">
					<label>骨密度：</label>
					<label class="flex-1">{{historyHealthR[0].boneDensity}}</label>
				</div>
				<div *ngIf="historyHealthR[0].BALP != null && historyHealthR[0].BALP != '未见异常'" class="flex item">
					<label>骨碱性磷酸酶：</label>
					<label class="flex-1">{{historyHealthR[0].BALP}}</label>
				</div>
				<div *ngIf="historyHealthR[0].traceElement != null && historyHealthR[0].traceElement != '
锌： ，铁： ，钙： ，镁： ，铜：'" class="flex item">
					<label>微量元素：</label>
					<label class="flex-1">{{historyHealthR[0].traceElement}}</label>
				</div>
				<div *ngIf="historyHealthR[0].heavyMetal != null && historyHealthR[0].heavyMetal != '铅： ，镉： ，锰：'" class="flex item">
					<label>铅、镉、锰：</label>
					<label class="flex-1">{{historyHealthR[0].heavyMetal}}</label>
				</div>
				<div *ngIf="historyHealthR[0].bloodType != null && historyHealthR[0].bloodType != ''" class="flex item">
					<label>ABO血型鉴定：</label>
					<label class="flex-1">{{historyHealthR[0].bloodType}}</label>
				</div>
				<div *ngIf="historyHealthR[0].feeding != null && historyHealthR[0].feeding != ''" class="flex item">
					<label>喂养指导：</label>
					<label class="flex-1">{{historyHealthR[0].feeding}}</label>
				</div>
				<div *ngIf="historyHealthR[0].life != null && historyHealthR[0].life != ''" class="flex item">
					<label>生活指导：</label>
					<label class="flex-1">{{historyHealthR[0].life}}</label>
				</div>
				<div *ngIf="historyHealthR[0].immunization != null && historyHealthR[0].immunization != ''" class="flex item">
					<label>免疫接种指导：</label>
					<label class="flex-1">{{historyHealthR[0].immunization}}</label>
				</div>
				<div *ngIf="historyHealthR[0].diseasePrevention != null && historyHealthR[0].diseasePrevention != ''" class="flex item">
					<label>疾病预防：</label>
					<label class="flex-1">{{historyHealthR[0].diseasePrevention}}</label>
				</div>
				<div *ngIf="historyHealthR[0].answeringQuestions != null && historyHealthR[0].answeringQuestions != ''" class="flex item">
					<label>答疑解惑：</label>
					<label class="flex-1">{{historyHealthR[0].answeringQuestions}}</label>
				</div>
				<div *ngIf="historyHealthR[0].files.length > 0" class="flex item">
					<label class="w60p">文件：</label>
					<label class="flex-1 flex">
						<div class="file-item" *ngFor="let file of historyHealthR[0].files">
							<div class="show-tab cursor-pointer" (click)="showFile(file)">
								<img *ngIf="file.mimeType == 'image'" src="{{file.fileUrl}}">
								<div *ngIf="file.mimeType != 'image'" class="info">{{file.fileName}}</div>
							</div>
						</div>
					</label>
				</div>
				<div *ngIf="historyHealthR[0].record != null && historyHealthR[0].record != ''" class="flex item">
					<label>诊疗记录：</label>
					<label class="flex-1">{{historyHealthR[0].record}}</label>
				</div>
				<div *ngIf="historyHealthR[0].reviewDate != null && historyHealthR[0].reviewDate != ''" class="flex item">
					<label>复查日期：</label>
					<label class="flex-1">{{historyHealthR[0].reviewDate}}</label>
				</div>
			</div>
			<div *ngIf="historyHealthR.length == 0">
				{{selectedHistoryHealthRTab == '1' ? '暂无第一次儿保记录' : '暂无最近一次儿保记录'}}
			</div>
		</div>
		<div class="pure-u-4-5 right-tab booking-info pad10">
			<div class="second-bar-tab flex mb10">
				<div (click)="changeTab('3')" [ngClass]="{'active': selectedTab == '3'}" class="item">实验室检查</div>
				<div (click)="changeTab('6')" [ngClass]="{'active': selectedTab == '6'}" class="item">辅助治疗</div>
				<div (click)="changeTab('4')" [ngClass]="{'active': selectedTab == '4'}" class="item">西/中成药处方</div>
				<div (click)="changeTab('7')" [ngClass]="{'active': selectedTab == '7'}" class="item">中药处方</div>
				<!-- <div (click)="changeTab('1')" [ngClass]="{'active': selectedTab == '1'}" class="item">科室列表</div> -->
				<div (click)="changeTab('2')" [ngClass]="{'active': selectedTab == '2'}" class="item">费用列表</div>
				<div (click)="changeTab('5')" [ngClass]="{'active': selectedTab == '5'}" class="item">随访</div>
				<!-- <div (click)="goSection('docbooking/growthrecords')" class="item">成长记录</div> -->
				<div (click)="goSection('docbooking/casehistory')" class="item">病历</div>
				<div (click)="goSection('docbooking/healthrecord')" class="item">儿保记录</div>
				<div (click)="goSection('docbooking/growthChart')" class="item">成长曲线</div>
				<div (click)="goSection('docbooking/growthEvaluation')" class="item">成长测评</div>
			</div>
			<div [ngClass]="{'hidden': selectedTab != '3'}" class="tab">
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<form #fCheck="ngForm" class="pure-form pure-form-stacked form-tab">
						<fieldset class="pad0">
							<div *ngIf="addCheckInfo.editType != ''" class="pure-g">
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="check">实验室检查</label>
										<select id="check" name="check" #check="ngModel" [(ngModel)]="addCheckInfo.check" [disabled]="editType == 'update'">
											<ng-container *ngFor="let check of checklist">
												<ng-container *ngIf="check.canUse == '1'">
													<option value="{{check.string}}">{{check.name}}</option>
												</ng-container>
											</ng-container>
										</select>
										<div *ngIf="check.errors && (check.dity || check.touched)" class="alert alert-danger">
											<div [hidden]="!check.errors.required">
												检查不可为空
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
						<!-- 订单未完成，可操作 -->
						<ng-container *ngIf="booking.status != '5'">
							<div class="mt10 flex">
								<div *ngIf="canEdit" class="flex-1">
									<button *ngIf="addCheckInfo.editType == ''" (click)="addCheck()" class="pure-button pure-button-primary">添加检查</button>
									<button *ngIf="addCheckInfo.editType != ''" (click)="removeCheck()" class="pure-button">取消</button>
									<button *ngIf="addCheckInfo.editType != ''" (click)="editCheck(fCheck)" class="pure-button pure-button-primary" [disabled]="btnCanEdit">{{addCheckInfo.editType == 'create' ? '保存' : '保存'}}</button>
								</div>
							</div>
						</ng-container>
					</form>
				</div>
				<div *ngIf="checkDataList.length > 0" class="mt10">
					<div class="second-bar-tab flex">
						<div class="item" (click)="changeCheckTab(check.id)" *ngFor="let check of checkDataList" [ngClass]="{'active': selectedCheckTab == check.id}">{{check.checkName}}</div>
					</div>
					<div *ngFor="let check of checkDataList">
						<div *ngIf="selectedCheckTab == check.id">
							<!-- pageType 空为医生接诊， history为查看 -->
							<div *ngIf="pageType != 'history'">
								<div *ngIf="booking.status != '5'" class="mt10 mb10 text-right">
									<button (click)="deleteCheck(check)" class="pure-button button-error">删除</button>
								</div>
							</div>
							<table class="pure-table pure-table-horizontal w100 table-tab mt10">
								<thead>
									<tr>
										<th class="w20">项目</th>
										<th class="w10">代码</th>
										<th class="w25">检查结果</th>
										<th class="w25">参考值</th>
										<th class="w10">单位</th>
										<th class="w10">性质</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let result of check.resultList">
										<td>{{result.checkInfoName}}</td>
										<!-- 检查结果为文字还是图片 -->
										<ng-container *ngIf="result.isUpload == '0'">
											<td>{{result.code}}</td>
											<td>{{result.values}}</td>
											<td>
												<div class="length-text">{{result.references}}</div>
											</td>
											<td>{{result.unit}}</td>
											<td class="text-center">
												<i *ngIf="result.compare == 'low'" class="anticon anticon-arrow-down" style="color: #458DCB"></i>
												<i *ngIf="result.compare == 'high'" class="anticon anticon-arrow-up" style="color: #C92D54"></i>
											</td>
										</ng-container>
										<ng-container *ngIf="result.isUpload == '1'">
											<td></td>
											<td colspan="5">
												<div *ngIf="result.values && result.values != ''" class="upload-button-tab img">
													<img *ngIf="result.values.lastIndexOf('.pdf') == -1" (click)="enlargeImg($event.target, 'image', result.values)" src="{{result.values}}" />
						                            <div *ngIf="result.values.lastIndexOf('.pdf') != -1" (click)="enlargeImg($event.target, 'file', result.values)"  class="info">{{result.values.substr(result.values.lastIndexOf('/') + 1)}}</div>
												</div>
											</td>
										</ng-container>
									</tr>
								</tbody>
							</table>
							<div class="pt10 pb10 flex">
								<label for="remark">备注：</label>
								<div class="flex-1" [innerHTML]="check.remark"></div>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="hasCheckData && checkDataList.length == 0" class="mt10">
					<nodata title="未查询到实验室检查"></nodata>
				</div>
			</div>
			<div [ngClass]="{'hidden': selectedTab != '6'}" class="tab">
				<table *ngIf="assistList.length > 0" class="pure-table pure-table-horizontal w100 table-tab mt10 pure-form form-tab">
					<thead>
						<tr>
							<th>辅助治疗<span *ngIf="addAssistInfo.editType == 'update'" class="required">*</span></th>
							<th>药品</th>
							<th>计量</th>
							<th>单价<span *ngIf="addAssistInfo.editType == 'update'" class="required">*</span></th>
							<th>数量<span *ngIf="addAssistInfo.editType == 'update'" class="required">*</span></th>
							<th>费用<span *ngIf="addAssistInfo.editType == 'update'" class="required">*</span></th>
							<th class="th-width">备注（最多200字）</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let assist of assistList">
							<tr *ngIf="assist.drugs.length == 0">
								<td>{{assist.assistName}}</td>
								<td></td>
								<td></td>
								<td>{{assist.price}}</td>
								<td>
									<!-- 查看 -->
									<ng-container *ngIf="addAssistInfo.editType != 'update'">
										{{assist.number}}
									</ng-container>
									<!-- 修改 -->
									<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
										<input type="number" name="number" [(ngModel)]="addAssistInfo.number" placeholder="请输入数量" (change)="changeAssistNumber()">
									</ng-container>
								</td>
								<td>
									<!-- 查看 -->
									<ng-container *ngIf="addAssistInfo.editType != 'update'">
										{{assist.fee}}
									</ng-container>
									<!-- 修改 -->
									<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
										<input type="number" name="fee" [(ngModel)]="addAssistInfo.fee" disabled>
									</ng-container>
								</td>
								<td>
									<!-- 查看 -->
									<ng-container *ngIf="addAssistInfo.editType != 'update'">
										<div class="length-text">
											{{assist.remarks}}
										</div>
									</ng-container>
									<!-- 修改 -->
									<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
										<textarea name="remarks" maxlength="200" [(ngModel)]="addAssistInfo.remarks" placeholder="请输入备注"></textarea>
									</ng-container>
								</td>
								<td>
									<!-- pageType 空为医生接诊， history为查看 -->
									<div *ngIf="pageType != 'history'">
										<!-- 订单未完成，可操作 -->
										<ng-container *ngIf="booking.status != '5'">
											<ng-container *ngIf="canEdit">
												<!-- <button *ngIf="addAssistInfo.editType != 'update'" (click)="updateAddAssist(assist)" class="pure-button pure-button-primary">修改</button> -->
												<button *ngIf="addAssistInfo.editType != 'update'" (click)="deleteAssist(assist.id)" class="pure-button button-error">删除</button>
												<button *ngIf="addAssistInfo.editType == 'update'" (click)="removeAssist()" class="pure-button">取消</button>
												<button *ngIf="addAssistInfo.editType == 'update'" (click)="editAssist()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">保存</button>
											</ng-container>
										</ng-container>
									</div>
								</td>
							</tr>
							<ng-container *ngIf="assist.drugs.length > 0">
								<tr *ngFor="let drug of assist.drugs; let indexDrug=index;">
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">{{assist.assistName}}</td>
									<td>{{drug.durgName}}</td>
									<td>{{drug.durgNum + drug.durgUnit}}</td>
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">{{assist.price}}</td>
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">
										<!-- 查看 -->
										<ng-container *ngIf="addAssistInfo.editType != 'update'">
											{{assist.number}}
										</ng-container>
										<!-- 修改 -->
										<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
											<input type="number" name="number" [(ngModel)]="addAssistInfo.number" placeholder="请输入数量" (change)="changeAssistNumber()">
										</ng-container>
									</td>
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">
										<!-- 查看 -->
										<ng-container *ngIf="addAssistInfo.editType != 'update'">
											{{assist.fee}}
										</ng-container>
										<!-- 修改 -->
										<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
											<input type="number" name="fee" [(ngModel)]="addAssistInfo.fee" disabled>
										</ng-container>
									</td>
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">
										<!-- 查看 -->
										<ng-container *ngIf="addAssistInfo.editType != 'update'">
											<div class="length-text">
												{{assist.remarks}}
											</div>
										</ng-container>
										<!-- 修改 -->
										<ng-container *ngIf="addAssistInfo.editType == 'update' && addAssistInfo.editProjectId == assist.id">
											<textarea name="remarks" maxlength="200" [(ngModel)]="addAssistInfo.remarks" placeholder="请输入备注"></textarea>
										</ng-container>
									</td>
									<td [attr.rowspan]="assist.drugs.length" *ngIf="indexDrug == 0">
										<!-- pageType 空为医生接诊， history为查看 -->
										<div *ngIf="pageType != 'history'">
											<!-- 订单未完成，可操作 -->
											<ng-container *ngIf="booking.status != '5'">
												<ng-container *ngIf="canEdit">
													<!-- <button *ngIf="addAssistInfo.editType != 'update'" (click)="updateAddAssist(assist)" class="pure-button pure-button-primary">修改</button> -->
													<button *ngIf="addAssistInfo.editType != 'update'" (click)="deleteAssist(assist.id)" class="pure-button button-error">删除</button>
													<button *ngIf="addAssistInfo.editType == 'update'" (click)="removeAssist()" class="pure-button">取消</button>
													<button *ngIf="addAssistInfo.editType == 'update'" (click)="editAssist()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">保存</button>
												</ng-container>
											</ng-container>
										</div>
									</td>
								</tr>
							</ng-container>
						</ng-container>
					</tbody>
				</table>
				<div *ngIf="hasAssistData && assistList.length == 0" class="mt10">
					<nodata title="未查询到辅助治疗"></nodata>
				</div>
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<form class="pure-form pure-form-stacked form-tab">
						<fieldset>
							<div *ngIf="addAssistInfo.editType == 'add'" class="pure-g">
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="project">
											<span>辅助治疗</span>
											<span class="required">*</span>
										</label>
										<select id="project" name="project" #project="ngModel" [(ngModel)]="addAssistInfo.project" [disabled]="editType == 'update'" (change)="changeAssist()">
											<ng-container *ngFor="let assist of assistProjects">
												<option value="{{assist.string}}">{{assist.name}}</option>
											</ng-container>
										</select>
									</div>
								</div>
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="price">
											<span>单价</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="price" name="price" #price="ngModel" [(ngModel)]="addAssistInfo.price" disabled>
									</div>
								</div>
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="number">
											<span>数量</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="number" name="number" #number="ngModel" [(ngModel)]="addAssistInfo.number" placeholder="请输入数量" (change)="changeAssistNumber()">
									</div>
								</div>
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="fee">
											<span>费用</span>
											<span class="required">*</span>
										</label>
										<input type="text" id="fee" name="fee" #fee="ngModel" [(ngModel)]="addAssistInfo.fee" disabled>
									</div>
								</div>
								<div class="pure-u-1-5 pr10">
									<div class="pure-control-group">
										<label for="remarks">备注（最多200字）</label>
										<textarea id="remarks" name="remarks" maxlength="200" [(ngModel)]="addAssistInfo.remarks" placeholder="请输入备注"></textarea>
									</div>
								</div>
							</div>
						</fieldset>
						<!-- 订单未完成，可操作 -->
						<ng-container *ngIf="booking.status != '5'">
							<div class="mt10 flex">
								<div *ngIf="canEdit" class="flex-1">
									<button *ngIf="addAssistInfo.editType == ''" (click)="addAssist()" class="pure-button pure-button-primary">添加辅助治疗</button>
									<button *ngIf="addAssistInfo.editType == 'add'" (click)="removeAssist()" class="pure-button">取消</button>
									<button *ngIf="addAssistInfo.editType == 'add'" (click)="editAssist()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">{{addAssistInfo.editType == 'create' ? '保存' : '保存'}}</button>
								</div>
							</div>
						</ng-container>
					</form>
				</div>
			</div>
			<div [ngClass]="{'hidden': selectedTab != '4'}" class="tab">
				<table *ngIf="prescriptList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<!-- <th>药方名</th> -->
							<th>药品名</th>
							<th>批次</th>
							<th>药品单位</th>
							<th>药品数量</th>
							<th class="th-width">用法说明</th>
							<th class="th-width">注意事项</th>
							<th class="th-width">备注</th>
							<th>日期</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let item of prescriptList; let indexItem=index;">
							<tr *ngFor="let info of item.info; let indexInfo=index;">
								<!-- <td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.name}}</td> -->
								<td>
									<div>{{info.pname}}</div>
									<div>规格：{{info.format}}</div>
								</td>
								<td>{{info.batch}}</td>
								<td>{{info.unit}}</td>
								<td>{{info.num}}</td>
								<td>
									<div class="length-text">{{info.msExplain}}</div>
								</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
									<div class="length-text">{{info.remark}}</div>
								</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
									<div class="length-text">{{item.remark}}</div>
								</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.date}}</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
									<!-- pageType 空为医生接诊， history为查看 -->
									<div *ngIf="pageType != 'history'">
										<!-- 订单未完成，可操作 -->
										<ng-container *ngIf="booking.status != '5'">
											<div *ngIf="!item.apotId">
												<button (click)="updatePrescript(item)" class="pure-button pure-button-primary">修改</button>
											</div>
											<div *ngIf="!item.apotId" class="mt10">
												<button (click)="deletePrescript(item.id)" class="pure-button button-error">删除</button>
											</div>
											<div *ngIf="item.apotId && (item.isBack == 2 || item.isBack == 0)">
												<button (click)="continueAdd(item)" class="pure-button pure-button-primary">加药</button>
											</div>
											<div *ngIf="item.apotId && item.isBack == 0 && (item.outCode == 0)" class="mt10">
												<button (click)="backdrug(item)" class="pure-button pure-button-primary">退药</button>
											</div>
										</ng-container>
									</div>
								</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
				<div *ngIf="hasPrescriptData && prescriptList.length == 0" class="mt10">
					<nodata title="未查询到处方"></nodata>
				</div>
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<!-- 订单未完成，可操作 -->
					<ng-container *ngIf="booking.status != '5'">
						<div *ngIf="hasPrescriptData && prescriptList.length == 0" class="mt10 flex">
							<div *ngIf="canEdit" class="flex-1">
								<button (click)="prescript()" class="pure-button pure-button-primary">开方</button>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<div [ngClass]="{'hidden': selectedTab != '7'}" class="tab">
				<nz-table #nzTable [nzDataSource]="docTcmList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
					<thead nz-thead>
						<tr>
							<th nz-th>药材名</th>
							<th nz-th>总服数</th>
							<th nz-th>用法</th>
							<th nz-th>频率</th>
							<th nz-th class="w15">备注</th>
							<th nz-th>操作</th>
						</tr>
					</thead>
					<tbody nz-tbody>
						<ng-container *ngFor="let docTcm of docTcmList;">
							<tr nz-tbody-tr *ngFor="let info of docTcm.infos; let indexInfo=index;">
								<td nz-td>{{info.tcmName + "：" + info.num + info.unit}}</td>
								<td nz-td [attr.rowspan]="docTcm.infos.length" *ngIf="indexInfo == '0'">{{docTcm.num}}</td>
								<td nz-td [attr.rowspan]="docTcm.infos.length" *ngIf="indexInfo == '0'">{{docTcm.usage}}</td>
								<td nz-td [attr.rowspan]="docTcm.infos.length" *ngIf="indexInfo == '0'">{{docTcm.frequency}}</td>
								<td nz-td [attr.rowspan]="docTcm.infos.length" *ngIf="indexInfo == '0'">
									<div class="td-text">{{docTcm.remark}}</div>
								</td>
								<td nz-td [attr.rowspan]="docTcm.infos.length" *ngIf="indexInfo == '0'">
									<button *ngIf="!docTcm.apotId" (click)="updateDocTcm(docTcm)" nz-button [nzType]="'primary'" [nzSize]="'large'">修改</button>
								</td>
							</tr>
						</ng-container>
					</tbody>
					<span noResult>暂无中药处方信息</span>
				</nz-table>
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<!-- 订单未完成，可操作 -->
					<ng-container *ngIf="booking.status != '5'">
						<div *ngIf="hasDocTcmData && docTcmList.length == 0" class="mt10 flex">
							<div *ngIf="canEdit" class="flex-1">
								<button (click)="tcmPrescript()" class="pure-button pure-button-primary">开中药处方</button>
							</div>
						</div>
					</ng-container>
				</div>
			</div>
			<!-- <div [ngClass]="{'hidden': selectedTab != '1'}" class="tab">
				<table class="pure-table w100">
					<thead>
						<tr>
							<th class="w10"></th>
							<th class="w20">预约科室</th>
							<th class="w30">预约医生</th>
							<th class="w30">预约日期</th>
							<th class="w10">预约时间</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{index + 1}}</td>
							<td>{{service.serviceName}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceDate}}</td>
							<td>{{service.serviceTime}}</td>
						</tr>
					</tbody>
				</table> -->
				<!-- 订单未完成，可操作 -->
				<!-- <ng-container *ngIf="booking.status != '5'">
					<div *ngIf="canEdit" class="flex mt10">
						<div class="flex-1">
							<button (click)="addService()" class="pure-button pure-button-primary">追加科室</button>
						</div>
					</div>
				</ng-container>
			</div> -->
			<div [ngClass]="{'hidden': selectedTab != '2'}" class="tab">
				<table class="pure-table w100 table-tab">
					<thead>
						<tr>
							<th class="w20">
								<span>消费项目</span>
								<span *ngIf="addFeeInfo.editType == 'update'" class="required">*</span>
							</th>
							<th class="w10">
								<span>单价</span>
								<span *ngIf="addFeeInfo.editType == 'update'" class="required">*</span>
							</th>
							<th class="w10">
								<span>数量</span>
								<span *ngIf="addFeeInfo.editType == 'update'" class="required">*</span>
							</th>
							<th class="w10">
								<span>费用</span>
								<span *ngIf="addFeeInfo.editType == 'update'" class="required">*</span>
							</th>
							<th class="w30">备注说明<span *ngIf="addFeeInfo.editType == 'update'">（最多200字）</span></th>
							<th class="w20">操作</th>
						</tr>
					</thead>
					<tbody class="pure-form">
						<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<ng-container *ngIf="fee.type != 'booking'">
								<td>
									<!-- 展示 -->
									<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId">{{fee.projectName}}</div>
									<!-- 编辑 -->
									<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
										<input type="text" name="project_name" #project_name="ngModel" [(ngModel)]="addFeeInfo.project_name" required="" [disabled]="addFeeInfo.editType == 'update'" placeholder="请输入消费项目名" class="w100">
									</div>
								</td>
								<td>
									<!-- 展示 -->
									<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId">{{fee.price}}</div>
									<!-- 编辑 -->
									<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
										<input type="number" step="0.01" name="price" #price="ngModel" [(ngModel)]="addFeeInfo.price" placeholder="请输入单价" (change)="changeFee()" [disabled]="addFeeInfo.editType == 'update'" class="w100">
									</div>
								</td>
								<td>
									<!-- 展示 -->
									<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId">{{fee.number}}</div>
									<!-- 编辑 -->
									<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
										<input type="number" name="number" #number="ngModel" [(ngModel)]="addFeeInfo.number" placeholder="请输入数量" (change)="changeFee()" class="w100">
									</div>
								</td>
								<td>
									<!-- 展示 -->
									<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId">{{fee.originFee}}</div>
									<!-- 编辑 -->
									<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
										<input type="number" step="0.01" name="fee" #fee="ngModel" [(ngModel)]="addFeeInfo.fee" placeholder="请输入费用" required="" [disabled]="addFeeInfo.editType == 'update'" class="w100">
									</div>
								</td>
								<td>
									<!-- 展示 -->
									<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId" class="length-text">{{fee.remark}}</div>
									<!-- 编辑 -->
									<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
										<textarea name="remarks" maxlength="200" rows="3" #remarks="ngModel" [(ngModel)]="addFeeInfo.remarks" placeholder="请输入备注说明" class="w100"></textarea>
									</div>
								</td>
								<td>
									<!-- pageType 空为医生接诊， history为查看 -->
									<div *ngIf="pageType != 'history'">
										<!-- 订单未完成，可操作 -->
										<ng-container *ngIf="booking.status != '5'">
											<!-- 展示 -->
											<div *ngIf="addFeeInfo.editType != 'update' || addFeeInfo.feeId != fee.feeId">
												<button (click)="updateFee(fee)" class="pure-button pure-button-primary">修改</button>
											</div>
											<!-- 编辑 -->
											<div *ngIf="addFeeInfo.editType == 'update' && addFeeInfo.feeId == fee.feeId">
												<button *ngIf="addFeeInfo.editType != ''" (click)="removeFee()" class="pure-button">取消</button>
												<button *ngIf="addFeeInfo.editType != ''" (click)="editFee(f)" class="pure-button pure-button-primary" [disabled]="btnCanEdit">保存</button>
											</div>
										</ng-container>
									</div>
								</td>
							</ng-container>
						</tr>
					</tbody>
				</table>
				<div class="flex mt10">
					<div class="flex-1">
						<!-- pageType 空为医生接诊， history为查看 -->
						<div *ngIf="pageType != 'history'">
							<div *ngIf="canEdit && booking.status != '5'">
								<button *ngIf="addFeeInfo.editType == ''" (click)="addfee()" class="pure-button pure-button-primary">添加其它费用</button>
							</div>
						</div>
					</div>
					<div>
						总费用：{{booking.totalFee}}元
					</div>
				</div>
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
						<fieldset>
							<div *ngIf="addFeeInfo.editType == 'create'" class="pure-g">
								<div class="pure-u-2-5 pr10">
									<div class="pure-control-group">
										<label for="project_name">
											<span>消费项目名</span>
											<span class="required">*</span>
										</label>
										<input type="text" id="project_name" name="project_name" #project_name="ngModel" [(ngModel)]="addFeeInfo.project_name" required="" placeholder="请输入消费项目名">
										<div *ngIf="project_name.errors && (project_name.dity || project_name.touched)" class="alert alert-danger">
											<div [hidden]="!project_name.errors.required">
												消费项目名不可为空
											</div>
										</div>
									</div>
								</div>
								<div class="pure-u-1-5 pl5 pr5">
									<div class="pure-control-group">
										<label for="price">
											<span>单价</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="price" step="0.01" name="price" #price="ngModel" [(ngModel)]="addFeeInfo.price" placeholder="请输入单价" (change)="changeFee()">
									</div>
								</div>
								<div class="pure-u-1-5 pl5 pr5">
									<div class="pure-control-group">
										<label for="number">
											<span>数量</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="number" name="number" #number="ngModel" [(ngModel)]="addFeeInfo.number" placeholder="请输入数量" (change)="changeFee()">
									</div>
								</div>
								<div class="pure-u-1-5 pl10">
									<div class="pure-control-group">
										<label for="fee">
											<span>费用</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="fee" step="0.01" name="fee" #fee="ngModel" [(ngModel)]="addFeeInfo.fee" placeholder="请输入费用" required="" [disabled]="editType == 'update'">
										<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
											<div [hidden]="!fee.errors.required">
												费用不可为空
											</div>
										</div>
									</div>
								</div>
								<div class="pure-u-2-5 pr10">
									<div class="pure-control-group">
										<label for="remarks">备注说明（最多200字）</label>
										<textarea name="remarks" maxlength="200" #remarks="ngModel" [(ngModel)]="addFeeInfo.remarks" placeholder="请输入备注说明"></textarea>
									</div>
								</div>
							</div>
						</fieldset>
						<!-- 订单未完成，可操作 -->
						<ng-container *ngIf="booking.status != '5'">
							<div class="mt10">
								<div *ngIf="canEdit">
									<button *ngIf="addFeeInfo.editType == 'create'" (click)="removeFee()" class="pure-button">取消</button>
									<button *ngIf="addFeeInfo.editType == 'create'" (click)="editFee(f)" class="pure-button pure-button-primary" [disabled]="btnCanEdit">保存</button>
								</div>
							</div>
						</ng-container>
					</form>
				</div>
			</div>
			<div [ngClass]="{'hidden': selectedTab != '5'}" class="tab">
				<table *ngIf="followupsList.length > 0" class="pure-table w100 table-tab">
					<thead>
						<tr>
							<!-- <th class="w10">随访人员</th> -->
							<th class="w10">随访时间</th>
							<th class="w25">随访内容和原因</th>
							<th class="w20">备注</th>
							<th class="w25">结果</th>
							<th class="w10">状态</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let followups of followupsList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<!-- <td>{{followups.upUserName}}</td> -->
							<td>{{followups.time}}</td>
							<td>
								<div class="length-text">{{followups.account}}</div>
							</td>
							<td>
								<div class="length-text">{{followups.remarks}}</div>
							</td>
							<td>
								<div class="length-text">{{followups.results}}</div>
							</td>
							<td>{{followups.status}}</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasFollowupsData && followupsList.length == 0" class="mt10">
					<nodata title="未查询到随访"></nodata>
				</div>
				<!-- pageType 空为医生接诊， history为查看 -->
				<div *ngIf="pageType != 'history'">
					<div class="mt20">
						<button (click)="addFollowups()" class="pure-button pure-button-primary">新增随访</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">就诊记录</div>
		<div class="pad10">
			<div class="flex pure-form search-tab max">
				<div class="pure-control-group mr10">
					<label for="doctor_id">医生：</label>
					<select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
						<ng-container *ngFor="let doctor of doctorlist">
							<option value="{{doctor.id}}">{{doctor.realName}}</option>
						</ng-container>
					</select>
				</div>
				<div class="pure-control-group mr10">
					<label for="service_id">科室：</label>
					<select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
						<ng-container *ngFor="let service of servicelist">
							<option value="{{service.serviceId}}">{{service.serviceName}}</option>
						</ng-container>
					</select>
				</div>
			</div>
			<div class="flex pure-form search-tab max mt2">
				<div class="pure-control-group mr10 flex">
					<label for="bdate_big">就诊时间：</label>
					<select-date title="请选择日期" [dateText]="searchInfo.bdate_big_text" [endDate]="searchInfo.bdate_less_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_big')"></select-date>
				</div>
				<div class="pure-control-group mr10 flex">
					<label for="bdate_less" class="text-center">至</label>
					<select-date title="请选择日期" [dateText]="searchInfo.bdate_less_text" [startDate]="searchInfo.bdate_big_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_less')"></select-date>
				</div>
				<div class="flex-1"></div>
				<button (click)="showHistory()" class="pure-button pure-button-primary">搜索</button>
			</div>
		</div>
		<div class="content pad10">
			<div class="mt10">
				<table *ngIf="historyList.length > 0" class="pure-table pure-table-horizontal w100">
					<thead>
						<tr>
							<th>预约科室</th>
							<th>接诊医生</th>
							<th>宝宝姓名</th>
							<!-- <th>手机号码</th> -->
							<th>预约时间</th>
							<th class="th-width">备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let history of historyList">
							<td>{{history.services.length > 0 ? history.services[0].serviceName : ''}}</td>
							<td>{{history.services.length > 0 ? history.services[0].userDoctorName : ''}}</td>
							<td class="vip-icon-text">{{history.childName}}<img *ngIf="history.memberId != null" class="vip-icon" src="../assets/images/{{history.memberName.indexOf('太阳') != -1 ? 'icon_son.png' : history.memberName.indexOf('月亮') != -1 ? 'icon_moon.png' : history.memberName.indexOf('星星') != -1 ? 'icon_star.png' : 'vip.png'}}" /></td>
							<!-- <td>{{history.mobile}}</td> -->
							<td>
								<span>{{history.bookingDate}}</span>
								<span>{{history.time}}</span>
							</td>
							<td>
								<div class="length-text">{{history.remark}}</div>
							</td>
							<td>
								<button (click)="goHistory(history)" class="pure-button pure-button-primary">详情</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasHistoryData && historyList.length == 0" class="mt10">
					<nodata title="未查询到就诊记录"></nodata>
				</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<modal-img url="{{modalImg.url}}" showImg="{{modalImg.showImg}}" (onVoted)="closeImg()"></modal-img>
<loading [show]="loadingShow"></loading>
