<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-child-service-list">
			<top-bar [data]="topBar"></top-bar>
			<div *ngIf="moduleAuthority.edit" class="button-tab">
				<button (click)="goCreate()" class="pure-button pure-button-primary">新增小孩服务</button>
			</div>
			<div *ngIf="childServiceList.length > 0" class="pure-g">
				<div class="pure-u-6-24 child-service-tab pad10" *ngFor="let childService of childServiceList">
					<div class="info pad10">
						<div class="flex">
							<div class="w70p">服务名：</div>
							<div class="flex-1">
								{{childService.serviceName}}
							</div>
						</div>
						<div class="flex pt10">
							<div class="w80p">服务说明：</div>
							<div class="flex-1">
								{{childService.description}}
							</div>
						</div>
					</div>
					<a *ngIf="moduleAuthority.edit" class="edit pad10 text-center" (click)="update(childService.serviceId)">
						修改
					</a>
				</div>
			</div>
			<div *ngIf="hasData && childServiceList.length == 0" class="mt10">
				<nodata title="未查询到小孩服务信息"></nodata>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
