<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-clinic-service">
			<top-bar [data]="topBar"></top-bar>
			<div class="pure-g">
				<div class="pure-u-1-5"></div>
				<div class="pure-u-3-5">
					<form #f="ngForm" class="pure-form pure-form-stacked">
						<fieldset>
							<div *ngIf="this.type == 'create'" class="pure-control-group">
								<label for="service">服务</label>
								<select id="service" name="service" [(ngModel)]="serviceModel.service" #service="ngModel" required="">
									<ng-container *ngFor="let childService of childServiceList">
										<option value="{{childService.string}}">{{childService.serviceName}}</option>
									</ng-container>
								</select>
								<div *ngIf="service.errors && (service.dity || service.touched)" class="alert alert-danger">
									<div [hidden]="!service.errors.required">
										服务不可为空
									</div>
								</div>
							</div>
							<div *ngIf="this.type != 'create'" class="pure-control-group">
								<label for="service">服务</label>
								<select id="service" name="service" [(ngModel)]="serviceModel.service" #service="ngModel" required="" disabled="">
									<ng-container *ngFor="let childService of childServiceList">
										<option value="{{childService.string}}">{{childService.serviceName}}</option>
									</ng-container>
								</select>
								<div *ngIf="service.errors && (service.dity || service.touched)" class="alert alert-danger">
									<div [hidden]="!service.errors.required">
										服务不可为空
									</div>
								</div>
							</div>
							<div class="pure-control-group">
								<label for="fee">费用</label>
								<input id="fee" type="number" name="fee" [(ngModel)]="serviceModel.fee" #fee="ngModel" required="">
								<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
									<div [hidden]="!fee.errors.required">
										费用不可为空
									</div>
								</div>
							</div>
						</fieldset>
						<div class="text-center">
							<button (click)="submit(f)" class="pure-button pure-button-primary">提交</button>
						</div>
					</form>
				</div>
				<div class="pure-u-1-5"></div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>