<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-doctor-service-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="button-tab">
				<button (click)="goCreate()" class="pure-button pure-button-primary">新增医生服务</button>
			</div>
			<div *ngIf="doctorServiceList.length > 0" class="pure-g">
				<div class="pure-u-6-24 doctor-service-tab pad10" *ngFor="let doctorService of doctorServiceList">
					<div class="info pad10">
						<div class="flex">
							<div class="w70p">服务名：</div>
							<div class="flex-1">
								{{doctorService.serviceName}}
							</div>
						</div>
						<div class="flex pt10">
							<div class="w70p">服务费用：</div>
							<div class="flex-1">
								{{doctorService.fee}}
							</div>
						</div>
					</div>
					<a class="edit pad10 text-center" (click)="update(doctorService.id)">
						修改
					</a>
				</div>
			</div>
			<div *ngIf="hasData && doctorServiceList.length == 0" class="mt10">
				<nodata title="未查询到医生服务"></nodata>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>