.flex{
	display: -webkit-box-flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box-flex;
	display: -ms-flex;
	display: flex;
}
.flex-1{
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-webkit-box: 1;
	-ms-flex: 1;
	flex: 1;
}