.modal{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.content{
		margin: 0!important;
		border: none!important;
	}
}
.modal .modal-mask{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 2;
}
.modal .container{
	position: absolute;
	top: 10%;
	left: 50%;
	width: 900px;
	height: auto;
	max-height: 80%;
	margin-left: -450px;
	background-color: #fff;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 99999;
	&.mobile{
		width: 80%;
		margin-left: -40%;
	}
}
.modal.small .container{
	width: 400px;
}
.modal .container .title{
	padding: 15px 10px;
	font-size: 20px;
    font-weight: 600;
	border-bottom: 1px solid #efefef;
}
.modal-toast .container{
	position: absolute;
	top: 50px;
	left: 50%;
	width: 700px;
	height: auto;
	max-height: 600px;
	margin-left: -350px;
	background-color: #fff;
	z-index: 222222;
	&.mobile{
		width: 80%;
		margin-left: -40%;
	}
}
.modal-toast .container .content-tab{
	background-color: #4dbd74;
	color: #fff;
}
.modal-toast .container .content-tab.error{
	background-color: #f86c6b;
	color: #fff;
}
.modal-toast .container .content-tab.warning{
	background-color: #DF7514;
	color: #fff;
}
.toast-content{
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -15%;
	width: 30%;
}
