.w5{width: 5%;}
.w7{width: 7%;}
.w10{width: 10%;}
.w12{width: 12%;}
.w12-5{width: 12.5%;}
.w14{width: 14.2857143%;}
.w15{width: 15%;}
.w20{width: 20%!important;}
.w25{width: 25%;}
.w30{width: 30%!important;}
.w33{width: 33.3333333%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w50{width: 50%!important;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%!important;}
.w20p{width: 20px;}
.w40p{width: 40px;}
.w45p{width: 45px;}
.w50p{width: 50px;}
.w60p{width: 60px;}
.w64p{width: 64px;}
.w70p{width: 70px;}
.w80p{width: 80px;}
.w90p{width: 90px;}
.w100p{width: 100px!important;}
.w110p{width: 110px;}
.w120p{width: 120px;}
.w130p{width: 130px;}
.w150p{width: 150px;}
.w210p{width: 210px!important;}
.w400p{width: 400px;}
.maxw100p{max-width: 100px;}

.h120p{height: 120px;}
.h150p{height: 150px;}
