label {
    font-size: 16px;
}
/deep/ .ant-input {
    font-size: 16px!important;
}
.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}
