<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-clinicroom">
			<top-bar [data]="topBar"></top-bar>
			<div>
				<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
					<fieldset>
						<div class="pure-g">
							<div *ngIf="editType == 'create'" class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="project_id">
										<span>项目名</span>
										<span class="required">*</span>
									</label>
									<select id="project_id" name="project_id" [(ngModel)]="inspectInfo.project_id" #project_id="ngModel" required="">
										<ng-container *ngFor="let project of projectlist">
											<option value="{{project.id}}">{{project.name}}</option>
										</ng-container>
									</select>
									<div *ngIf="project_id.errors && (project_id.dity || project_id.touched)" class="alert alert-danger">
										<div [hidden]="!project_id.errors.required">
											项目名不可为空
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="editType == 'update'" class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="project_name">
										<span>项目名</span>
										<span class="required">*</span>
									</label>
									<select id="project_name" name="project_name" disabled="">
										<option value="{{inspectInfo.project_name}}">{{inspectInfo.project_name}}</option>
									</select>
								</div>
							</div>
							<div class="pure-u-8-24 pr5 pl5">
								<div class="pure-control-group">
									<label for="price">
										<span>项目价格</span>
										<span class="required">*</span>
									</label>
									<input id="price" type="number" name="price" [(ngModel)]="inspectInfo.price" #price="ngModel" placeholder="请输入项目价格" required="">
									<div *ngIf="price.errors && (price.dity || price.touched)" class="alert alert-danger">
										<div [hidden]="!price.errors.required">
											项目价格不可为空
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="editType == 'create'" class="pure-u-8-24 pl10">
								<div class="pure-control-group">
									<label for="can_discount">能否优惠</label>
									<select id="can_discount" name="can_discount" [(ngModel)]="inspectInfo.can_discount">
										<option value="0">不能</option>
										<option value="1">能</option>
									</select>
								</div>
							</div>
							<div *ngIf="editType == 'update'" class="pure-u-8-24 pl10">
								<div class="pure-control-group">
									<label for="can_use">状态</label>
									<select id="can_use" name="can_use" [(ngModel)]="inspectInfo.can_use">
										<option value="0">停用</option>
										<option value="1">启用</option>
									</select>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="text-center">
						<button (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary button-max">{{editType == 'create' ? '创建' : '修改'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
