<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-member">
			<top-bar [data]="topBar"></top-bar>
			<div>
				<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
					<fieldset>
						<div class="pure-g">
							<div class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="name">
										<span>会员名</span>
									</label>
									<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="memberInfo.name" placeholder="请输入会员名" required="">
									<div *ngIf="name.errors && (name.dity || name.touched)" class="alert alert-danger">
										<div [hidden]="!name.errors.required">
											会员名不可为空
										</div>
									</div>
								</div>
							</div>
							<div class="pure-u-8-24"></div>
							<div class="pure-u-8-24"></div>
							<div class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="service">
										<span>服务折扣（会员折扣为百分比，如50，实际为50%，即5折，下同）</span>
									</label>
									<div class="flex flex-tab">
										<input type="number" id="service" name="service" #service="ngModel" [(ngModel)]="memberInfo.service" placeholder="请输入服务折扣" required="" class="flex-1">
										<select disabled class="w40p">
											<option>%</option>
										</select>
									</div>
									<div *ngIf="service.errors && (service.dity || service.touched)" class="alert alert-danger">
										<div [hidden]="!service.errors.required">
											服务折扣不可为空
										</div>
									</div>
								</div>
							</div>
							<ng-container *ngFor="let service of serviceList; let index=index;">
								<div class="pure-u-8-24" [ngClass]="{'pl5 pr5': (index % 3 == 0), 'pl10': (index % 3 == 1), 'pr10': (index % 3 == 2)}">
									<div class="pure-control-group">
										<label for="service_{{service.serviceId}}">{{service.serviceName}}服务折扣</label>
										<div class="flex flex-tab">
											<input type="number" id="service_{{service.serviceId}}" name="service_{{service.serviceId}}" [(ngModel)]="service.discount" placeholder="请输入{{service.serviceName}}服务折扣" required="" class="flex-1">
											<select disabled class="w40p">
												<option>%</option>
											</select>
										</div>
									</div>
								</div>
							</ng-container>
						</div>
						<div class="pure-g">
							<div class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="check">
										<span>检查折扣</span>
									</label>
									<div class="flex flex-tab">
										<input type="number" id="check" name="check" #check="ngModel" [(ngModel)]="memberInfo.check" placeholder="请输入检查折扣" required="" class="flex-1">
										<select disabled class="w40p">
											<option>%</option>
										</select>
									</div>
									<div *ngIf="check.errors && (check.dity || check.touched)" class="alert alert-danger">
										<div [hidden]="!check.errors.required">
											检查折扣不可为空
										</div>
									</div>
								</div>
							</div>
							<div class="pure-u-8-24 pl5 pr5">
								<div class="pure-control-group">
									<label for="prescript">
										<span>药品折扣</span>
									</label>
									<div class="flex flex-tab">
										<input type="number" id="prescript" name="prescript" #prescript="ngModel" [(ngModel)]="memberInfo.prescript" placeholder="请输入药品折扣" required="" class="flex-1">
										<select disabled class="w40p">
											<option>%</option>
										</select>
									</div>
									<div *ngIf="prescript.errors && (prescript.dity || prescript.touched)" class="alert alert-danger">
										<div [hidden]="!prescript.errors.required">
											药品折扣不可为空
										</div>
									</div>
								</div>
							</div>
							<div class="pure-u-8-24 pl10">
								<div class="pure-control-group">
									<label for="other">
										<span>其他折扣</span>
									</label>
									<div class="flex flex-tab">
										<input type="number" id="other" name="other" #other="ngModel" [(ngModel)]="memberInfo.other" placeholder="请输入其他折扣" required="" class="flex-1">
										<select disabled class="w40p">
											<option>%</option>
										</select>
									</div>
									<div *ngIf="other.errors && (other.dity || other.touched)" class="alert alert-danger">
										<div [hidden]="!other.errors.required">
											其他折扣不可为空
										</div>
									</div>
								</div>
							</div>
							<div *ngIf="editType == 'update'" class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="status">
										<span>状态</span>
									</label>
									<select id="status" name="status" [(ngModel)]="memberInfo.status">
										<option value="1">可用</option>
										<option value="0">停用</option>
									</select>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="text-center">
						<button (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary">{{editType == 'create' ? '创建' : '修改'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
