<header-nav></header-nav>
<div class="content-section admin-medical-purchase-info">
	<top-bar [data]="topBar"></top-bar>
	<div *ngFor="let info of infoList">
        <div class="pure-g">
            <div class="pure-u-8-24 mb10">
                <div class="flex">
                    <div class="w110p">供应商：</div>
                    <div class="flex-1">{{info.supplierName}}</div>
                </div>
            </div>
            <div class="pure-u-8-24 mb10">
                <div class="flex">
                    <div class="w110p">发货时间：</div>
                    <div class="flex-1">{{info.aboutTime}}</div>
                </div>
            </div>
            <div class="pure-u-8-24 mb10">
                <div class="flex">
                    <div class="w110p">入库时间：</div>
                    <div class="flex-1">{{info.purshaseTime}}</div>
                </div>
            </div>
            <div class="pure-u-8-24 mb10">
                <div class="flex">
                    <div class="w110p">制单人：</div>
                    <div class="flex-1">{{info.adminName}}</div>
                </div>
            </div>
            <div class="pure-u-8-24 mb10">
                <div class="flex">
                    <div class="w110p">总费用：</div>
                    <div class="flex-1">{{info.fee}}</div>
                </div>
            </div>
        </div>
		<table class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th class="w7">药品名</th>
					<th class="w7">商品名</th>
					<th class="w7">生产厂家</th>
					<th class="w7">规格</th>
					<th class="w7">药品类型</th>
					<th class="w7">国药准字</th>
					<th class="w7">条形码</th>
					<th class="w7">批次</th>
					<th class="w7">有效日期</th>
					<th class="w7">能否优惠</th>
					<th class="w7">是否处方药</th>
					<th class="w7">单位</th>
					<th class="w7">进价</th>
					<th class="w7">入库数量</th>
					<th class="w7">总价</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of info.info">
					<td>{{item.msName}}</td>
					<td>{{item.tradeName}}</td>
					<td>{{item.manufacturer}}</td>
					<td>{{item.format}}</td>
					<td>{{item.typeText}}</td>
					<td>{{item.otc}}</td>
					<td>{{item.code}}</td>
					<td>{{item.batch}}</td>
					<td>{{item.expiringDate}}</td>
					<td>{{item.canDiscount == '0' ? '不可' : '可以'}}</td>
					<td>{{item.isPrescribed == '0' ? '非处方' : '处方'}}</td>
					<td>{{item.unit}}</td>
					<td>{{item.bid}}</td>
					<td>{{item.num}}</td>
					<td>{{item.fee}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
