<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-prescript">
	<top-bar [data]="topBar"></top-bar>
    <nz-card class="w100">
        <ng-template #title>
            预约详情
        </ng-template>
        <ng-template #body>
			<div class="flex">
				<div>宝宝姓名：</div>
				<div class="flex-1">{{bookingInfo.childName}}</div>
			</div>
			<div class="flex mt10">
				<div>年龄：</div>
				<div class="flex-1">{{bookingInfo.age}}</div>
			</div>
			<div class="flex mt10">
				<div>预约时间：</div>
				<div class="flex-1">
					<span class="info">{{bookingInfo.bookingDate}}</span>
					<span class="info">{{bookingInfo.time}}</span>
				</div>
			</div>
		</ng-template>
	</nz-card>
    <nz-card class="w100 mt20">
        <ng-template #title>
            药方详情{{mPrescriptList.length}}
        </ng-template>
        <ng-template #body>
			<nz-alert *ngIf="this.secondType == 'back'" [nzType]="'warning'" [nzMessage]="'退药提醒'" [nzDescription]="'留下的药品为用户需要退的药品'" nzShowIcon class="mb10"></nz-alert>
		    <form nz-form [formGroup]="validateForm">
				<nz-collapseset>
					<nz-collapse *ngFor="let medical_info of mPrescriptList; let index=index;" [nzTitle]="'药品'" [nzActive]="medical_info.isActive">
						<div *ngIf="secondType == 'back' || ((secondType == '' || secondType == 'update') && medical_info.id != 0) || (secondType == 'continueAdd' && !medical_info.isOut)" class="mt10 mb10 text-right">
							<nz-popconfirm [nzTitle]="'确定要删除这个药品吗？'" (nzOnConfirm)="removeField(medical_info)">
								<button nz-popconfirm nz-button [nzType]="'danger'" [nzSize]="'large'">删除</button>
						    </nz-popconfirm>
						</div>
						<div nz-row [nzGutter]="30">
							<div nz-col [nzSpan]="12">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>药品名：</label>
									</div>
									<div nz-form-control>
										<nz-select
											[formControlName]="medical_info.medical"
											[nzPlaceHolder]="'请选择药品'"
											(nzOpenChange)="msChange(index)"
											[nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')"
											nzShowSearch>
											<ng-container *ngFor="let medicalSupplie of medicalSupplies">
												<nz-option
													[nzValue]="medicalSupplie"
													[nzLabel]="medicalSupplie.name + (medicalSupplie.others.length == 0 ? '（库存为0）' : '') + '（规格：' + medicalSupplie.format + '）'"
													[nzDisabled]="medicalSupplie.others.length == 0"></nz-option>
											</ng-container>
										</nz-select>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>批次：</label>
									</div>
									<div nz-form-control>
										<nz-select
											*ngIf="!(secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != ''))"
											[formControlName]="medical_info.batch"
											[nzPlaceHolder]="'请选择批次'"
											nzShowSearch>
											<ng-container *ngFor="let batch of medical_info.batchList">
												<nz-option
													[nzValue]="batch"
													[nzLabel]="batch.batch + '（库存：' + batch.stock + medical_info	.selectedUnit + '）'"></nz-option>
											</ng-container>
										</nz-select>
										<nz-input *ngIf="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')" [nzDisabled]="true" [nzPlaceHolder]="medical_info.selectedBatch.batch"></nz-input>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>单次计量：</label>
									</div>
									<div nz-form-control>
										<nz-input-group [nzSize]="'large'">
											<nz-select [formControlName]="medical_info.oneNum" [nzPlaceHolder]="'请选择单次计量'" class="w50" [nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')">
												<ng-container *ngFor="let number of oneNumList">
													<nz-option [nzLabel]="number.value" [nzValue]="number.key"></nz-option>
												</ng-container>
											</nz-select>
								      		<nz-select [formControlName]="medical_info.oneUnit" [nzPlaceHolder]="'请选择单次计量单位'" class="w50" [nzDisabled]="true">
												<nz-option [nzLabel]="medical_info.selectedOneUnit" [nzValue]="medical_info.selectedOneUnit"></nz-option>
								      		</nz-select>
										</nz-input-group>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>用法：</label>
									</div>
									<div nz-form-control>
										<nz-select [formControlName]="medical_info.usage" [nzPlaceHolder]="'请选择用法'" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')" [nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')">
											<ng-container *ngFor="let usage of usagelsit">
												<nz-option [nzValue]="usage" [nzLabel]="usage"></nz-option>
											</ng-container>
										</nz-select>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>用药频次：</label>
									</div>
									<div nz-form-control>
										<nz-select [formControlName]="medical_info.frequency" [nzPlaceHolder]="'请选择用药频次'" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')" [nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')">
											<ng-container *ngFor="let frequency of frequencylist">
												<nz-option [nzValue]="frequency" [nzLabel]="frequency"></nz-option>
											</ng-container>
										</nz-select>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>天数：</label>
									</div>
									<div nz-form-control>
										<nz-select [formControlName]="medical_info.days" [nzPlaceHolder]="'请选择天数'" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')" [nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')">
											<ng-container *ngFor="let number of numberList">
												<nz-option [nzValue]="number.value" [nzLabel]="number.key"></nz-option>
											</ng-container>
										</nz-select>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="6">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>{{secondType == '' || secondType == 'continueAdd' || secondType == 'update' ? '总量' : '退药'}}：</label>
									</div>
									<div nz-form-control>
										<nz-input-group [nzSize]="'large'">
											<nz-select [formControlName]="medical_info.num" [nzPlaceHolder]="'请选择总量'" [nzDisabled]="secondType == 'continueAdd' && medical_info.isOut != ''" class="w50">
												<ng-container *ngFor="let number of numberList">
													<nz-option [nzValue]="number.value" [nzLabel]="number.key"></nz-option>
												</ng-container>
											</nz-select>
								      		<nz-select [formControlName]="medical_info.unit" [nzPlaceHolder]="'请选择单位'" class="w50" [nzDisabled]="true">
												<nz-option [nzLabel]="medical_info.selectedUnit" [nzValue]="medical_info.selectedUnit"></nz-option>
								      		</nz-select>
										</nz-input-group>
									</div>
								</div>
							</div>
						</div>
						<div nz-row [nzGutter]="30">
							<div nz-col [nzSpan]="12">
								<div nz-form-item>
									<div nz-form-label>
										<label nz-form-item-required>一般用法：</label>
									</div>
									<div nz-form-control>
										<nz-input [formControlName]="medical_info.ms_usage" [nzType]="'textarea'" [nzSize]="'large'" [nzPlaceHolder]="'请输入一般用法'" nzDisabled></nz-input>
									</div>
								</div>
							</div>
							<div nz-col [nzSpan]="12">
								<div nz-form-item>
									<div nz-form-label>
										<label>注意事项：</label>
									</div>
									<div nz-form-control>
										<nz-input [formControlName]="medical_info.remark" [nzType]="'textarea'" [nzSize]="'large'" [nzPlaceHolder]="'请输入一般用法'" [nzDisabled]="secondType == 'back' || (secondType == 'continueAdd' && medical_info.isOut != '')"></nz-input>
									</div>
								</div>
							</div>
						</div>
					</nz-collapse>
				</nz-collapseset>
				<div *ngIf="secondType == '' || secondType == 'continueAdd' || secondType == 'update'" class="text-center mt20">
	        		<button nz-button [nzType]="'dashed'" [nzSize]="'large'" class="w100" (click)="addField(null, $event)">
	          			<i class="anticon anticon-plus"></i>
	          			<span> 添加药品</span>
	        		</button>
		    	</div>
				<div nz-row [nzGutter]="30">
					<div nz-col [nzSpan]="12">
						<div nz-form-item>
							<div nz-form-label>
								<label *ngIf="secondType == '' || secondType == 'continueAdd' || secondType == 'update'">备注</label>
								<label *ngIf="!(secondType == '' || secondType == 'continueAdd' || secondType == 'update')" nz-form-item-required>退药说明</label>
							</div>
							<div nz-form-control>
								<nz-input formControlName="remark" [nzPlaceHolder]="'请输入'" [nzType]="'textarea'" [nzSize]="'large'"></nz-input>
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="text-center">
				<button *ngIf="this.secondType != '' && this.secondType != 'continueAdd' && this.secondType != 'update'" (click)="confirmCreate(); $event.stopPropagation();" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingSave">退药</button>
				<button *ngIf="this.secondType == '' || this.secondType == 'continueAdd' || this.secondType == 'update'" (click)="create(); $event.stopPropagation();" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingSave">保存</button>
			</div>
		</ng-template>
	</nz-card>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="modalContent" [nzFooter]="footerTab" (nzOnCancel)="closeConfirm()">
	<ng-template #modalContent>
    	<p>{{selected.text}}</p>
	</ng-template>
	<ng-template #footerTab>
		<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeConfirm()">取消</button>
		<button *ngIf="createTab" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="confirmPre()">确认</button>
	</ng-template>
</nz-modal>
