<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-prescript">
	<top-bar [data]="topBar"></top-bar>
	<div class="info-tab flex">
		<div class="item flex-1">
			<label>宝宝姓名：</label>
			<span class="info">{{bookingInfo.childName}}</span>
		</div>
		<div class="item flex-1">
			<label>年龄：</label>
			<span class="info">{{bookingInfo.age}}</span>
		</div>
		<!-- <div class="item flex">
			<label>预约类型</label>
			<div class="info">{{bookingInfo.type == 'PT' ? '普通号' : '专家号'}}</div>
		</div> -->
		<div class="item flex-1">
			<label>预约时间：</label>
			<span class="info">{{bookingInfo.bookingDate}}</span>
			<span class="info">{{bookingInfo.time}}</span>
		</div>
	</div>
	<div *ngIf="this.secondType == 'back'" class="item flex mt30">
		<div class="flex-1"></div>
		<div class="flex-0">提示:删除的药是需要保留的药</div>
	</div>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<!-- <div class="pure-g">
				<div class="pure-u-7-24 pr10">
					<label for="name">药方名</label>
					<input type="text" id="name" name="name" [(ngModel)]="prescriptInfo.name" #name="ngModel" placeholder="请输入药方名" [disabled]="secondType != ''">
				</div>
			</div> -->
			<div *ngFor="let ms of plist" class="ms-tab mt5">
				<div *ngIf="ms.use">
					<div (click)="showMs(ms.key)" class="ms-bar flex">
						<div class="flex-1 pt5">
							<ng-container *ngIf="ms.show">
								<span>隐藏</span>
								<i class="icon-chevron-right"></i>
							</ng-container>
							<ng-container *ngIf="!ms.show">
								<span>展开</span>
								<i class="icon-chevron-down"></i>
							</ng-container>
						</div>
						<div *ngIf="secondType == 'back' || ((secondType == '' || secondType == 'update') && ms.key != 1) || (secondType == 'continueAdd' && ms.ms.isOut == '')">
							<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
						</div>
					</div>
					<div [ngClass]="{'hide': !ms.show}" class="pure-g">
						<div class="pure-u-7-24 pr10">
							<div class="pure-control-group">
								<label for="ms_{{ms.key}}">
									<span>药品名</span>
									<span class="required">*</span>
								</label>
								<select id="ms_{{ms.key}}" name="ms_{{ms.key}}" [(ngModel)]="ms.string" (change)="msChange(ms.key, $event.target.value)" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
									<ng-container *ngFor="let medicalSupplie of medicalSupplies">
										<option value="{{medicalSupplie.string}}" [disabled]="medicalSupplie.others.length == 0">{{medicalSupplie.name}}{{medicalSupplie.others.length == 0 ? '（库存为0）' : ''}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-3-24 pr10">
							<div class="pure-control-group">
								<label for="batch_{{ms.key}}">
									<span>批次</span>
									<span class="required">*</span>
								</label>
								<select id="batch_{{ms.key}}" name="batch_{{ms.key}}" [(ngModel)]="ms.ms.batch" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
									<ng-container *ngFor="let batch of ms.batchList">
										<option value="{{batch.string}}">{{batch.batch}}（规格：{{batch.format}}，库存：{{batch.stock}}{{ms.ms.unit}}）</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-3-24 pr10">
							<div class="pure-control-group">
								<label for="one_num_{{ms.key}}">
									<span>单次剂量</span>
									<span class="required">*</span>
								</label>
								<div class="flex flex-tab">
									<ng-container *ngIf="secondType == '' || (secondType == 'continueAdd' && ms.ms.isOut == '') || secondType == 'update'">
										<select-search [title]="ms.ms.oneNum" [selectList]="oneNumList" [addInput]="true" (onVoted)="changeNumber($event, ms.key, 'oneNum')"></select-search>
									</ng-container>
									<ng-container *ngIf="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
										<input type="number" id="one_num_{{ms.key}}" name="one_num_{{ms.key}}" [(ngModel)]="ms.ms.oneNum" disabled>
									</ng-container>
									<select disabled="">
										<option>{{ms.ms.oneUnit}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="pure-u-3-24 pr10">
							<div class="pure-control-group">
								<label for="frequency_{{ms.key}}">
									<span>用法</span>
									<span class="required">*</span>
								</label>
								<select id="frequency_{{ms.key}}" name="frequency_{{ms.key}}" #frequency_{{ms.key}}="ngModel" [(ngModel)]="ms.ms.frequency" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
									<ng-container *ngFor="let frequency of frequencylist">
										<option value="{{frequency}}">{{frequency}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-3-24 pr10">
							<div class="pure-control-group">
								<label for="usage_{{ms.key}}">
									<span>用药频次</span>
									<span class="required">*</span>
								</label>
								<select id="usage_{{ms.key}}" name="usage_{{ms.key}}" [(ngModel)]="ms.ms.usage" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
									<ng-container *ngFor="let usage of usagelsit">
										<option value="{{usage}}">{{usage}}</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-2-24 pr10">
							<div class="pure-control-group">
								<label for="days_{{ms.key}}">
									<span>天数</span>
									<span class="required">*</span>
								</label>
								<ng-container *ngIf="secondType == '' || (secondType == 'continueAdd' && ms.ms.isOut == '') || secondType == 'update'">
									<select-search [title]="ms.ms.days" [selectList]="numberList" [addInput]="true" (onVoted)="changeNumber($event, ms.key, 'days')"></select-search>
								</ng-container>
								<ng-container *ngIf="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')">
									<input type="number" id="days_{{ms.key}}" name="days_{{ms.key}}" [(ngModel)]="ms.ms.days" disabled>
								</ng-container>
							</div>
						</div>
						<div class="pure-u-3-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="num_{{ms.key}}">
									<span>{{secondType == '' || secondType == 'continueAdd' || secondType == 'update' ? '总量' : '退药'}}</span>
									<span class="required">*</span>
								</label>
								<div class="flex flex-tab">
									<ng-container *ngIf="secondType == '' || (secondType == 'back') || (secondType == 'continueAdd' && ms.ms.isOut == '') || secondType == 'update'">
										<select-search [title]="ms.ms.num" [selectList]="numberList" [addInput]="true" (onVoted)="changeNumber($event, ms.key, 'num')"></select-search>
									</ng-container>
									<ng-container *ngIf="secondType == 'continueAdd' && ms.ms.isOut != ''">
										<input type="number" id="num_{{ms.key}}" name="num_{{ms.key}}" [(ngModel)]="ms.ms.num" disabled>
									</ng-container>
									<select disabled="">
										<option>{{ms.ms.unit}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="pure-u-7-24 pr10">
							<div class="pure-control-group">
								<label for="ms_usage_{{ms.key}}">
									<span>一般用法</span>
								</label>
								<textarea id="ms_usage_{{ms.key}}" rows="4" name="ms_usage_{{ms.key}}" [(ngModel)]="ms.ms.ms_usage" class="auto" disabled></textarea>
							</div>
						</div>
						<div class="pure-u-6-24 pl5 pr5">
							<div class="pure-control-group">
								<label for="remark_{{ms.key}}">
									<span>说明（最多200字）</span>
								</label>
								<textarea maxlength="200" rows="4" id="remark_{{ms.key}}" name="remark_{{ms.key}}" [(ngModel)]="ms.ms.remark" class="auto" [disabled]="secondType == 'back' || (secondType == 'continueAdd' && ms.ms.isOut != '')"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="secondType == '' || secondType == 'continueAdd' || secondType == 'update'" class="mt10">
				<button (click)="addMs()" class="pure-button pure-button-primary"><i class="icon-plus mr5"></i>添加药品</button>
			</div>
			<div class="pure-g">
				<div class="pure-u-7-24 pr10">
					<label for="remark">{{secondType == '' || secondType == 'continueAdd' || secondType == 'update' ? '备注' : '退药说明'}}（最多100字）</label>
					<textarea id="remark" name="remark" rows="4" maxlength="100" [(ngModel)]="prescriptInfo.remark" class="auto" placeholder="请输入"></textarea>
				</div>
			</div>
		</fieldset>
		<div class="text-center">
			<button *ngIf="this.secondType != '' && this.secondType != 'continueAdd' && this.secondType != 'update'" (click)="confirmCreate(f); $event.stopPropagation();" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">退药</button>
			<button *ngIf="this.secondType == '' || this.secondType == 'continueAdd' || this.secondType == 'update'" (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">保存</button>
		</div>
	</form>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{selected.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button *ngIf="createTab" (click)="confirmPre()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
