<header-nav></header-nav>
<div class="content-section admin-prescript-back-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div *ngIf="moduleAuthority.see" class="item" (click)="goUrl('./admin/prescript/list')">出药</div>
		<div class="item active">退药</div>
		<div *ngIf="moduleAuthority.seeSale" class="item" (click)="goUrl('./admin/prescript/saleList')">药品零售</div>
	</div>
	<div class="pure-form flex mt10 search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10">
			<label for="is_back">状态：</label>
			<select id="is_back" name="is_back" [(ngModel)]="searchInfo.is_back">
				<option value="1">医生同意退药</option>
				<option value="2">已成功退药</option>
			</select>
		</div>
		<div class="pure-control-group mr10">
			<label for="doctor_name">医生名：</label>
			<input type="text" id="doctor_name" name="doctor_name" [(ngModel)]="searchInfo.doctor_name" placeholder="请输入医生名">
		</div>
		<div class="w64p"></div>
	</div>
	<div class="pure-form flex mt10 search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10">
			<label for="user_name">用户名：</label>
			<input type="text" id="user_name" name="user_name" [(ngModel)]="searchInfo.user_name" placeholder="请输入用户名">
		</div>
		<div class="pure-control-group mr10">
			<label for="child_name">宝宝名：</label>
			<input type="text" id="child_name" name="child_name" [(ngModel)]="searchInfo.child_name" placeholder="请输入宝宝名">
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="">
		<table *ngIf="list.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<!-- <th>药方名</th> -->
					<th>就诊医生</th>
					<th>用户名</th>
					<th>宝宝名</th>
					<th>药品名</th>
					<th>批次</th>
					<th>药品单位</th>
					<th>退药数量</th>
					<th class="th-width">备注</th>
					<th>日期</th>
					<th>退药人</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let item of list;">
					<tr *ngFor="let info of item.info; let indexInfo=index;">
						<!-- <td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.name}}</td> -->
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.doctorName}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.userName}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.childName}}</td>
						<td>{{info.pname}}</td>
						<td>{{info.batch}}</td>
						<td>{{info.unit}}</td>
						<td>{{info.back_num}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
							<div class="length-text">{{item.remark}}</div>
						</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.date}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.apotName}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
							<span *ngIf="moduleAuthority.editBack && (item.isBack == '2')">已退药</span>
							<button *ngIf="moduleAuthority.editBack && (item.isBack == '1')" (click)="selectPrescript(item.id)" class="pure-button pure-button-primary">确认退药</button>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
		<div *ngIf="hasData && list.length == 0" class="mt10">
			<nodata title="未查询到退药信息"></nodata>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{select.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
