<!-- <header-nav></header-nav> -->
<div class="content-section admin-prescript-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item active">西/中成药-出药</div>
		<div *ngIf="moduleAuthority.seeBack" class="item" (click)="goUrl('./admin/prescript/backList')">西/中成药-退药</div>
		<div *ngIf="moduleAuthority.seeTcm" class="item" (click)="goUrl('./admin/prescript/tcmList')">中药-出药</div>
		<div *ngIf="moduleAuthority.seeSale" class="item" (click)="goUrl('./admin/prescript/sale/list')">药品零售</div>
	</div>
	<div nz-row class="mt10 mb10">
		<div nz-col [nzSpan]="6" [nzOffset]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="isout">出药：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select class="w100"
						[(ngModel)]="searchInfo.isout"
						[nzPlaceHolder]="'请选择是否出药'"
						[nzSize]="'large'"
						nzAllowClear>
						<nz-option [nzLabel]="'未出药'" [nzValue]="''"></nz-option>
						<nz-option [nzLabel]="'全部'" [nzValue]="'1'"></nz-option>
					</nz-select>
				</div>
			</div>
		</div>
    	<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="_startDate">创建时间：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="_startDate=$event"
					[nzSize]="'large'" class="w100" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择开始日期'"></nz-datepicker>
				</div>
			</div>
		</div>
    	<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="_endDate">至：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="_endDate=$event"
					[nzSize]="'large'" class="w100" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择结束日期'"></nz-datepicker>
				</div>
			</div>
		</div>
	</div>
	<div nz-row class="mt10 mb10">
		<div nz-col [nzSpan]="6" [nzOffset]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="doctor_name">医生名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.doctor_name" [nzPlaceHolder]="'请输入医生名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="user_name">家长姓名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.user_name" [nzPlaceHolder]="'请输入家长姓名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="child_name">宝宝名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.child_name" [nzPlaceHolder]="'请输入宝宝名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right mt10 mb10">
		<button (click)="selectPrint()" nz-button [nzType]="'primary'" [nzSize]="'large'">
			<i class="anticon anticon-printer"></i>
			<span>打印</span>
		</button>
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">
			<i class="anticon anticon-search"></i>
			<span>搜索</span>
		</button>
	</div>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="list" [nzBordered]="true" [nzIsPagination]="false">
		<thead nz-thead>
			<tr>
				<th nz-th>就诊医生</th>
				<th nz-th>宝宝名</th>
				<th nz-th>宝宝年龄</th>
				<th nz-th>药品名</th>
				<th nz-th>批次</th>
				<th nz-th>药品数量</th>
				<th nz-th class="w15">用法说明</th>
				<th nz-th class="text-center">状态</th>
				<th nz-th class="w10">备注</th>
				<th nz-th>日期</th>
				<th nz-th>出药人</th>
				<th nz-th>操作</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<ng-container *ngFor="let item of list;">
				<tr *ngIf="item.info.length == 0">
					<td>{{item.doctorName}}</td>
					<td>{{item.childName}}</td>
					<td>{{item.age}}</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>
						<div class="td-text">{{item.remark}}</div>
					</td>
					<td>{{item.date}}</td>
					<td>{{item.apotName}}</td>
					<td>
						<span *ngIf="item.outCode == 0">-</span>
						<button *ngIf="moduleAuthority.edit && (item.outCode == 1 || item.outCode == 2)" (click)="selectPrescript(item.id)" nz-button [nzType]="'primary'" [nzSize]="'large'">出药</button>
					</td>
				</tr>
				<ng-container *ngIf="item.info.length > 0">
					<tr *ngFor="let info of item.info; let indexInfo=index;">
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.doctorName}}</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.childName}}</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.age}}</td>
						<td>{{info.pname}}</td>
						<td>{{info.batch}}</td>
						<td>{{info.num}}{{info.unit}}</td>
						<td>
							<div class="td-text">{{info.msExplain}}</div>
						</td>
						<td class="text-center" [ngClass]="{'canEdit': info.isOut == '0'}">{{info.isOut == '0' ? '未出药' : '已出药'}}</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">
							<div class="td-text">{{item.remark}}</div>
						</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.date}}</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.apotName}}</td>
						<td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">
							<span *ngIf="item.outCode == 0">-</span>
							<button *ngIf="moduleAuthority.edit && (item.outCode == 1 || item.outCode == 2)" (click)="selectPrescript(item.id)" nz-button [nzType]="'primary'" [nzSize]="'large'">出药</button>
						</td>
					</tr>
				</ng-container>
			</ng-container>
		</tbody>
	</nz-table>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{select.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" nz-button [nzType]="'default'" [nzSize]="'large'">关闭</button>
			<button (click)="confirm()" nz-button [nzType]="'primary'" [nzSize]="'large'">确认</button>
		</div>
	</div>
</div>
<div class="modal prescript-list-modal" *ngIf="modalPrintConfirmTab">
	<div class="modal-mask" (click)="closePrintConfirm()"></div>
	<div class="container mobile">
		<div class="title">
			<div class="flex">
				<div>选择打印</div>
				<div class="flex-1 text-right">
					<button (click)="closePrintConfirm()" nz-button [nzType]="'default'" [nzSize]="'large'">关闭</button>
					<e-ngx-print #print1
					[printHTML]="printInfo_div"
					[printStyle]="printStyle"
					[showBtn]="false"  (printComplete)="printComplete()">
					</e-ngx-print>
					<button (click)="customPrint()" nz-button [nzType]="'primary'" [nzSize]="'large'">
						<i class="anticon anticon-printer"></i>
						<span>打印</span>
					</button>
				</div>
			</div>
		</div>
		<div class="content pad10">
			<nz-table #nzTablePrint [nzDataSource]="modalList" [nzBordered]="true" [nzIsPagination]="false">
				<thead nz-thead>
					<tr>
						<th nz-th>就诊医生</th>
						<th nz-th>宝宝名</th>
						<th nz-th>宝宝年龄</th>
						<th nz-th>药品名</th>
						<th nz-th>批次</th>
						<th nz-th>药品数量</th>
						<th nz-th>打印数量</th>
						<th nz-th>
						   <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
						     <span>全选/取消</span>
						   </label>
						</th>
					</tr>
				</thead>
				<tbody nz-tbody>
					<ng-container *ngFor="let item of modalList;">
						<ng-container *ngIf="item.info.length > 0">
							<tr *ngFor="let info of item.info; let indexInfo=index;" nz-tbody-tr>
								<td nz-td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.doctorName}}</td>
								<td nz-td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.childName}}</td>
								<td nz-td [attr.rowspan]="item.info.length" *ngIf="indexInfo == 0">{{item.age}}</td>
								<td nz-td>{{info.pname}}</td>
								<td nz-td>{{info.batch}}</td>
								<td nz-td>{{info.num}}{{info.unit}}</td>
								<td nz-td>
									<nz-input-number [(ngModel)]="info.printNum" [nzMin]="1" [nzStep]="1"></nz-input-number>
								</td>
								<td nz-td>
									<label nz-checkbox [(ngModel)]="info.isCheck" (ngModelChange)="selectChange(info.pid,$event)">
									</label>
								</td>
							</tr>
						</ng-container>
					</ng-container>
				</tbody>
			</nz-table>
		</div>
		<div style="display:none;">
			<div id="printInfo_div" #printInfo_div>
				<ng-container *ngFor="let item of printList;">
					<div *ngFor="let info of item.info; let indexInfo=index;" >
						<div class="main-container" *ngFor="let num of range(info.printNum);">
							<div class="print-content">
								<div class="header">
									<div class="head">
										<div class="flex font-mid">
											<div class="flex-1">
												{{info.tradeName}}
											</div>
											<div class="font-mid">
												{{info.format}}
											</div>
										</div>
										<div class="">
											{{info.pname}}
										</div>
									</div>
									<div class="main-content">
										<div class="flex">
											<div class="flex-1">
												<div class="font-big">{{info.frequency}}</div>
												<div>{{info.msExplainPrint}}</div>
												<div class="">{{info.remark}}</div>
											</div>
											<div class="">
												<img class="img-code" src="/assets/images/qrcode.jpg" />
											</div>
										</div>
									</div>
									<div class="main-content-footer">
										<div class="flex">
											<div class="flex-1">
												{{item.childName}} {{item.age}}
											</div>
											<div class="">
												有效期 {{info.expiringDate}}
											</div>
										</div>
										<div class="flex">
											<div class="flex-1">
												<div>{{item.doctorName}} {{item.datePrint}}</div>
											</div>
											<div class="max210">
												远离儿童放置
											</div>
										</div>
									</div>
								</div>
								<!--底部-->
								<div class="footer">
									<div class="flex">
										<div class="flex-1 logo-text">
											嘉宝康乐
										</div>
										<div class="color-white tel">
											{{item.clinicTel}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
