<header-nav [title]="'kkk'"></header-nav>
<div class="content admin-prescript-sale">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item" (click)="goUrl('./admin/prescript/list')">出药</div>
		<div class="item" (click)="goUrl('./admin/prescript/backList')">退药</div>
		<div class="item active" (click)="goUrl('./admin/prescript/saleList')">药品零售</div>
	</div>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<div class="pure-g">
				<div class="pure-u-8-24 pr10">
					<div class="pure-control-group">
						<label for="type">用户类型</label>
						<select id="type" name="type" #type="ngModel" [(ngModel)]="sale.type">
							<option value="1">诊所用户</option>
							<option value="2">外来用户</option>
						</select>
					</div>
				</div>
			</div>
			<div *ngIf="sale.type != ''" class="pure-g">
				<div *ngIf="sale.type == '1'" class="pure-u-8-24 pr10">
					<div class="pure-control-group">
						<label for="user">用户</label>
						<select-search [title]="'请选择用户'" [selectList]="userList" (onVoted)="changeUser($event)"></select-search>
					</div>
				</div>
				<div *ngIf="sale.type == '2'" class="pure-u-8-24 pr10">
					<div class="pure-control-group">
						<label for="mobile">手机号码</label>
						<input type="tel" id="mobile" name="mobile" maxlength="11" minlength="11" [(ngModel)]="sale.mobile" placeholder="请输入手机号码">
					</div>
				</div>
				<div class="pure-u-8-24 pl5 pr5">
					<div class="pure-control-group">
						<label for="idcard">身份证号</label>
						<input type="tel" id="idcard" name="idcard" [(ngModel)]="sale.idcard" placeholder="请输入身份证号">
					</div>
				</div>
			</div>
			<div *ngFor="let ms of plist" class="ms-tab mt5">
				<div *ngIf="ms.use">
					<div (click)="showMs(ms.key)" class="ms-bar flex">
						<div class="flex-1 pt5">
							<ng-container *ngIf="ms.show">
								<span>隐藏</span>
								<i class="icon-chevron-right"></i>
							</ng-container>
							<ng-container *ngIf="!ms.show">
								<span>展开</span>
								<i class="icon-chevron-down"></i>
							</ng-container>
						</div>
						<div *ngIf="ms.key != 1">
							<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
						</div>
					</div>
					<div [ngClass]="{'hide': !ms.show}" class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="ms_{{ms.key}}">
									<span>药品名</span>
									<span class="required">*</span>
								</label>
								<select id="ms_{{ms.key}}" name="ms_{{ms.key}}" [(ngModel)]="ms.string" (change)="msChange(ms.key, $event.target.value)">
									<ng-container *ngFor="let medicalSupplie of medicalSupplies">
										<ng-container *ngIf="medicalSupplie.type == '1' || medicalSupplie.type == '2'">
											<option value="{{medicalSupplie.string}}">{{medicalSupplie.name}}</option>
										</ng-container>
									</ng-container>
								</select>
							</div>
						</div>
							<div class="pure-u-3-24 pl5 pr5">
								<div class="pure-control-group">
									<label for="batch_{{ms.key}}">
										<span>批次</span>
										<span class="required">*</span>
									</label>
									<select id="batch_{{ms.key}}" name="batch_{{ms.key}}" [(ngModel)]="ms.ms.batch">
										<ng-container *ngFor="let batch of ms.batchList">
											<ng-container *ngIf="batch.isPrescribed == '0'">
												<option value="{{batch.string}}">{{batch.batch}}（库存：{{batch.stock}}{{ms.ms.unit}}）</option>
											</ng-container>
										</ng-container>
									</select>
								</div>
							</div>
						<div class="pure-u-3-24 pl10">
							<div class="pure-control-group">
								<label for="num_{{ms.key}}">
									<span>总量</span>
									<span class="required">*</span>
								</label>
								<div class="flex flex-tab">
									<input type="number" id="num_{{ms.key}}" name="num_{{ms.key}}" [(ngModel)]="ms.ms.num">
									<select disabled="">
										<option>{{ms.ms.unit}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt10">
				<button (click)="addMs()" class="pure-button pure-button-primary"><i class="icon-plus mr5"></i>添加药品</button>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary button-max">出售</button>
		</div>
	</form>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">支付</div>
		<div class="content pad10 pure-form">
			<ng-container *ngIf="sale.user.id != ''">
				<div class="pure-control-group flex">
					<label for="text" class="w100p">用户：</label>
					<div class="flex-1 p-group">{{sale.user.name}}</div>
				</div>
				<div class="pure-control-group flex mt10">
					<label for="balance" class="w100p">余额：</label>
					<div class="flex-1 p-group">{{sale.user.balance}}</div>
				</div>
				<div class="pure-control-group flex mt10">
					<label for="balance" class="w100p">会员类型：</label>
					<div class="flex-1 p-group">{{sale.user.memberName}}</div>
				</div>
				<div class="pure-control-group flex mt10">
					<label for="balance" class="w100p">药品折扣：</label>
					<div class="flex-1 p-group">{{sale.member.prescript}}</div>
				</div>
			</ng-container>
			<table *ngIf="selected.plist.length > 0" class="pure-table pure-table-horizontal w100 table-tab mt10">
				<thead>
					<tr>
						<th class="w20">药品名</th>
						<th class="w20">批次</th>
						<th class="w10">总量</th>
						<th class="w10">单位</th>
						<th class="w10">价格</th>
						<th class="w10">总价格</th>
						<th *ngIf="sale.user.id != ''" class="w20">是否可打折</th>
						<th *ngIf="sale.user.id != ''" class="w20">折后价格</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let p of selected.plist">
						<td>{{p.name}}</td>
						<td>{{p.batch}}</td>
						<td>{{p.num}}</td>
						<td>{{p.unit}}</td>
						<td>{{p.price}}</td>
						<td>{{p.fee}}</td>
						<td *ngIf="sale.user.id != ''">{{p.canDiscount == '1' ? '可打折' : '不可打折'}}</td>
						<td *ngIf="sale.user.id != ''">{{p.discountFee}}</td>
					</tr>
				</tbody>
			</table>
			<div class="pure-control-group flex mt10">
				<label for="amount" class="w100p">总价格：</label>
				<div class="flex-1 p-group">{{selected.feeAll}}</div>
			</div>
			<div *ngIf="sale.user.id != ''" class="pure-control-group flex mt10">
				<label for="amount" class="w100p">折后价格：</label>
				<div class="flex-1 p-group">{{selected.saleFee}}</div>
			</div>
			<div class="pure-control-group flex mt10">
				<label for="pay_way" class="w100p">支付方式：</label>
				<select id="pay_way" name="pay_way" class="flex-1" [(ngModel)]="sale.pay_way">
					<option value="ali">支付宝支付</option>
					<option value="wechat">微信支付</option>
					<option value="card">刷卡支付</option>
					<option value="money">现金支付</option>
					<option *ngIf="sale.user.id != ''" value="member" [disabled]="sale.balanceUse != ''">余额支付{{ sale.balanceUse == '' ? '' : ('（' + sale.balanceUse + '）')}}</option>
				</select>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">支付</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{selected.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
