.admin-prescript-list{
	.list-tab{
		border: 1px solid #cbcbcb;
		.list-bar{
		    font-weight: bold;
		    color: #000;
			background-color: #e0e0e0;
			.item{
				padding: .5em 1em;
			}
		}
		.list-info{
			.item{
				padding: 1em;
				border-bottom: 1px solid #cbcbcb;
				&.noButtom{
					border-bottom: none;
				}
			}
			&.last{
				.item{
					border-bottom: none;
				}
			}
		}
	}
	.canEdit{
		background-color: #39A99D;
		color: #fff;
	}
}
