<header-nav></header-nav>
<div class="content-section admin-material-has-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item" (click)="goUrl('./admin/material/list')">物资管理</div>
		<div class="item" (click)="goUrl('./admin/material/purchaseList')">入库管理</div>
		<div class="item" (click)="goUrl('./admin/material/hasList')">库存管理</div>
		<div class="item" (click)="goUrl('./admin/material/lostList')">报损管理</div>
		<div class="item active">盘点管理</div>
	</div>
	<div class="flex pure-form mt10 search-tab max">
		<div class="flex-1">
			<button *ngIf="moduleAuthority.addCheck" (click)="add()" class="pure-button pure-button-primary">新增盘点</button>
		</div>
		<div class="pure-control-group mr10">
			<label for="name">物资名：</label>
			<input type="text" id="name" name="name" [(ngModel)]="info.name">
		</div>
		<div class="pure-control-group mr10">
			<label for="type">物资类型：</label>
			<select id="type" name="type" [(ngModel)]="info.type">
				<option value="3,4">全部</option>
				<option value="3">医用耗材</option>
				<option value="4">其他</option>
			</select>
		</div>
		<div class="w64p"></div>
	</div>
	<div class="flex pure-form mt10 search-tab max">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10 flex">
			<label for="b_time">检查时间：</label>
			<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'b_time')"></select-date>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="l_time" class="text-center">至</label>
			<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'l_time')"></select-date>
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="">
		<table *ngIf="stockList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th>物资</th>
					<th>账面库存</th>
					<th>实际库存</th>
					<th>偏差值</th>
					<th>检查时间</th>
					<th class="th-width">备注</th>
					<th>盘点人</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of stockList">
					<td>{{item.name}}</td>
					<td>{{item.stock}}</td>
					<td>{{item.realityStock}}</td>
					<td>{{item.deviation}}</td>
					<td>{{item.checkTime}}</td>
					<td>
						<div class="length-text">{{item.remark}}</div>
					</td>
					<td>{{item.checkerName}}</td>
				</tr>
			</tbody>
		</table>
		<div *ngIf="hasData && stockList.length == 0" class="mt10">
			<nodata title="未查询到盘点信息"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
