<header-nav></header-nav>
<div class="content-section admin-material">
	<top-bar [data]="topBar"></top-bar>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<div class="pure-g pure-tab">
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="name">
							<span>物资名</span>
							<span class="required">*</span>
						</label>
						<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="info.name" placeholder="请输入物资名" required="">
						<div *ngIf="name.errors && (name.dity || name.touched)" class="alert alert-danger">
							<div [hidden]="!name.errors.required">
								物资名不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="trade_name">
							<span>商品名</span>
						</label>
						<input type="text" id="trade_name" name="trade_name" #trade_name="ngModel" [(ngModel)]="info.trade_name" placeholder="请输入商品名">
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="manufacturer">
							<span>生产厂家</span>
						</label>
						<input type="text" id="manufacturer" name="manufacturer" #manufacturer="ngModel" [(ngModel)]="info.manufacturer" placeholder="请输入生产厂家">
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="format">
							<span>规格</span>
						</label>
						<input type="text" id="format" name="format" #format="ngModel" [(ngModel)]="info.format" placeholder="请输入规格">
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="type">
							<span>物资类型</span>
							<span class="required">*</span>
						</label>
						<select id="type" name="type" #type="ngModel" [(ngModel)]="info.type" required="">
							<option value="3">医用耗材</option>
							<option value="4">其他</option>
						</select>
						<div *ngIf="type.errors && (type.dity || type.touched)" class="alert alert-danger">
							<div [hidden]="!type.errors.required">
								物资类型不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="unit">
							<span>单位</span>
							<span class="required">*</span>
						</label>
						<select id="unit" name="unit" #unit="ngModel" [(ngModel)]="info.unit" required="">
							<ng-container *ngFor="let unit of drugUnits">
								<option value="{{unit}}">{{unit}}</option>
							</ng-container>
						</select>
						<div *ngIf="unit.errors && (unit.dity || unit.touched)" class="alert alert-danger">
							<div [hidden]="!unit.errors.required">
								单位不可为空
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pure-g pure-tab">
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="one_unit">
							<span>计量单位</span>
							<span class="required">*</span>
						</label>
						<select id="one_unit" name="one_unit" #one_unit="ngModel" [(ngModel)]="info.oneUnit" required="">
							<option></option>
							<ng-container *ngFor="let unit of OneUnits">
								<option value="{{unit}}">{{unit}}</option>
							</ng-container>
						</select>
						<div *ngIf="one_unit.errors && (one_unit.dity || one_unit.touched)" class="alert alert-danger">
							<div [hidden]="!one_unit.errors.required">
								计量单位不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="price">
							<span>售价</span>
							<span class="required">*</span>
						</label>
						<input type="number" step="0.01" id="price" name="price" #price="ngModel" [(ngModel)]="info.price" required="">
						<div *ngIf="price.errors && (price.dity || price.touched)" class="alert alert-danger">
							<div [hidden]="!price.errors.required">
								售价不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="can_discount">
							<span>能否优惠</span>
							<span class="required">*</span>
						</label>
						<select id="can_discount" name="can_discount" #can_discount="ngModel" [(ngModel)]="info.can_discount" required="">
							<option value="0">不可</option>
							<option value='1'>可以</option>
						</select>
						<div *ngIf="can_discount.errors && (can_discount.dity || can_discount.touched)" class="alert alert-danger">
							<div [hidden]="!can_discount.errors.required">
								能否优惠不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="usage">
							<span>一般用法（最多500字）</span>
							<span class="required">*</span>
						</label>
						<textarea id="usage" name="usage" maxlength="500" #usage="ngModel" [(ngModel)]="info.usage" placeholder="请输入一般用法" required=""></textarea>
						<div *ngIf="usage.errors && (usage.dity || usage.touched)" class="alert alert-danger">
							<div [hidden]="!usage.errors.required">
								一般用法不可为空
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="create(f)" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">{{this.editType == 'create' ? '保存' : '保存'}}</button>
		</div>
	</form>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
