<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-material-lost-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="second-bar-tab flex">
				<div class="item" (click)="goUrl('./admin/materialList')">物资管理</div>
				<div class="item" (click)="goUrl('./admin/materialPurchaseList')">入库管理</div>
				<div class="item" (click)="goUrl('./admin/materialHasList')">库存管理</div>
				<div class="item active">报损管理</div>
				<div class="item" (click)="goUrl('./admin/materialCheckList')">盘点管理</div>
			</div>
			<div class="flex pure-form mt10">
				<div class="flex-1">
					<button *ngIf="moduleAuthority.editLost" (click)="goUrl('./admin/materialLost')" class="pure-button pure-button-primary">新增报损</button>
				</div>
				<div class="pure-control-group mr10">
					<label for="b_date">开始时间：</label>
					<input type="date" id="b_date" name="b_date" [(ngModel)]="info.b_date">
				</div>
				<div class="pure-control-group mr10">
					<label for="l_date">结束时间：</label>
					<input type="date" id="l_date" name="l_date" [(ngModel)]="info.l_date">
				</div>
				<div class="pure-control-group mr10">
					<label for="type">物资类型：</label>
					<select id="type" name="type" [(ngModel)]="info.type">
						<option value="3">医用耗材</option>
						<option value="4">其他</option>
					</select>
				</div>
				<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
			</div>
			<div class="">
				<table *ngIf="list.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th>物资</th>
							<th>单位</th>
							<th>类型</th>
							<th>报损数量</th>
							<th class="th-width">报损原因</th>
							<th>总费用</th>
							<th>报损人</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngFor="let item of list; let itemIndex=index;">
							<tr *ngFor="let info of item.info; let indexInfo=index;">
								<td>{{info.msName}}</td>
								<td>{{info.unit}}</td>
								<td>{{info.typeText}}</td>
								<td>{{info.num}}</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
									<div class="length-text">{{item.remark}}</div>
								</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.fee}}</td>
								<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.adminName}}</td>
							</tr>
						</ng-container>
					</tbody>
				</table>
				<div *ngIf="hasData && list.length == 0" class="mt10">
					<nodata title="未查询到报损信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
