<div class="select-mask" *ngIf="show" (click)="close()"></div>
<div class="select-list-page">
	<div [ngClass]="{'active': show}" class="flex label">
		<div (click)="changeShow();" class="item flex-1">{{selectedValue == '' ? title : selectedValue}}</div>
		<div (click)="clear()" *ngIf="showClear && selectedValue != ''" class="item clear">
			<div></div>
		</div>
	</div>
	<div *ngIf="show" class="select-tab">
		<div class="flex">
			<input type="text" (keyup)="changeSearch($event.target.value)" class="flex-1">
		</div>
		<div class="select-list">
			<div class="option" *ngFor="let option of selectList" (click)="selected(option)">{{option.value}}</div>
		</div>
	</div>
</div>
