<!-- <header-nav></header-nav> -->
<div class="content-section admin-booking-info">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="moduleAuthority.update && (booking.status == '1' || booking.status == '2' || booking.status == '3') && canEdit">
		<button (click)="updateBooking()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">修改</button>
		<button (click)="cancel('booking')" class="pure-button button-error" [disabled]="btnCanEdit">取消</button>
		<button (click)="backBookingFee()" *ngIf="booking.status == '2'" class="pure-button button-error" [disabled]="btnCanEdit">{{booking.tranInfo.id ? '退还金额' : '退还预约金'}}</button>
		<button (click)="cancel('status')" *ngIf="booking.status == '3'" class="pure-button button-error" [disabled]="btnCanEdit">取消登记</button>
	</div>
	<div class="tab">
		<div class="item flex">
			<label>家长姓名：</label>
			<div class="info">{{booking.creatorName}}</div>
		</div>
		<div class="item flex">
			<label>宝宝姓名：</label>
			<div class="info">{{booking.childName}}</div>
		</div>
		<div class="item flex">
			<label>年龄：</label>
			<div class="info">{{booking.age}}</div>
		</div>
		<div class="item flex">
			<label>备注：</label>
			<div class="info">{{booking.remark}}</div>
		</div>
		<div class="item flex">
			<label>状态：</label>
			<div class="info">{{booking.statusText}}</div>
		</div>
		<div class="item flex">
			<div class="info flex-1">
				<table class="pure-table w100">
					<thead>
						<tr>
							<th>预约科室</th>
							<th>预约医生</th>
							<th>预约日期</th>
							<th>预约时间</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{service.serviceName}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceDate}}</td>
							<td>{{service.serviceTime}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="item flex">
			<div class="info flex-1">
				<table class="pure-table w100">
					<thead>
						<tr>
							<th>消费项目</th>
							<th>费用</th>
							<th>备注说明</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{fee.projectName}}</td>
							<td>{{fee.fee}}</td>
							<td>{{fee.remark}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			<div class="pure-form">
				<textarea id="cancel_cause" class="w100" name="cancel_cause" [(ngModel)]="selectorBooking.cancel_cause" placeholder="请输入取消原因"></textarea>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button" [disabled]="btnCanEdit">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">确认</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalBackBookingFee">
	<div class="modal-mask" (click)="closeBack()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			<div class="pure-form">
				<div class="pure-control-group flex">
					<label class="w120p">{{booking.tranInfo.id ? '已支付全额' : '已支付预约金'}}：</label>
					<label>{{(booking.tranInfo.id ? booking.tranInfo.amount : booking.yyj.amount) | toDecimal2}}</label>
				</div>
				<div class="pure-control-group flex mt5">
					<label class="w120p">支付方式：</label>
					<label>{{booking.tranInfo.id ? booking.tranInfo.wayText : booking.yyj.typeText}}</label>
				</div>
				<div *ngIf="booking.yyj.amount != '0.00'" class="pure-control-group flex mt5">
					<label for="backFee" class="w120p">{{booking.tranInfo.id ? '退还部分金额' : '退还部分预约金'}}：</label>
					<input type="number" name="backFee" step="0.01" [(ngModel)]="booking.backFee">
				</div>
				<div *ngIf="booking.yyj.amount != '0.00'" class="pure-control-group flex mt5">
					<label for="backRemark" class="w120p">失约原因：</label>
					<textarea name="backRemark" [(ngModel)]="booking.backRemark" placeholder="请输入失约原因"></textarea>
				</div>
				<div *ngIf="booking.yyj.amount == '0.00'" class="mt5">不可退款</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeBack()" class="pure-button" [disabled]="btnCanEdit">取消</button>
			<button *ngIf="booking.yyj.amount != '0.00'" (click)="confirmBack()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">确认</button>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
