<!-- <header-nav></header-nav> -->
<div class="content-section admin-booking-info">
	<top-bar [data]="topBar"></top-bar>
	<nz-card class="w100 mt10">
		<ng-template #title>
			预约详情
		</ng-template>
		<ng-template #extra>
			<ng-container *ngIf="moduleAuthority.update && (booking.status == '1' || booking.status == '2' || booking.status == '3') && canEdit">
				<button (click)="updateBooking()" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="btnCanEdit">修改</button>
				<button (click)="cancel('booking')" nz-button [nzType]="'danger'" [nzSize]="'large'" [disabled]="btnCanEdit">取消</button>
				<button (click)="backBookingFee()" *ngIf="booking.status == '2'" nz-button [nzType]="'danger'" [nzSize]="'large'" [disabled]="btnCanEdit">{{booking.tranInfo.id ? '退还金额' : '退还预约金'}}</button>
				<button (click)="cancel('status')" *ngIf="booking.status == '3'" nz-button [nzType]="'danger'" [nzSize]="'large'" [disabled]="btnCanEdit">取消登记</button>
			</ng-container>
      	</ng-template>
		<ng-template #body>
			<div nz-row [nzGutter]="30">
				<div nz-col [nzSpan]="8" class="mb10">
					家长姓名：{{booking.creatorName}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					宝宝姓名：{{booking.childName}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10" *ngIf="moduleAuthority.seePhone">
					手机号码：{{booking.mobile}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					年龄：{{booking.age}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					性别：{{booking.genderText}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					预约科室：{{booking.services.length > 0 ? booking.services[0].serviceName : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					预约医生：{{booking.services.length > 0 ? booking.services[0].userDoctorName : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					预约日期：{{booking.services.length > 0 ? booking.services[0].serviceDate : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					预约时间：{{booking.services.length > 0 ? booking.services[0].serviceTime : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					状态：{{booking.statusText}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					就诊开始时间：{{booking.services.length > 0 ? booking.services[0].begin : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					就诊结束时间：{{booking.services.length > 0 ? booking.services[0].end : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					就诊时间：{{booking.services.length > 0 ? booking.services[0].mins : ''}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					预约金支付时间：{{booking.yyj.time}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					推荐人：{{booking.refereeName}}
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div class="flex">
						<div>备注：</div>
						<div class="flex-1">{{booking.remark}}</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div class="flex">
						<div>取消原因：</div>
						<div class="flex-1">{{booking.cancel_cause}}</div>
					</div>
				</div>
			</div>
			<div class="mt20">
				<nz-table #nzTable [nzDataSource]="booking.fees" [nzBordered]="true" [nzIsPagination]="false">
					<thead nz-thead>
						<tr>
							<th class="w30">消费项目</th>
							<th class="w30">费用</th>
							<th class="w40">备注说明</th>
						</tr>
					</thead>
					<tbody nz-tbody>
						<tr *ngFor="let fee of booking.fees">
							<td>{{fee.projectName}}</td>
							<td>{{fee.fee}}</td>
							<td>
								<div class="td-text">{{fee.remark}}</div>
							</td>
						</tr>
					</tbody>
				</nz-table>
			</div>
		</ng-template>
	</nz-card>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentConfirm" (nzOnCancel)="closeConfirm()" (nzOnOk)="confirm()" [nzConfirmLoading]="btnCanEdit">
	<ng-template #contentConfirm>
		<div nz-form-item>
			<div nz-form-label>
				<label>取消原因：</label>
			</div>
			<div nz-form-control class="mt5">
				<textarea nz-input [(ngModel)]="selectorBooking.cancel_cause" [nzSize]="'large'" placeHolder="请输入取消原因" maxlength="200"></textarea>
			</div>
		</div>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalBackBookingFee" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentBack" [nzFooter]="footerBack" (nzOnCancel)="closeBack()">
	<ng-template #contentBack>
		<div nz-row class="mt10">
			<div nz-col [nzSpan]="7" class="text-right">
				<label>{{booking.tranInfo.id ? '已支付全额' : '已支付预约金'}}：</label>
			</div>
			<div nz-col [nzSpan]="12">
				{{(booking.tranInfo.id ? booking.tranInfo.amount : booking.yyj.amount) | toDecimal2}}
			</div>
		</div>
		<div nz-row class="mt10">
			<div nz-col [nzSpan]="7" class="text-right">
				<label>支付方式：</label>
			</div>
			<div nz-col [nzSpan]="12">
				{{booking.tranInfo.id ? booking.tranInfo.wayText : booking.yyj.typeText}}
			</div>
		</div>
		<div *ngIf="booking.yyj.amount != '0.00'" nz-form-item nz-row class="mt10">
			<div nz-form-label nz-col [nzSpan]="7" class="text-right">
				<label>{{booking.tranInfo.id ? '退还部分金额' : '退还部分预约金'}}：</label>
			</div>
			<div nz-form-control nz-col [nzSpan]="12">
				<nz-input-number [nzMin]="0" [nzStep]="0.01" [nzSize]="'large'" [(ngModel)]="booking.backFee" [nzPlaceHolder]="'请输入退还金额'" class="w100"></nz-input-number>
			</div>
		</div>
		<div *ngIf="booking.yyj.amount != '0.00'" nz-form-item nz-row class="mt10">
			<div nz-form-label nz-col [nzSpan]="7" class="text-right">
				<label>失约原因：</label>
			</div>
			<div nz-form-control nz-col [nzSpan]="12">
				<textarea nz-input [nzSize]="'large'" [(ngModel)]="booking.backRemark" placeHolder="请输入失约原因" maxlength="200"></textarea>
			</div>
		</div>
		<div *ngIf="booking.yyj.amount == '0.00'" class="mt10">
			<nz-alert [nzType]="'info'" [nzMessage]="'已支付0.00元，不可退款'"></nz-alert>
		</div>
	</ng-template>
	<ng-template #footerBack>
		<button (click)="closeBack()" nz-button [nzType]="'default'" [nzSize]="'large'" [disabled]="btnCanEdit">取消</button>
		<button *ngIf="booking.yyj.amount != '0.00'" (click)="confirmBack()" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="btnCanEdit">确认</button>
	</ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
