<!-- <header-nav></header-nav> -->
<div class="content-section admin-booking-followups">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="from == 'bookingFollowupsList'" nz-form-item nz-row [nzGutter]="30">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>随访宝宝<span class="required">*</span></label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-select
				class="w100"
				[nzSize]="'large'"
				[nzPlaceHolder]="'请选择宝宝'"
				[(ngModel)]="info.child"
				nzShowSearch>
				<nz-option
					*ngFor="let child of childList"
					[nzLabel]="child.childName"
					[nzValue]="child.childId">
				</nz-option>
			</nz-select>
		</div>
	</div>
	<div nz-form-item nz-row [nzGutter]="30" class="mt20">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>随访日期<span class="required">*</span></label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-datepicker (ngModelChange)="info.time=$event"
			[nzSize]="'large'" class="w100" [ngModel]="info.time" [nzDisabledDate]="_disabledEndTime" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择随访日期'" [nzDisabled]="editType == 'update'"></nz-datepicker>
		</div>
	</div>
	<div nz-form-item nz-row [nzGutter]="30" class="mt20">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>随访内容和原因（最长200字）<span class="required">*</span></label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input [nzType]="'textarea'" [(ngModel)]="info.account" [nzPlaceHolder]="'请输入备注说明'" [nzSize]="'large'" [nzRows]="4"></nz-input>
		</div>
	</div>
	<div nz-form-item nz-row [nzGutter]="30" class="mt20">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>备注说明（最长200字）</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input [nzType]="'textarea'" [(ngModel)]="info.remarks" [nzPlaceHolder]="'请输入备注说明'" [nzSize]="'large'" [nzRows]="4"></nz-input>
		</div>
	</div>
	<div *ngIf="editType == 'update'" nz-form-item nz-row [nzGutter]="30" class="mt20">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>随访结果（最长200字）<span class="required">*</span></label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input [nzType]="'textarea'" [(ngModel)]="info.results" [nzPlaceHolder]="'请输入随访结果'" [nzSize]="'large'" [nzRows]="4"></nz-input>
		</div>
	</div>
	<div *ngIf="editType == 'update'" nz-form-item nz-row [nzGutter]="30" class="mt20">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>执行随访日期<span class="required">*</span></label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-datepicker [nzSize]="'large'" class="w100" [(ngModel)]="info.finish" [nzDisabledDate]="_disabledEndTime" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择执行随访日期'" [nzAllowClear]="false"></nz-datepicker>
		</div>
	</div>
	<div nz-row [nzGutter]="30" class="mt20">
		<div nz-col [nzSpan]="12" [nzOffset]="7">
			<button (click)="create()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit">保存</button>
		</div>
	</div>
</div>
