<header-nav></header-nav>
<div class="content admin-medical-lost-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="second-bar-tab flex">
		<div class="item" (click)="goUrl('./admin/medicalList')">药品管理</div>
		<div class="item" (click)="goUrl('./admin/medicalPurchaseList')">入库管理</div>
		<div class="item" (click)="goUrl('./admin/medicalHasList')">库存管理</div>
		<div class="item active">报损管理</div>
		<div class="item" (click)="goUrl('./admin/medicalCheckList')">盘点管理</div>
	</div>
	<div class="flex pure-form search-tab mt10">
		<div class="flex-1">
			<button *ngIf="moduleAuthority.editLost" (click)="goUrl('./admin/medicalLost')" class="pure-button pure-button-primary">新增药品报损</button>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="b_date">开始时间：</label>
			<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'b_date')"></select-date>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="l_date">结束时间：</label>
			<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event, 'l_date')"></select-date>
		</div>
		<div class="pure-control-group mr10">
			<label for="type">用品类型：</label>
			<select id="type" name="type" [(ngModel)]="info.type">
				<option value="1,2">全部</option>
				<option value="1">中药</option>
				<option value="2">西药</option>
			</select>
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="">
		<table *ngIf="list.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th>药品</th>
					<th>单位</th>
					<th>类型</th>
					<th>批次</th>
					<th>报损数量</th>
					<th class="th-width">报损原因</th>
					<th>总费用</th>
					<th>报损人</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let item of list; let indexItem=index;">
					<tr *ngFor="let info of item.info; let indexInfo=index;">
						<td>{{info.msName}}</td>
						<td>{{info.unit}}</td>
						<td>{{info.typeText}}</td>
						<td>{{info.batch}}</td>
						<td>{{info.num}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
							<div class="length-text">{{item.remark}}</div>
						</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.fee}}</td>
						<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.adminName}}</td>
					</tr>
				</ng-container>
			</tbody>
		</table>
		<div *ngIf="hasData && list.length == 0" class="mt10">
			<nodata title="未查询到报损信息"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
