<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-clinicroom-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="second-bar-tab flex">
				<div class="item" (click)="goUrl('./admin/medicalList')">医疗用品列表</div>
				<div class="item active">医疗用品供应商列表</div>
				<div class="item" (click)="goUrl('./admin/medicalPurchaseList')">医疗用品进货列表</div>
				<div class="item" (click)="goUrl('./admin/medicalHasList')">诊所医疗用品列表</div>
				<div class="item" (click)="goUrl('./admin/medicalLostList')">医疗用品报废</div>
			</div>
			<div class="flex pure-form mt10">
				<div class="flex-1">
					<button (click)="goCreate()" class="pure-button pure-button-primary">新增医疗用品供应商</button>
				</div>
				<div class="pure-control-group mr10">
					<label for="name">供应商名：</label>
					<input type="text" id="name" name="name" [(ngModel)]="info.name" placeholder="请输入供应商名">
				</div>
				<div class="pure-control-group mr10">
					<label for="company">供应商公司：</label>
					<input type="text" id="company" name="company" [(ngModel)]="info.company" placeholder="请输入供应商公司">
				</div>
				<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
			</div>
			<div class="">
				<table *ngIf="list.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th>供应商名</th>
							<th>供应商公司</th>
							<th>联系人</th>
							<th>联系人电话</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr class="pure-form" *ngFor="let item of list">
							<td>{{item.name}}</td>
							<td>{{item.company}}</td>
							<td>{{item.contacts}}</td>
							<td>{{item.mobile}}</td>
							<td>
								<button (click)="update(item.id)" class="pure-button pure-button-primary">修改</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasData && list.length == 0" class="mt10">
					<nodata title="未查询到诊室信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>