<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-medical-purchase">
			<top-bar [data]="topBar"></top-bar>
			<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
				<fieldset>
					<div class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="supplier">
									<span>供应商</span>
									<span class="required">*</span>
								</label>
								<select id="supplier" name="supplier" #supplier="ngModel" [(ngModel)]="info.supplier" required="">
									<ng-container *ngFor="let item of list">
										<option value="{{item.string}}">{{item.name}}</option>
									</ng-container>
								</select>
								<div *ngIf="supplier.errors && (supplier.dity || supplier.touched)" class="alert alert-danger">
									<div [hidden]="!supplier.errors.required">
										供应商不可为空
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngFor="let ms of mslist" class="ms-tab mt5">
						<div *ngIf="ms.use">
							<div (click)="showMs(ms.key)" class="ms-bar flex">
								<div class="flex-1 pt5">
									<ng-container *ngIf="ms.show">
										<span>隐藏</span>
										<i class="icon-chevron-right"></i>
									</ng-container>
									<ng-container *ngIf="!ms.show">
										<span>展开</span>
										<i class="icon-chevron-down"></i>
									</ng-container>
								</div>
								<div *ngIf="ms.key != 1">
									<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
								</div>
							</div>
							<div [ngClass]="{'hide': !ms.show}" class="pure-g">
								<div class="pure-u-8-24 pr10">
									<div class="pure-control-group">
										<label for="ms_{{ms.key}}">
											<span>药品</span>
											<span class="required">*</span>
										</label>
										<select id="ms_{{ms.key}}" name="ms_{{ms.key}}" ngModel>
											<ng-container *ngFor="let medicalSupplie of medicalSupplies">
												<ng-container *ngIf="medicalSupplie.type == '1' || medicalSupplie.type == '2'">
													<option value="{{medicalSupplie.string}}">{{medicalSupplie.name}}({{medicalSupplie.unit}})</option>
												</ng-container>
											</ng-container>
										</select>
									</div>
								</div>
								<div class="pure-u-8-24 pl5 pr5">
									<div class="pure-control-group">
										<label for="num_{{ms.key}}">
											<span>入库数量</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="num_{{ms.key}}" name="num_{{ms.key}}" ngModel placeholder="请输入入库数量" (change)="feeChange(f)">
									</div>
								</div>
								<div class="pure-u-8-24 pl10">
									<div class="pure-control-group">
										<label for="bid_{{ms.key}}">
											<span>进价</span>
											<span class="required">*</span>
										</label>
										<input type="number" id="bid_{{ms.key}}" name="bid_{{ms.key}}" ngModel (change)="feeChange(f)">
									</div>
								</div>
								<div class="pure-u-8-24 pr10">
									<div class="pure-control-group">
										<label for="can_discount_{{ms.key}}">
											<span>能否优惠</span>
											<span class="required">*</span>
										</label>
										<select id="can_discount_{{ms.key}}" name="can_discount_{{ms.key}}" ngModel>
											<option value="0">不可</option>
											<option value='1'>可以</option>
										</select>
									</div>
								</div>
								<div class="pure-u-8-24 pl5 pr5">
									<div class="pure-control-group">
										<label for="is_prescribed_{{ms.key}}">
											<span>处方类型</span>
											<span class="required">*</span>
										</label>
										<select id="is_prescribed_{{ms.key}}" name="is_prescribed_{{ms.key}}" ngModel>
											<option value="0">不是</option>
											<option value='1'>是</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mt10">
						<button (click)="addMs()" class="pure-button pure-button-primary"><i class="icon-plus mr5"></i>添加药品</button>
					</div>
					<div class="pure-g">
						<div class="pure-u-8-24 pr10">
							<div class="pure-control-group">
								<label for="fee">
									<span>总费用</span>
									<span class="required">*</span>
								</label>
								<input type="number" id="fee" name="fee" #fee="ngModel" [(ngModel)]="info.fee" placeholder="请输入总费用" required="" disabled="">
								<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
									<div [hidden]="!fee.errors.required">
										总费用不可为空
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="text-center">
					<button (click)="create(f)" class="pure-button pure-button-primary button-max">创建</button>
				</div>
			</form>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
