<!-- <header-nav></header-nav> -->
<div class="content-section admin-create-user-page">
	<top-bar [data]="topBar"></top-bar>
	<div nz-form-item>
		<div nz-form-label>
			<label>姓名<span class="required">*</span></label>
		</div>
		<div nz-form-control class="mt5">
			<nz-input [(ngModel)]="user.name" [nzPlaceHolder]="'请输入姓名'" [nzSize]="'large'"></nz-input>
		</div>
	</div>
	<div nz-form-item class="mt10">
		<div nz-form-label>
			<label>手机号码<span class="required">*</span></label>
		</div>
		<div nz-form-control class="mt5">
			<nz-input [(ngModel)]="user.mobile" [nzPlaceHolder]="'请输入手机号码'" [nzSize]="'large'"></nz-input>
		</div>
	</div>
	<div nz-form-item class="mt10">
		<div nz-form-label>
			<label>性别<span class="required">*</span></label>
		</div>
		<div nz-form-control class="mt5">
			<nz-select class="w100"
				[(ngModel)]="user.gender"
				[nzPlaceHolder]="'请选择性别'"
				[nzSize]="'large'">
				<nz-option [nzLabel]="'男'" [nzValue]="'M'"></nz-option>
				<nz-option [nzLabel]="'女'" [nzValue]="'F'"></nz-option>
			</nz-select>
		</div>
	</div>
	<div class="mt10">
		<button *ngIf="child.type == ''" (click)="addChild()" nz-button [nzType]="'primary'" [nzSize]="'large'">添加宝宝</button>
		<button *ngIf="child.type != ''" (click)="removeChild()" nz-button [nzType]="'default'" [nzSize]="'large'">移除宝宝</button>
	</div>
	<div *ngIf="child.type != ''" class="flex mt20">
		<div class="w90p mr10 mt10">
			<a class="upload-tab">
				<img id="imgEle" src="{{child.imageUrl ? child.imageUrl : '../assets/images/img.png'}}">
				<input type="hidden" id="file" name="file" ngModel>
				<input class="upload" type="file" (change)="selectedFile($event)">
			</a>
		</div>
		<div class="flex-1">
			<div nz-row [nzGutter]="30">
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>
								<span>姓名</span>
								<span class="required">*</span>
							</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-input [(ngModel)]="child.name" [nzPlaceHolder]="'请输入宝宝姓名'" [nzSize]="'large'"></nz-input>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>
								<span>性别</span>
								<span class="required">*</span>
							</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-select class="w100"
								[(ngModel)]="child.gender"
								[nzPlaceHolder]="'请选择性别'"
								[nzSize]="'large'">
								<nz-option [nzLabel]="'男'" [nzValue]="'M'"></nz-option>
								<nz-option [nzLabel]="'女'" [nzValue]="'F'"></nz-option>
							</nz-select>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>
								<span>出生日期</span>
								<span class="required">*</span>
							</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-datepicker (ngModelChange)="child.birth_date=$event" [nzSize]="'large'" class="w100" [ngModel]="child.birth_date" [nzDisabledDate]="_disabledStartDate" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择出生日期'"></nz-datepicker>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>昵称</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-input [(ngModel)]="child.nickname" [nzPlaceHolder]="'请输入昵称'" [nzSize]="'large'"></nz-input>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>血型</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-select class="w100"
								[(ngModel)]="child.blood_type"
								[nzPlaceHolder]="'请选择血型'"
								[nzSize]="'large'">
								<ng-container *ngFor="let bloodType of bloodTypeList">
									<nz-option [nzLabel]="bloodType.value" [nzValue]="bloodType.key"></nz-option>
								</ng-container>
							</nz-select>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>星座</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-select class="w100"
								[(ngModel)]="child.horoscope"
								[nzPlaceHolder]="'请选择星座'"
								[nzSize]="'large'">
								<ng-container *ngFor="let horoscope of horoscopeList">
									<nz-option [nzLabel]="horoscope.value" [nzValue]="horoscope.key"></nz-option>
								</ng-container>
							</nz-select>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>生肖</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-select class="w100"
								[(ngModel)]="child.shengxiao"
								[nzPlaceHolder]="'请选择生肖'"
								[nzSize]="'large'">
								<ng-container *ngFor="let shengxiao of shengxiaoList">
									<nz-option [nzLabel]="shengxiao.value" [nzValue]="shengxiao.key"></nz-option>
								</ng-container>
								<nz-option [nzLabel]="'女'" [nzValue]="'F'"></nz-option>
							</nz-select>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label class="mt5">
							<label>身高（cm）</label>
						</div>
						<div nz-form-control>
							<nz-input-number [nzMin]="0" [nzStep]="0.01" [(ngModel)]="child.height" [nzPlaceHolder]="'请输入身高'" [nzSize]="'large'" class="w100"></nz-input-number>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>体重（kg）</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-input-number [nzMin]="0" [nzStep]="0.01" [(ngModel)]="child.weight" [nzPlaceHolder]="'请输入体重'" [nzSize]="'large'" class="w100"></nz-input-number>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>头围（cm）</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-input-number [nzMin]="0" [nzStep]="0.01" [(ngModel)]="child.head_circum" [nzPlaceHolder]="'请输入头围'" [nzSize]="'large'" class="w100"></nz-input-number>
						</div>
					</div>
				</div>
				<div nz-col [nzSpan]="8" class="mb10">
					<div nz-form-item>
						<div nz-form-label>
							<label>胸围（cm）</label>
						</div>
						<div nz-form-control class="mt5">
							<nz-input-number [nzMin]="0" [nzStep]="0.01" [(ngModel)]="child.breast_circum" [nzPlaceHolder]="'请输入胸围'" [nzSize]="'large'" class="w100"></nz-input-number>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center mt10">
		<button (click)="create()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit">保存</button>
	</div>
</div>
