<!-- <header-nav></header-nav> -->
<div class="content-section admin-crm-role">
	<top-bar [data]="topBar"></top-bar>
    <form nz-form [formGroup]="validateForm">
		<div nz-row>
			<div nz-col [nzOffset]="6" [nzSpan]="12">
			    <div nz-form-item>
			        <div nz-form-label>
			            <label>角色名：</label>
			        </div>
			        <div nz-form-control>
						<nz-input formControlName="name" [nzPlaceHolder]="'请输入角色名'" [nzSize]="'large'"></nz-input>
			            <div nz-form-explain *ngIf="getFormControl('name').dirty && getFormControl('name').hasError('required')">角色名不可为空</div>
			        </div>
			    </div>
				<div class="text-center mt10">
					<button (click)="create(); $event.stopPropagation();" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit" [disabled]="!validateForm.valid">保存</button>
				</div>
			</div>
		</div>
	</form>
</div>
