<!-- <header-nav></header-nav> -->
<div class="content-section actcard-list">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="moduleAuthority.edit" class="mt10">
		<button (click)="add()" nz-button [nzType]="'primary'" [nzSize]="'large'">新增活动卡</button>
	</div>
	<div nz-row class="mt10 mb10">
		<div nz-col [nzSpan]="8" [nzOffset]="16">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="name">活动卡名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.name" [nzPlaceHolder]="'请输入活动卡名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right mt10 mb10">
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
	</div>
	<div class="mt10 mb10">
		<nz-alert [nzType]="'info'" [nzMessage]="'共查询到活动卡' + actcardList.length + '条'"></nz-alert>
	</div>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="actcardList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
		<thead nz-thead>
			<tr>
				<th>活动卡名</th>
				<th>科室</th>
				<th>售价</th>
				<th>可使用次数</th>
				<th class="w15">备注</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<tr nz-tbody-tr *ngFor="let actcard of actcardList;">
				<td>{{actcard.name}}</td>
				<td>{{actcard.projectName}}</td>
				<td>{{actcard.price}}</td>
				<td>{{actcard.num}}</td>
				<td>
					<div class="td-text">{{actcard.remark}}</div>
				</td>
				<td>
					<button *ngIf="moduleAuthority.edit" (click)="update(actcard)" nz-button [nzType]="'primary'" [nzSize]="'large'">修改</button>
				</td>
			</tr>
		</tbody>
		<span noResult>暂无活动卡信息</span>
	</nz-table>
</div>
<loading [show]="loadingShow"></loading>
