<!-- <header-nav></header-nav> -->
<div class="content-section admin-child-info">
	<top-bar [data]="topBar"></top-bar>
	<div nz-row [nzGutter]="30">
		<div nz-col [nzSpan]="6">
            <nz-card class="w100">
                <ng-template #title>
                    宝宝详情
                </ng-template>
                <ng-template #extra *ngIf="pageType == 'call'">
                    <button *ngIf="userInfo.call_sid == ''" (click)="calluser()" nz-button [nzType]="'primary'" [nzSize]="'large'">拨打电话</button>
                    <button *ngIf="userInfo.call_sid != ''" (click)="hangupuser()" nz-button [nzType]="'danger'" [nzSize]="'large'">挂断电话</button>
                </ng-template>
                <ng-template #body>
					<div class="text-center">
						<div class="img-tab-default">
							<img src="{{(!childInfo.imageUrl || childInfo.imageUrl == '') ? '../assets/images/img.png' : childInfo.imageUrl}}">
						</div>
					</div>
					<div class="mt10">
						姓名：{{childInfo.childName}}
					</div>
					<div class="mt10">
						性别：{{childInfo.gender}}
					</div>
					<div class="mt10">
						年龄：{{childInfo.age}}
					</div>
				</ng-template>
			</nz-card>
		</div>
		<div nz-col [nzSpan]="18">
            <nz-card class="w100">
                <ng-template #title>
                    基本信息
                </ng-template>
                <ng-template #body>
					<div nz-row [nzGutter]="30">
						<div nz-col [nzSpan]="12" class="mb10">
							<p>姓名：{{childInfo.childName}}</p>
						</div>
						<div *ngIf="moduleAuthority.seePhone" nz-col [nzSpan]="12" class="mb10">
							<p>手机号码：{{userInfo.mobile}}</p>
						</div>
						<div nz-col [nzSpan]="12" class="mb10">
							<p>性别：{{childInfo.gender}}</p>
						</div>
						<div nz-col [nzSpan]="12" class="mb10">
							<p>出生年月：{{childInfo.birthday}}</p>
						</div>
						<div nz-col [nzSpan]="12" class="mb10">
							<p>年龄：{{childInfo.age}}</p>
						</div>
						<div nz-col [nzSpan]="12" class="mb10">
							<p>昵称：{{childInfo.nickName}}</p>
						</div>
						<div nz-col [nzSpan]="12" class="mb10">
							<div class="flex">
								<div>地址：</div>
								<div class="flex-1 td-text">{{childInfo.address}}</div>
							</div>
						</div>
					</div>
				</ng-template>
			</nz-card>
            <nz-card class="w100 mt20">
                <ng-template #title>
                    其他信息
                </ng-template>
                <ng-template #body>
					<div nz-row [nzGutter]="30">
						<div nz-col [nzSpan]="12">
							<p>身高（cm）：{{childInfo.height}}</p>
						</div>
						<div nz-col [nzSpan]="12">
							<p>体重（kg）：{{childInfo.weight}}</p>
						</div>
					</div>
					<div nz-row [nzGutter]="30" class="mt10">
						<div nz-col [nzSpan]="12">
							<p>头围（cm）：{{childInfo.headCircum}}</p>
						</div>
						<div nz-col [nzSpan]="12">
							<p>血型：{{childInfo.bloodTypeText}}</p>
						</div>
					</div>
					<div nz-row [nzGutter]="30" class="mt10">
						<div nz-col [nzSpan]="12">
							<p>星座：{{childInfo.horoscopeText}}</p>
						</div>
						<div nz-col [nzSpan]="12">
							<p>生肖：{{childInfo.shengxiaoText}}</p>
						</div>
					</div>
					<div nz-row [nzGutter]="30" class="mt10">
						<div nz-col [nzSpan]="12">
							<p>备注：{{childInfo.remark}}</p>
						</div>
					</div>
				</ng-template>
			</nz-card>
            <nz-card class="w100 mt20">
                <ng-template #title>
                    家长
                </ng-template>
                <ng-template #body>
					<div nz-row [nzGutter]="30">
						<div nz-col [nzSpan]="12">
							<p>姓名：{{userInfo.name}}</p>
						</div>
						<div nz-col [nzSpan]="12">
							<p>性别：{{userInfo.gender == 'F' ? '男' : '女'}}</p>
						</div>
					</div>
					<div nz-row [nzGutter]="30" class="mt10">
						<div nz-col [nzSpan]="12">
							<p>会员：{{userInfo.memberId != null ? userInfo.memberName : '非会员'}}</p>
						</div>
						<div nz-col [nzSpan]="12">
							<p>余额：{{userInfo.userBalance == null ? '0.00' : userInfo.userBalance}}</p>
						</div>
					</div>
				</ng-template>
			</nz-card>
            <nz-card *ngIf="otherChildList.length > 0" class="w100 mt20">
                <ng-template #title>
                    兄弟姐妹
                </ng-template>
                <ng-template #body>
					<nz-table #nzTable [nzDataSource]="otherChildList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
						<thead nz-thead>
							<tr>
								<th>头像</th>
								<th>年龄</th>
								<th>姓名</th>
								<th>性别</th>
								<th>生日</th>
								<th>血型</th>
								<th>头围（cm）</th>
								<th>身高（cm）</th>
								<th>星座</th>
								<th>昵称</th>
								<th>生肖</th>
								<th>体重（kg）</th>
							</tr>
						</thead>
						<tbody nz-tbody>
							<tr *ngFor="let child of otherChildList; let index=index;">
								<td class="img-tab">
									<img src="{{(!child.imageUrl || child.imageUrl == '') ? '../assets/images/img.png' : child.imageUrl}}">
								</td>
								<td>{{child.age}}</td>
								<td>{{child.childName}}</td>
								<td>{{child.gender}}</td>
								<td>{{child.birthday}}</td>
								<td>{{child.bloodTypeText}}</td>
								<td>{{child.headCircum}}</td>
								<td>{{child.height}}</td>
								<td>{{child.horoscopeText}}</td>
								<td>{{child.nickName}}</td>
								<td>{{child.shengxiaoText}}</td>
								<td>{{child.weight}}</td>
							</tr>
						</tbody>
						<span noResult>暂无兄弟姐妹信息</span>
					</nz-table>
				</ng-template>
			</nz-card>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
