<!-- <header-nav></header-nav> -->
<div class="content-section admin-child-info">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g">
		<div class="pure-u-1-5 child-tab pr10">
			<div class="text-center">
				<div class="img-tab-default">
					<img src="{{(!childInfo.imageUrl || childInfo.imageUrl == '') ? '../assets/images/img.png' : childInfo.imageUrl}}">
				</div>
			</div>
			<div class="info">
				姓名：{{childInfo.childName}}
			</div>
			<div class="info">
				性别：{{childInfo.gender}}
			</div>
			<div class="info">
				年龄：{{childInfo.age}}
			</div>
		</div>
		<div class="pure-u-4-5">
			<div class="second-bar-tab flex">
				<div class="item" [ngClass]="{'active': selectTab == '1'}">基本信息</div>
			</div>
			<div *ngIf="selectTab == '1'">
				<div class="section">
					<div class="title">基本信息</div>
					<div class="pure-g">
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">姓名：</label>
							<div>{{childInfo.childName}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">性别：</label>
							<div>{{childInfo.gender}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">出生年月：</label>
							<div>{{childInfo.birthday}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">年龄：</label>
							<div>{{childInfo.age}}</div>
						</div>
						<!-- <div class="pure-u-12-24 info flex">
							<label class="w110pp">手机号：</label>
							<div>{{userInfo.mobile}}</div>
						</div> -->
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">昵称：</label>
							<div>{{childInfo.nickName}}</div>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="title">其他信息</div>
					<div class="pure-g">
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">身高（cm）：</label>
							<div>{{childInfo.height}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">体重（kg）：</label>
							<div>{{childInfo.weight}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">头围（cm）：</label>
							<div>{{childInfo.headCircum}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">血型：</label>
							<div>{{childInfo.bloodTypeText}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">星座：</label>
							<div>{{childInfo.horoscopeText}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">生肖：</label>
							<div>{{childInfo.shengxiaoText}}</div>
						</div>
						<div class="pure-u-24-24 info flex">
							<label class="w110pp">备注：</label>
							<div>{{childInfo.remark}}</div>
						</div>
					</div>
				</div>
				<div class="section">
					<div class="title">家长：</div>
					<div class="pure-g">
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">姓名：</label>
							<div>{{userInfo.name}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">性别：</label>
							<div>{{userInfo.gender == 'F' ? '男' : '女'}}</div>
						</div>
						<!-- <div class="pure-u-12-24 info flex">
							<label class="w110pp">手机号：</label>
							<div>{{userInfo.mobile}}</div>
						</div> -->
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">会员：</label>
							<div>{{userInfo.memberName}}</div>
						</div>
						<div class="pure-u-12-24 info flex">
							<label class="w110pp">余额：</label>
							<div>{{userInfo.balance}}</div>
						</div>
					</div>
				</div>
				<div *ngIf="otherChildList.length > 0" class="section">
					<div class="title">兄弟姐妹：</div>
					<table class="pure-table pure-table-horizontal w100">
						<thead>
							<tr>
								<th>头像</th>
								<th>年龄</th>
								<th>姓名</th>
								<th>性别</th>
								<th>生日</th>
								<th>血型</th>
								<th>头围（cm）</th>
								<th>身高（cm）</th>
								<th>星座</th>
								<th>昵称</th>
								<th>生肖</th>
								<th>体重（kg）</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let child of otherChildList; let index=index;">
								<td class="img-tab">
									<img src="{{(!child.imageUrl || child.imageUrl == '') ? '../assets/images/img.png' : child.imageUrl}}">
								</td>
								<td>{{child.age}}</td>
								<td>{{child.childName}}</td>
								<td>{{child.gender}}</td>
								<td>{{child.birthday}}</td>
								<td>{{child.bloodTypeText}}</td>
								<td>{{child.headCircum}}</td>
								<td>{{child.height}}</td>
								<td>{{child.horoscopeText}}</td>
								<td>{{child.nickName}}</td>
								<td>{{child.shengxiaoText}}</td>
								<td>{{child.weight}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
