<div class="header-nav flex">
	<div class="title">{{clinicName}}</div>
	<div class="flex-1 right-tab text-right">
		<div class="item pl20 pr20">{{clinicRole && clinicRole != '' ? clinicRole + '--' : ''}}{{username}}</div>
		<div *ngIf="hasShowPayMessage" class="item message-tab">
			<div class="tab-title pl20 pr20" (click)="showTab('showPayMessage')">
				支付消息
				<span *ngIf="payMessageList.length > 0" class="num">{{payMessageList.length}}</span>
			</div>
		</div>
		<div class="item message-tab">
			<div class="tab-title pl20 pr20" (click)="showTab('showMessage')">消息</div>
		</div>
		<div mouseIn class="item setup-tab" [ngClass]="{'show': showSetup}" (mouseHandler)="handlerTab($event, 'showSetup')">
			<div class="tab-title pl20 pr20" (click)="showTab('showSetup')">设置</div>
			<div class="setup-list">
				<div (click)="goUrl('setupMessage')">消息订阅</div>
			</div>
		</div>
		<div (click)="logout()" class="item cursor-p pl20 pr20">退出</div>
	</div>
</div>
<div class="modal" *ngIf="modalTabMessage">
	<div class="modal-mask" (click)="closeMessage()"></div>
	<div class="container">
		<div class="title">消息</div>
		<div class="content pad10 admin-booking-info">
			<ng-container *ngIf="messageTabType == 'showMessage'">
				<table *ngIf="messageList.length > 0" class="pure-table w100">
					<thead>
						<tr>
							<th>消息内容</th>
							<th>查看</th>
							<th>完成</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let message of messageList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{message.message}}</td>
							<td>
								<ng-container *ngIf="message.typeId == '2' || message.typeId == '3'">
									<button (click)="goDetail(message)" class="pure-button pure-button-primary" [disabled]="messageBtn">查看</button>
								</ng-container>
								<ng-container *ngIf="message.typeId == '1' || message.typeId == '4'">
									-
								</ng-container>
							</td>
							<td>
								<button (click)="complate(message, index, '')" class="pure-button pure-button-primary" [disabled]="messageBtn">完成</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="messageList.length == 0">
					<nodata title="暂无消息"></nodata>
				</div>
			</ng-container>
			<ng-container *ngIf="messageTabType == 'showPayMessage'">
				<table *ngIf="payMessageList.length > 0" class="pure-table w100">
					<thead>
						<tr>
							<th>消息内容</th>
							<th>查看</th>
							<th>完成</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let message of payMessageList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
							<td>{{message.message}}</td>
							<td>
								<button (click)="goDetail(message)" class="pure-button pure-button-primary" [disabled]="messageBtn">查看</button>
							</td>
							<td>
								<button (click)="complate(message, index, 'pay')" class="pure-button pure-button-primary" [disabled]="messageBtn">完成</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="payMessageList.length == 0">
					<nodata title="暂无消息"></nodata>
				</div>
			</ng-container>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeMessage()" class="pure-button pure-button">关闭</button>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
<nll-toast-box></nll-toast-box>
