:host ::ng-deep {
    .clinic-title{
        background-color: #EDEDED;
        height: 64px;
        line-height: 64px;
        font-size: 1.3em;
        padding: 0 20px;
        float: left;
    }
    ul.ant-menu-horizontal{
        background-color: #EDEDED;
        min-width: 1150px;
    }
    .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
        float: right;
        border-left: 1px solid #afafaf;
        font-size: 20px;
    }
    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
        border-bottom: inherit;
        color: inherit;
    }
    .ant-menu-item, .ant-menu-submenu-title span, .ant-badge{
        font-size: 20px;
    }
    .username.ant-menu-item{
        cursor: auto;
    }
    .length-text{
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
