.header-nav{
    background-color: #EDEDED;
    height: 50px;
    border-bottom: 1px solid #D9DEE4;
    .title{
        line-height: 50px;
        font-size: 1.3em;
        padding: 0 20px;
        color: #173267;
    }
    .right-tab{
        .item{
            display: inline-block;
            line-height: 50px;
            font-size: 1.3em;
            padding: 0 20px;
            color: #173267;
            border-left: 1px solid #afafaf;
            &:first-child{
                border-left: none;
            }
        }
        // .setup-tab{
        //     position: relative;
        //     left: 5px;
        //     font-size: 1em;
        //     cursor: pointer;
        //     .tab-title{
        //         font-size: 1.3em;
        //     }
        //     &:hover{
        //         .setup-list{
        //             display: block;
        //         }
        //     }
        //     .setup-list{
        //         display: none;
        //         position: absolute;
        //         left: 0;
        //         right: 0;
        //         text-align: center;
        //         background-color: #ededed;
        //         border: 1px solid #c2c2c2;
        //     }
        // }
        // .message-tab{
        //     position: relative;
        //     left: 5px;
        //     font-size: 1em;
        //     cursor: pointer;
        //     .tab-title{
        //         font-size: 1.3em;
        //     }
        //     &:hover{
        //         .message-list{
        //             display: block;
        //         }
        //     }
        //     .message-list{
        //         display: none;
        //         position: absolute;
        //         right: -7px;
        //         width: 240px;
        //         text-align: center;
        //         background-color: #ededed;
        //         border: 1px solid #c2c2c2;
        //     }
        // }
    }
}
