<nz-header>
	<div class="clinic-title">{{clinicName}}</div>
	<ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
        <li nz-submenu>
            <span title>{{clinicRole && clinicRole != '' ? clinicRole + '--' : ''}}{{username}}</span>
            <ul>
                <li nz-menu-item (click)="goUrl('setupMessage')">修改密码</li>
                <li nz-menu-item (click)="logout()">退出</li>
            </ul>
        </li>
		<li nz-submenu>
        	<span title>主题({{theme_name}})</span>
        	<ul>
      			<li nz-menu-item (click)="changeTheme('')">默认</li>
      			<li nz-menu-item (click)="changeTheme('theme_green')">绿色</li>
      			<li nz-menu-item (click)="changeTheme('theme_green2')">淡绿色</li>
      			<li nz-menu-item (click)="changeTheme('theme_gray')">深灰色</li>
      			<li nz-menu-item (click)="changeTheme('theme_blue')">蓝色</li>
      			<!-- <li nz-menu-item (click)="changeTheme('theme_4')">4</li> -->
      			<li nz-menu-item (click)="changeTheme('theme_brown')">棕色</li>
      			<li nz-menu-item (click)="changeTheme('theme_brown2')">淡棕色</li>
      			<li nz-menu-item (click)="changeTheme('theme_yellow')">淡黄色</li>
        	</ul>
      	</li>
		<li nz-submenu>
        	<span title>设置</span>
        	<ul>
      			<li nz-menu-item (click)="goUrl('setupMessage')">消息订阅</li>
        	</ul>
      	</li>
		<li nz-submenu>
        	<span title>消息</span>
        	<ul>
      			<li nz-menu-item  (click)="showTab('showMessage')">待处理消息</li>
      			<li nz-menu-item  (click)="showTab('showMessage_myself')">我完成的消息</li>
        	</ul>
      	</li>
		<li nz-menu-item *ngIf="hasShowPayMessage" (click)="showTab('showPayMessage')">
			<nz-badge [nzCount]="payMessageList.length">
		      	<ng-template #content>
		        	支付消息
		      	</ng-template>
		    </nz-badge>
		</li>
	</ul>
</nz-header>
<nz-modal [nzVisible]="modalTabMessage" [nzWidth]="900" [nzTitle]="'消息'" [nzContent]="contentMessage" [nzFooter]="footerMessage" (nzOnCancel)="closeMessage()">
    <ng-template #contentMessage>
		<ng-container *ngIf="messageTabType == 'showMessage' || messageTabType == 'showMessage_myself'">
			<nz-table #nzTable [nzDataSource]="messageList" [nzBordered]="true" [nzIsPagination]="false">
				<thead nz-thead>
					<tr>
						<th>消息内容</th>
						<th>时间</th>
						<th *ngIf="messageTabType == 'showMessage_myself'" class="w15">反馈信息</th>
						<th>查看</th>
						<th *ngIf="messageTabType == 'showMessage'">完成</th>
					</tr>
				</thead>
				<tbody nz-tbody>
					<tr *ngFor="let message of messageList; let index=index;">
						<td>{{message.message}}</td>
						<td>{{message.dateCreated}}</td>
						<td *ngIf="messageTabType == 'showMessage_myself'">
							<div class="td-text">{{message.feedback}}</div>
						</td>
						<td>
							<ng-container *ngIf="message.typeId == '2' || message.typeId == '3' || message.typeId == '5' || message.typeId == '6'">
								<button (click)="goDetail(message)" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="messageBtn">查看</button>
							</ng-container>
							<ng-container *ngIf="message.typeId == '1' || message.typeId == '4'">
								-
							</ng-container>
						</td>
						<td *ngIf="messageTabType == 'showMessage'">
							<button (click)="showModalMessage(message, index, '')" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="messageBtn">完成</button>
						</td>
					</tr>
				</tbody>
			</nz-table>
		</ng-container>
		<ng-container *ngIf="messageTabType == 'showPayMessage'">
			<nz-table [nzDataSource]="payMessageList" [nzBordered]="true" [nzIsPagination]="false">
				<thead nz-thead>
					<tr>
						<th>消息内容</th>
						<th>时间</th>
						<th>查看</th>
						<th>完成</th>
					</tr>
				</thead>
				<tbody nz-tbody>
					<tr *ngFor="let message of payMessageList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
						<td>{{message.message}}</td>
						<td>{{message.dateCreated}}</td>
						<td>
							<button (click)="goDetail(message)" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="messageBtn">查看</button>
						</td>
						<td>
							<button (click)="complate(message, index, 'pay')" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="messageBtn">完成</button>
						</td>
					</tr>
				</tbody>
			</nz-table>
		</ng-container>
    </ng-template>
    <ng-template #footerMessage>
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeMessage()">
          	关闭
        </button>
    </ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalConfirmMessage" [nzTitle]="'完成消息'" [nzContent]="modalContent" (nzOnCancel)="closeModalComplateM()" (nzOnOk)="complate(this.selectedMessage.message, selectedMessage.index, selectedMessage.type)">
    <ng-template #modalContent>
        <p>消息内容：</p>
        <p class="mt10">{{selectedMessage.message.message}}</p>
		<div nz-form-item>
	        <div nz-form-label class="mt10">
	          	<label nz-form-item-required>消息反馈</label>
	        </div>
	        <div nz-form-control class="mt10">
	          	<textarea nz-input [(ngModel)]="selectedMessage.feedback" [nzSize]="'large'" placeHolder="请输入消息反馈" maxlength="200"></textarea>
	        </div>
      </div>
    </ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
