<div class="left-nav">
	<ul nz-menu [nzMode]="'inline'" nzTheme='dark'>
		<li nz-menu-item
			*ngIf="adminRole.bookingUpdate"
			routerLink="./bookingUpdate"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingUpdate')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>预约修改</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.workbenchReception.use != ''"
			routerLink="./workbench/reception"
			routerLinkActive="ant-menu-item-selected">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>前台工作台</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.scheduling.use != ''"
			routerLink="./schedulingIndex"
			routerLinkActive="ant-menu-item-selected">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>排班</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingList.use != ''"
			routerLink="./bookingList"
			routerLinkActive="ant-menu-item-selected">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>预约列表</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingIn.use != ''"
			routerLink="./bookingIn"
			routerLinkActive="ant-menu-item-selected">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>登记</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.doctorVisit.use != ''"
			routerLink="./docbooking/visit"
			routerLinkActive="ant-menu-item-selected">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>就诊列表</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingReceive.use != ''"
			routerLink="./bookingReceive"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingReceive')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>接诊</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.inspectResultsList.use != ''"
			routerLink="./inspectResults/list"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('inspectResultsList')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>实验室检查</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingAssistList.use != ''"
			routerLink="./bookingAssistList"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingAssistList')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>辅助治疗</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingPhyexamList.use != ''"
			routerLink="./booking/phyexam/list"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingPhyexamList')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>体检套餐</span>
			</span>
		</li>
		<li nz-submenu *ngIf="clinicRole.prescriptList.use != ''">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>发药</span>
			</span>
			<ul>
				<li nz-menu-item
					*ngIf="clinicRole.prescriptList.twoLevel.see.use != ''"
					routerLink="./prescript/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('prescriptList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>西/中成药-出药</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.prescriptList.twoLevel.seeBack.use != ''"
					routerLink="./prescript/backList"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('prescriptBackList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>西/中成药-退药</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.prescriptList.twoLevel.seeTcm.use != ''"
					routerLink="./prescript/tcmList"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('prescriptTcmList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>中药-出药</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.prescriptList.twoLevel.seeSale.use != ''"
					routerLink="./prescript/sale/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('prescriptSaleList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>药品零售</span>
					</span>
				</li>
			</ul>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingCharge.use != ''"
			routerLink="./bookingCharge"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingCharge')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>收费</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.guazhangList.use != ''"
			routerLink="./guazhangList"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('guazhangList')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>挂账收费</span>
			</span>
		</li>
		<li nz-menu-item
			*ngIf="clinicRole.bookingFollowupsList.use != ''"
			routerLink="./bookingFollowups/list"
			routerLinkActive="ant-menu-item-selected"
			(click)="goPage('bookingFollowupsList')">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>回访列表</span>
			</span>
		</li>
		<li nz-submenu *ngIf="clinicRole.bookingExamine.use != ''">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>审核</span>
			</span>
			<ul>
				<li nz-menu-item
					*ngIf="clinicRole.bookingExamine.twoLevel.seeCase.use != ''"
					routerLink="./booking/examine/case"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('bookingExamineCase')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>病例审核</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.bookingExamine.twoLevel.seeHealth.use != ''"
					routerLink="./booking/examine/health"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('bookingExamineHealth')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>儿保记录审核</span>
					</span>
				</li>
			</ul>
		</li>
		<li nz-submenu *ngIf="clinicRole.childServiceList.use != '' || clinicRole.setupInspectList.use != '' || clinicRole.assistList.use != '' || clinicRole.memberList.use != '' || clinicRole.crmRoleList.use != '' || clinicRole.medicalSupplierList.use != ''">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>诊所管理</span>
			</span>
			<ul>
				<li nz-menu-item
					*ngIf="clinicRole.childServiceList.use != ''"
					[routerLink]="['./childService/list']"
					routerLinkActive="ant-menu-item-selected">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>科室管理</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.setupInspectList.use != ''"
					routerLink="./setupInspect/list"
					routerLinkActive="ant-menu-item-selected">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>检查管理</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.assistList.use != ''"
					routerLink="./assist/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('assistList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>辅助治疗管理</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.phyexamList.use != ''"
					routerLink="./phyexam/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('phyexamList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>体检套餐管理</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.memberList.use != ''"
					routerLink="./member/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('memberList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>会员管理</span>
					</span>
				</li>
				<li nz-menu-item
					*ngIf="clinicRole.actcardList.use != ''"
					routerLink="./actcard/list"
					routerLinkActive="ant-menu-item-selected"
					(click)="goPage('actcardList')">
					<span title>
						<!-- <i class="anticon anticon-mail"></i> -->
						<span>活动卡管理</span>
					</span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.crmRoleList.use != ''"
                    routerLink="./crmRole/list"
                    routerLinkActive="ant-menu-item-selected">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>角色管理</span>
                    </span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.medicalSupplierList.use != ''"
                    routerLink="./medical/supplier/list"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('supplierList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>供应商管理</span>
                    </span>
                </li>
			</ul>
		</li>
		<li nz-submenu *ngIf="clinicRole.materialList.use != '' || clinicRole.medicalList.use != '' || clinicRole.tcm.use != '' || clinicRole.moutList.use != ''">
			<span title>
				<!-- <i class="anticon anticon-mail"></i> -->
				<span>库存管理</span>
			</span>
			<ul>
                <li nz-submenu *ngIf="clinicRole.materialList.use != ''">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>物资管理</span>
                    </span>
                    <ul>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.seeSale.use != ''"
                            routerLink="./material/sale/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialSaleList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>物资零售</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.see.use != ''"
                            routerLink="./material/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>物资管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.seePut.use != ''"
                            routerLink="./material/purchase/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialPurchaseList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>入库管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.seeHas.use != ''"
                            routerLink="./material/has/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialHasList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>库存管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.seeLost.use != ''"
                            routerLink="./material/lost/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialLostList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>报损管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.materialList.twoLevel.seeCheck.use != ''"
                            routerLink="./material/check/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('materialCheckList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>盘点管理</span>
                            </span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu *ngIf="clinicRole.medicalList.use != ''">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>西/中成药管理</span>
                    </span>
                    <ul>
                        <li nz-menu-item
                            *ngIf="clinicRole.medicalList.twoLevel.see.use != ''"
                            routerLink="./medical/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('medicalList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>药品管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.medicalList.twoLevel.seePut.use != ''"
                            routerLink="./medical/purchase/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('medicalPurchaseList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>入库管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.medicalList.twoLevel.seeHas.use != ''"
                            routerLink="./medical/has/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('medicalHasList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>库存管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.medicalList.twoLevel.seeLost.use != ''"
                            routerLink="./medical/lost/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('medicalLostList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>报损管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.medicalList.twoLevel.seeCheck.use != ''"
                            routerLink="./medical/check/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('medicalCheckList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>盘点管理</span>
                            </span>
                        </li>
                    </ul>
                </li>
                <li nz-submenu *ngIf="clinicRole.tcm.use != ''">
                    <span title>中药管理</span>
                    <ul>
                        <li nz-menu-item
                            *ngIf="clinicRole.tcm.twoLevel.see.use != ''"
                            routerLink="./medical/tcm/list"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('tcmList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>中药管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.tcm.twoLevel.seePut.use != ''"
                            routerLink="./medical/tcm/purchaseList"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('tcmPurchaseList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>入库管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.tcm.twoLevel.seeHas.use != ''"
                            routerLink="./medical/tcm/hasList"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('tcmHasList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>库存管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.tcm.twoLevel.seeLost.use != ''"
                            routerLink="./medical/tcm/lostList"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('tcmLostList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>报损管理</span>
                            </span>
                        </li>
                        <li nz-menu-item
                            *ngIf="clinicRole.tcm.twoLevel.seeCheck.use != ''"
                            routerLink="./medical/tcm/checkList"
                            routerLinkActive="ant-menu-item-selected"
                            (click)="goPage('tcmCheckList')">
                            <span title>
                                <!-- <i class="anticon anticon-mail"></i> -->
                                <span>盘点管理</span>
                            </span>
                        </li>
                    </ul>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.moutList.use != ''"
                    routerLink="./mout/list"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('moutList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>手动出库管理</span>
                    </span>
                </li>
            </ul>
        </li>
        <li nz-submenu *ngIf="clinicRole.userList.use != '' || clinicRole.childList.use != '' || clinicRole.callRecord.use != ''">
            <span title>用户管理</span>
            <ul>
                <li nz-menu-item
                    *ngIf="clinicRole.userList.use != ''"
                    routerLink="./userList"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('userList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>用户列表</span>
                    </span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.childList.use != ''"
                    routerLink="./child/list"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('childList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>病人库</span>
                    </span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.callRecord.use != ''"
                    routerLink="./callRecord"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('callRecordList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>通话记录</span>
                    </span>
                </li>
            </ul>
        </li>
        <li nz-submenu *ngIf="clinicRole.crmUserList.use != '' || clinicRole.doctorList.use != ''">
            <span title>员工管理</span>
            <ul>
                <li nz-menu-item
                    *ngIf="clinicRole.crmUserList.use != ''"
                    routerLink="./crmuser/list"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('crmuserList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>员工列表</span>
                    </span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.doctorList.use != ''"
                    routerLink="./doctor/list"
                    routerLinkActive="ant-menu-item-selected">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>医生列表</span>
                    </span>
                </li>
            </ul>
        </li>
        <li nz-submenu *ngIf="clinicRole.transactionRecordList.use != '' || clinicRole.transactionStatistics.use != ''">
            <span title>交易管理</span>
            <ul>
                <li nz-menu-item
                    *ngIf="clinicRole.transactionRecordList.use != ''"
                    routerLink="./transaction/recordList"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('transactionRecordList')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>交易记录</span>
                    </span>
                </li>
                <li nz-menu-item
                    *ngIf="clinicRole.transactionStatistics.use != ''"
                    routerLink="./transaction/statistics"
                    routerLinkActive="ant-menu-item-selected"
                    (click)="goPage('transactionStatistics')">
                    <span title>
                        <!-- <i class="anticon anticon-mail"></i> -->
                        <span>交易统计</span>
                    </span>
                </li>
            </ul>
        </li>
	</ul>
</div>
