<div class="left-nav">
	<nav>
		<a
			*ngIf="clinicRole.workerPanel.use != ''"
			routerLink="../workbenchReception"
			routerLinkActive="active">
				前台工作台
		</a>
	  	<a
			*ngIf="clinicRole.scheduling.use != ''"
			routerLink="../scheduling"
			routerLinkActive="active">
				排班
		</a>
	  	<a
			*ngIf="clinicRole.bookingList.use != ''"
			routerLink="../bookingList"
			routerLinkActive="active">
				预约列表
		</a>
		<a
			*ngIf="clinicRole.bookingConfirm.use != ''"
			routerLink="../bookingConfirm"
			routerLinkActive="active">
				预约确认
		</a>
	  	<a
			*ngIf="clinicRole.bookingIn.use != ''"
			routerLink="../bookingIn"
			routerLinkActive="active">
			登记
		</a>
	  	<a
			*ngIf="clinicRole.bookingReceive.use != ''"
			routerLink="../bookingReceive"
			routerLinkActive="active">
				接诊
		</a>
	  	<a
			*ngIf="clinicRole.bookingCharge.use != ''"
			routerLink="../bookingCharge"
			routerLinkActive="active">
				收费
		</a>
	  	<a
			*ngIf="clinicRole.childServiceList.use != ''"
			[routerLink]="['../childServiceList']"
			routerLinkActive="active">
				小孩服务列表
		</a>
	  	<a
			*ngIf="clinicRole.clinicroomList.use != ''"
			routerLink="../clinicroomList"
			routerLinkActive="active">
				诊室列表
		</a>
	  	<a
			*ngIf="clinicRole.doctorList.use != ''"
			routerLink="../doctorList"
			routerLinkActive="active">
				医生列表
		</a>
	  	<a
			*ngIf="clinicRole.medicalSupplierList.use != ''"
			routerLink="../medicalSupplierList"
			routerLinkActive="active">
				供应商管理
		</a>
	  	<a
			*ngIf="clinicRole.materialList.use != ''"
			routerLink="../materialList"
			routerLinkActive="active">
				物资管理
		</a>
	  	<a
			*ngIf="clinicRole.medicalList.use != ''"
			routerLink="../medicalList"
			routerLinkActive="active">
				药房
		</a>
	  	<a
			*ngIf="clinicRole.prescriptList.use != ''"
			routerLink="../prescriptList"
			routerLinkActive="active">
				药方
		</a>
	  	<a
			*ngIf="clinicRole.setupInspectList.use != ''"
			routerLink="../setupInspectList"
			routerLinkActive="active">
				检查项目
		</a>
	  	<a
			*ngIf="clinicRole.inspectResultsList.use != ''"
			routerLink="../inspectResultsList"
			routerLinkActive="active">
				实验室检查
		</a>
	  	<a
			*ngIf="clinicRole.bookingFollowupsList.use != ''"
			routerLink="../bookingFollowupsList"
			routerLinkActive="active">
				随访管理
		</a>
	  	<a
			*ngIf="clinicRole.childList.use != ''"
			routerLink="../childList"
			routerLinkActive="active">
				病人库
		</a>
	  	<a
			*ngIf="clinicRole.userList.use != ''"
			routerLink="../userList"
			routerLinkActive="active">
				用户管理
		</a>
	  	<a
			*ngIf="clinicRole.memberList.use != ''"
			routerLink="../memberList"
			routerLinkActive="active">
				会员管理
		</a>
	  	<a
			*ngIf="clinicRole.crmRoleList.use != ''"
			routerLink="../crmRoleList"
			routerLinkActive="active">
				角色管理
		</a>
	  	<a
			*ngIf="clinicRole.crmUserList.use != ''"
			routerLink="../crmUserList"
			routerLinkActive="active">
				后台用户管理
		</a>
	  	<a
			*ngIf="clinicRole.transactionRecordList.use != ''"
			routerLink="../transactionRecordList"
			routerLinkActive="active">
				交易记录
		</a>
	  	<a (click)="logout()">退出</a>
	</nav>
</div>
