<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-info">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="hasDoctor">
		<div nz-row [nzGutter]="30">
			<div nz-col [nzSpan]="6">
				<nz-card class="w100">
					<ng-template #title>
						医生详情
					</ng-template>
					<ng-template #body>
						<div class="img-tab-default">
							<img src="{{info.avatarUrl}}">
						</div>
						<p class="mt10">姓名：{{info.doctorName}}</p>
						<p class="mt10">职称：{{info.cTitle}}</p>
						<!-- <p class="mt10">{{info.aTitle}}</p> -->
						<p *ngIf="info.description != ''" class="mt10 text">简介：{{info.description}}</p>
					</ng-template>
				</nz-card>
			</div>
			<div nz-col [nzSpan]="18">
				<nz-card class="w100">
					<ng-template #title>
						排班及预约
					</ng-template>
					<ng-template #body>
						<nz-tabset>
					      	<nz-tab (nzClick)="changeSelected('1')">
					        	<ng-template #nzTabHeading>
					          		本周预约
					        	</ng-template>
								<div *ngIf="bookingList.length > 0">
									<div *ngFor="let booking of bookingList">
										<div *ngIf="booking.booking.length > 0" class="section">
											<div class="title">
												{{booking.week}}
												{{booking.day}}
											</div>
											<div class="list-item">
												<div (click)="goInfo(service.bookingId)" class="item cursor-p" *ngFor="let service of booking.booking">
													<span>{{service.time}}</span>
													<span>{{service.serviceName}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div *ngIf="hasData && bookingList.length == 0" class="mt10">
									<nz-alert [nzType]="'info'" [nzMessage]="'暂无预约信息'"></nz-alert>
								</div>
					      	</nz-tab>
					      	<nz-tab (nzClick)="changeSelected('2')">
					        	<ng-template #nzTabHeading>
					          		排班
					        	</ng-template>
								<div *ngFor="let duty of dutylist" class="section">
									<div class="title">
										<span>{{duty.weekDay}}</span>
										<span>{{duty.dutyDate}}</span>
									</div>
									<div class="list-item">
										<div class="item" *ngFor="let item of duty.list">
											<span>{{item.date}}</span>
											<span>{{item.use}}</span>
										</div>
									</div>
								</div>
								<div *ngIf="hasData && dutylist.length == 0" class="mt10">
									<nz-alert [nzType]="'info'" [nzMessage]="'暂无排班信息'"></nz-alert>
								</div>
					      	</nz-tab>
					    </nz-tabset>
					</ng-template>
				</nz-card>
			</div>
		</div>
	</div>
	<div *ngIf="hasData && !hasDoctor">
		<nz-alert [nzType]="'info'" [nzMessage]="'该医生暂无排班信息，请先去排班'"></nz-alert>
	</div>
</div>
<loading [show]="loadingShow"></loading>
