<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-list">
	<top-bar [data]="topBar"></top-bar>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="doctorlist" [nzBordered]="true" [nzIsPagination]="false">
		<thead nz-thead>
			<tr>
				<th nz-th>头像</th>
				<th nz-th>姓名</th>
				<th nz-th>性别</th>
				<th nz-th>医生职称</th>
				<th nz-th>简介</th>
				<th nz-th>科室</th>
				<th nz-th>操作</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<tr nz-tbody-tr *ngFor="let doctor of nzTable.data">
				<td nz-td>
					<nz-avatar nzSize="large" nzIcon="user" nzSrc="{{(!doctor.avatarUrl || doctor.avatarUrl == '') ? '../assets/images/img.png' : doctor.avatarUrl}}"></nz-avatar>
				</td>
				<td nz-td>{{doctor.realName}}</td>
				<td nz-td>{{doctor.doctorProfile.gender == 'F' ? '女' : '男'}}</td>
				<td nz-td>{{doctor.doctorProfile.ctitleText}}</td>
				<td nz-td class="w30">
					<div class="description">{{doctor.doctorProfile.description}}</div>
				</td>
				<td nz-td>
					<div *ngFor="let service of doctor.serviceList">{{service.serviceName}}</div>
				</td>
				<td nz-td>
					<div *ngIf="moduleAuthority.service">
						<button (click)="showService(doctor.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>查看科室</span></button>
					</div>
					<div *ngIf="moduleAuthority.scheduling" [ngClass]="{'pt10': moduleAuthority.service}">
						<button (click)="showInfo(doctor.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>科室排班</span></button>
					</div>
					<div class="pt10">
						<button (click)="showRecordTempletList(doctor.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>儿保记录模板</span></button>
					</div>
					<div class="pt10">
						<button (click)="showCaseTempletList(doctor.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>病历模板</span></button>
					</div>
					<div *ngIf="moduleAuthority.tcm" class="pt10">
						<button (click)="showTcmList(doctor.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>中药处方</span></button>
					</div>
				</td>
			</tr>
		</tbody>
	</nz-table>
</div>
<loading [show]="loadingShow"></loading>
