<div class="admin-payment-print">
	<div class="container">
		<div class="flex">
			<div class="flex-1"></div>
			<div class="flex-1 text-center title"><div class="">嘉宝康乐智慧儿科</div><div class="">收费清单</div></div>
			<div class="flex-1"></div>
		</div>
		<div class="flex">
			<div class="flex-1 flex"><div class="flex-0">姓名：</div><div class="flex-1 fill">{{bookingInfo.childName}}</div></div>
			<div class="flex-1 flex"><div class="flex-0">年龄：</div><div class="flex-1 fill">{{bookingInfo.age}}</div></div>
			<div class="flex-1 flex"><div class="flex-0">性别：</div><div class="flex-1 fill">{{bookingInfo.genderText}}</div></div>
		</div>
		<div class="flex mt20">
			<div class="flex-1 flex"><div class="flex-0">{{paymentType == '30' ? '预约金' : '服务全额'}}：</div><div class="flex-1 fill">{{(paymentType == '30' ? bookingInfo.yyj.amount : tranInfo.amount) | toDecimal2}}元</div></div>
			<div class="flex-1 flex"><div class="flex-0">支付方式：</div><div class="flex-1 fill">{{paymentType == '30' ? bookingInfo.yyj.wayText : tranInfo.wayText}}</div></div>
			<div class="flex-1 flex"><div class="flex-0">支付日期：</div><div class="flex-1 fill">{{paymentType == '30' ? bookingInfo.yyj.time : tranInfo.time}}</div></div>
		</div>
		<div class="flex mt20">
			<div class="flex-1 flex"><div class="flex-0">收费日期：</div><div class="flex-1 fill">{{tran.info.time}}</div></div>
			<div class="flex-1"></div>
			<div class="flex-1"></div>
		</div>
		<div class="flex totle">
			<div class="flex-1">项目</div>
			<div class="flex-1">金额（元）</div>
			<div class="flex-1">项目</div>
			<div class="flex-1">金额（元）</div>
		</div>
		<div class="flex">
			<div class="flex-1">医生科室费用</div>
			<div class="flex-1">{{fee.feeInfo.serviceOriginalFee}}</div>
			<div class="flex-1">辅助治疗费用</div>
			<div class="flex-1">{{fee.feeInfo.assistOriginalFee}}</div>
		</div>
		<div class="flex mt10">
			<div class="flex-1">检查项目费用</div>
			<div class="flex-1">{{fee.feeInfo.checkOriginalFee}}</div>
			<div class="flex-1">药方药品费用</div>
			<div class="flex-1">{{fee.feeInfo.medicalOriginalFee}}</div>
		</div>
		<div class="flex mt10">
			<div class="flex-1">其他费用</div>
			<div class="flex-1">{{fee.feeInfo.otherOriginalFee}}</div>
			<div class="flex-1"></div>
			<div class="flex-1"></div>
		</div>
		<div class="mb20 mt40">费用明细</div>
		<div class="flex detail">
			<div class="w20">项目</div>
			<div class="w10">单价（元）</div>
			<div class="w5">数量</div>
			<div class="w15">费用合计（元）</div>
			<div class="w15">折扣金额（元）</div>
			<div class="w20">其他</div>
			<div class="w15">应收费用（元）</div>
		</div>
		<div class="detail-item">
			<div class="flex" *ngFor="let service of fee.feeInfo.serviceFeeList">
				<div class="w20">{{service.projectName}}-{{service.serviceName}}</div>
				<div class="w10">{{service.fee}}</div>
				<div class="w5">{{service.number}}</div>
				<div class="w15">{{service.originalServiceFee}}</div>
				<div class="w15">
					<ng-container *ngIf="dataCode == '0'">
						{{service.serviceDiscount}}
					</ng-container>
					<ng-container *ngIf="dataCode == '1'">
						{{service.serviceDiscountFee}}
					</ng-container>
				</div>
				<div class="w20">已支付{{paymentType == '30' ? '预约金' : '服务全额'}}{{(paymentType == '30' ? bookingInfo.yyj.amount : tranInfo.amount) | toDecimal2}}元</div>
				<div class="w15">{{fee.feeInfo.serviceFee}}</div>
			</div>
			<div class="flex" *ngFor="let assist of fee.feeInfo.assistFeeList">
				<div class="w20">{{assist.projectName}}</div>
				<div class="w10">{{assist.price}}</div>
				<div class="w5">{{assist.number}}</div>
				<div class="w15">{{assist.originalAssistFee}}</div>
				<div class="w15">
					<ng-container *ngIf="dataCode == '0'">
						{{assist.assistDiscount}}
					</ng-container>
					<ng-container *ngIf="dataCode == '1'">
						{{assist.assistDiscountFee}}
					</ng-container>
				</div>
				<div class="w20"></div>
				<div class="w15">{{assist.assistFee}}</div>
			</div>
			<div class="flex" *ngFor="let check of fee.feeInfo.checkFeeList">
				<div class="w20">{{check.projectName}}</div>
				<div class="w10">{{check.price}}</div>
				<div class="w5">{{check.number}}</div>
				<div class="w15">{{check.originalCheckFee}}</div>
				<div class="w15">
					<ng-container *ngIf="dataCode == '0'">
						{{check.checkDiscount}}
					</ng-container>
					<ng-container *ngIf="dataCode == '1'">
						{{check.checkDiscountFee}}
					</ng-container>
				</div>
				<div class="w20"></div>
				<div class="w15">{{check.checkFee}}</div>
			</div>
			<ng-container *ngFor="let medical of fee.feeInfo.medicalFeeList">
				<div class="flex" *ngFor="let info of medical.info">
					<div class="w20">{{info.pname}}</div>
					<div class="w10">{{info.price}}</div>
					<div class="w5">{{info.num}}</div>
					<div class="w15">{{info.originalMedicalFee}}</div>
					<div class="w15">
						<ng-container *ngIf="dataCode == '0'">
							{{info.medicalDiscount}}
						</ng-container>
						<ng-container *ngIf="dataCode == '1'">
							{{info.medicalDiscountFee}}
						</ng-container>
					</div>
					<div class="w20"></div>
					<div class="w15">{{info.medicalFee}}</div>
				</div>
			</ng-container>
			<div class="flex" *ngFor="let other of fee.feeInfo.otherFeeList">
				<div class="w20">{{other.projectName}}</div>
				<div class="w10">{{other.price}}</div>
				<div class="w5">{{other.number}}</div>
				<div class="w15">{{other.originalOtherFee}}</div>
				<div class="w15">
					<ng-container *ngIf="dataCode == '0'">
						{{other.otherDiscount}}
					</ng-container>
					<ng-container *ngIf="dataCode == '1'">
						{{other.otherDiscountFee}}
					</ng-container>
				</div>
				<div class="w20"></div>
				<div class="w15">{{other.otherFee}}</div>
			</div>
		</div>
		<div class="money">
			<div class="flex">
				<div class="flex-1">费用合计：{{fee.originalCost}}元</div>
				<div class="flex-1">应收费用：{{fee.fee}}元</div>
				<div *ngIf="tran.info.secondWay" class="flex-1"></div>
			</div>
			<div class="flex mt10">
				<div class="flex-1">减免金额：{{tran.info.giveAmount}}元</div>
				<div class="flex-1">{{tran.info.wayText}}：{{tran.info.amount}}元</div>
				<div *ngIf="tran.info.secondWay" class="flex-1">{{tran.info.secondWayText}}：{{tran.info.secondAmount}}元</div>
			</div>
		</div>
		<div class="flex">
			<div class="flex-1"></div>
			<div class="flex-0 flex mr20"><div class="flex-1">收款人：{{tran.info.adminName}}</div></div>
		</div>
	</div>
</div>
