<header-nav></header-nav>
<div class="content-section admin-booking-add-fee">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<form #f="ngForm" class="pure-form pure-form-stacked">
				<fieldset>
					<div class="pure-control-group">
						<label for="project_name">消费项目名</label>
						<input type="text" id="project_name" name="project_name" #project_name="ngModel" [(ngModel)]="bookingInfo.project_name" required="" [disabled]="editType == 'update'" placeholder="请输入消费项目名">
						<div *ngIf="project_name.errors && (project_name.dity || project_name.touched)" class="alert alert-danger">
							<div [hidden]="!project_name.errors.required">
								消费项目名不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="price">单价</label>
						<input type="number" id="price" step="0.01" name="price" #price="ngModel" [(ngModel)]="bookingInfo.price" placeholder="请输入单价" [disabled]="editType == 'update'">
					</div>
					<div class="pure-control-group">
						<label for="num">数量</label>
						<input type="number" id="num" name="num" #num="ngModel" [(ngModel)]="bookingInfo.num" placeholder="请输入数量" [disabled]="editType == 'update'">
					</div>
					<div class="pure-control-group">
						<label for="fee">费用</label>
						<input type="number" id="fee" step="0.01" name="fee" #fee="ngModel" [(ngModel)]="bookingInfo.fee" placeholder="请输入费用" required="" [disabled]="editType == 'update'">
						<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
							<div [hidden]="!fee.errors.required">
								费用不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="remarks">备注说明</label>
						<textarea id="remarks" name="remarks" #remarks="ngModel" [(ngModel)]="bookingInfo.remarks" placeholder="请输入备注说明"></textarea>
					</div>
				</fieldset>
				<div class="text-center">
					<button (click)="create(f)" class="pure-button pure-button-primary">{{editType == 'create' ? '保存' : '保存'}}</button>
				</div>
			</form>
		</div>
		<div class="pure-u-1-5"></div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
