<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-crm-role">
			<top-bar [data]="topBar"></top-bar>
			<div>
				<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
					<fieldset>
						<div class="pure-g">
							<div class="pure-u-8-24 pr10">
								<div class="pure-control-group">
									<label for="name">
										<span>角色名</span>
									</label>
									<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="roleInfo.name" placeholder="请输入会员名" required="">
									<div *ngIf="name.errors && (name.dity || name.touched)" class="alert alert-danger">
										<div [hidden]="!name.errors.required">
											角色名不可为空
										</div>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<div class="text-center">
						<button (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary">创建</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>