<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-crm-user-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="tab flex">
				<div class="item" (click)="goUrl('./admin/userList')">客户列表</div>
				<div class="item active">工作人员列表</div>
			</div>
			<div class="mt10">
				<div class="button-tab pure-form flex">
					<button (click)="goUrl('./admin/crmUser')" class="pure-button pure-button-primary">新增工作人员</button>
					<div class="flex-1 text-right">
						<label for="role">筛选角色：</label>
						<select id="role" name="role" [(ngModel)]="role" (change)="roleChange()">
							<option value="2">医生</option>
							<option value="3">护士</option>
							<option value="9">管理员</option>
						</select>
					</div>
				</div>
				<table *ngIf="adminlist.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th></th>
							<th>姓名</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of adminlist; let index=index;">
							<td>{{index + 1}}</td>
							<td>{{user.realName}}</td>
							<td>
								<button (click)="update(user.id)" class="pure-button pure-button-primary">修改</button>
								<button (click)="delete(user.id)" class="pure-button pure-button-primary">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasData && adminlist.length == 0" class="mt10">
					<nodata title="未查询到工作人员信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button pure-button-primary">取消</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>