<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-doctor-booking">
			<top-bar [data]="topBar"></top-bar>
			<div class="flex">
				<div class="doctor-tab mr10">
					<div class="doctor-info pad10">
						<div class="img-tab text-center">
							<img src="{{doctorInfo.avatarUrl ? doctorInfo.avatarUrl : 'assets/images/img.png'}}">
						</div>
						<div class="info">{{doctorInfo.realName}}</div>
						<div class="info">{{doctorInfo.mobile}}</div>
						<div class="info">{{doctorInfo.doctorProfile.gender == 'F' ? '女' : '男'}}</div>
						<div class="info">{{doctorInfo.doctorProfile.atitleText}}</div>
						<div class="info">{{doctorInfo.doctorProfile.ctitleText}}</div>
						<div class="info">{{doctorInfo.doctorProfile.description}}</div>
					</div>
				</div>
				<div class="flex-1 booking-info pad10">
					<div class="second-bar-tab flex mb10">
						<div (click)="changeTab('3')" [ngClass]="{'active': selectedTab == '3'}" class="item">检查项目</div>
						<div (click)="changeTab('4')" [ngClass]="{'active': selectedTab == '4'}" class="item">处方</div>
						<div (click)="changeTab('1')" [ngClass]="{'active': selectedTab == '1'}" class="item">服务列表</div>
						<div (click)="changeTab('2')" [ngClass]="{'active': selectedTab == '2'}" class="item">费用列表</div>
						<div (click)="changeTab('5')" [ngClass]="{'active': selectedTab == '5'}" class="item">随访</div>
						<div (click)="changeTab('6')" [ngClass]="{'active': selectedTab == '6'}" class="item">成长记录</div>
						<div (click)="changeTab('7')" [ngClass]="{'active': selectedTab == '7'}" class="item">病例</div>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '3'}" class="tab">
						<table *ngIf="checkDataList.length > 0" class="pure-table w100">
							<thead>
								<tr>
									<th class="w10"></th>
									<th class="w20">检查项目</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let check of checkDataList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{check.checkName}}</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="hasCheckData && checkDataList.length == 0" class="mt10">
							<nodata title="未查询到检查项目"></nodata>
						</div>
						<form #fCheck="ngForm" class="pure-form pure-form-stacked form-tab">
							<fieldset>
								<div *ngIf="addCheckInfo.editType != ''" class="pure-g">
									<div class="pure-u-1-5 pr10">
										<div class="pure-control-group">
											<label for="check">检查项目</label>
											<select id="check" name="check" #check="ngModel" [(ngModel)]="addCheckInfo.check" required="" [disabled]="editType == 'update'">
												<ng-container *ngFor="let check of checklist">
													<ng-container *ngIf="check.canUse == '1'">
														<option value="{{check.string}}">{{check.name}}</option>
													</ng-container>
												</ng-container>
											</select>
											<div *ngIf="check.errors && (check.dity || check.touched)" class="alert alert-danger">
												<div [hidden]="!check.errors.required">
													检查不可为空
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<!-- 订单未完成，可操作 -->
							<ng-container *ngIf="booking.status != '5'">
								<div class="mt10 flex">
									<div *ngIf="canEdit" class="flex-1">
										<button *ngIf="addCheckInfo.editType == ''" (click)="addCheck()" class="pure-button pure-button-primary">添加检查</button>
										<button *ngIf="addCheckInfo.editType != ''" (click)="removeCheck()" class="pure-button">取消</button>
										<button *ngIf="addCheckInfo.editType != ''" (click)="editCheck(fCheck)" class="pure-button pure-button-primary">{{addCheckInfo.editType == 'create' ? '创建' : '修改'}}</button>
									</div>
								</div>
							</ng-container>
						</form>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '4'}" class="tab">
						<div *ngIf="prescriptList.length > 0" class="list-tab mt10">
							<div class="list-bar pure-g">
								<div class="pure-u-3-24 item">药方名</div>
								<div class="pure-u-2-24 item">就诊医生</div>
								<div class="pure-u-2-24 item">用户名</div>
								<div class="pure-u-2-24 item">小孩名</div>
								<div class="pure-u-3-24 item">日期</div>
								<div class="pure-u-3-24 item">备注</div>
								<div class="pure-u-3-24 item">药品名</div>
								<div class="pure-u-2-24 item">药品单位</div>
								<div class="pure-u-2-24 item">药品数量</div>
								<div class="pure-u-2-24 item">操作</div>
							</div>
							<div *ngFor="let item of prescriptList; let itemLast=last; let itemFirst=first;">
								<div *ngFor="let info of item.info; let infoLast=last; let infoFirst=first;">
									<div class="list-info pure-g" [ngClass]="{'last': itemLast && infoLast}">
										<div class="pure-u-3-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.name : ''}}</div>
										<div class="pure-u-2-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.doctorName : ''}}</div>
										<div class="pure-u-2-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.userName : ''}}</div>
										<div class="pure-u-2-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.childName : ''}}</div>
										<div class="pure-u-3-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.date : ''}}</div>
										<div class="pure-u-3-24 item" [ngClass]="{'noButtom': !infoLast}">{{infoFirst ? item.remark : ''}}</div>
										<div class="pure-u-3-24 item">{{info.pname}}</div>
										<div class="pure-u-2-24 item">{{info.unit}}</div>
										<div class="pure-u-2-24 item">{{info.num}}</div>
										<div class="pure-u-2-24 item" [ngClass]="{'noButtom': !infoLast}">
											<!-- 订单未完成，可操作 -->
											<ng-container *ngIf="booking.status != '5'">
												<span *ngIf="!infoFirst"></span>
												<div *ngIf="item.apotId && (item.isBack != 0) && infoFirst">-</div>
												<div *ngIf="infoFirst && (!item.apotId)">
													<button (click)="updatePrescript(item)" class="pure-button pure-button-primary">修改</button>
												</div>
												<div *ngIf="infoFirst && (!item.apotId)" class="mt10">
													<button (click)="deletePrescript(item.id)" class="pure-button pure-button-primary">删除</button>
												</div>
												<div *ngIf="item.apotId && (item.isBack == 0) && infoFirst" class="mt10">
													<button (click)="backdrug(item)" class="pure-button pure-button-primary">退药</button>
												</div>
											</ng-container>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="hasPrescriptData && prescriptList.length == 0" class="mt10">
							<nodata title="未查询到处方"></nodata>
						</div>
						<!-- 订单未完成，可操作 -->
						<ng-container *ngIf="booking.status != '5'">
							<div *ngIf="hasPrescriptData && prescriptList.length == 0" class="mt10 flex">
								<div *ngIf="canEdit" class="flex-1">
									<button (click)="prescript()" class="pure-button pure-button-primary">开方</button>
								</div>
							</div>
						</ng-container>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '1'}" class="tab">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th class="w10"></th>
									<th class="w20">预约服务</th>
									<th class="w30">预约医生</th>
									<th class="w30">预约日期</th>
									<th class="w10">预约时间</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{service.serviceName}}</td>
									<td>{{service.userDoctorName}}</td>
									<td>{{service.serviceDate}}</td>
									<td>{{service.serviceTime}}</td>
								</tr>
							</tbody>
						</table>
						<!-- 订单未完成，可操作 -->
						<ng-container *ngIf="booking.status != '5'">
							<div *ngIf="canEdit" class="flex mt10">
								<div class="flex-1">
									<button (click)="addService()" class="pure-button pure-button-primary">追加服务</button>
								</div>
							</div>
						</ng-container>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '2'}" class="tab">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th></th>
									<th>消费项目</th>
									<th>单价</th>
									<th>数量</th>
									<th>费用</th>
									<th>备注说明</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{fee.projectName}}</td>
									<td>{{fee.price}}</td>
									<td>{{fee.number}}</td>
									<td>{{fee.fee}}</td>
									<td>{{fee.remark}}</td>
									<td>
										<!-- 订单未完成，可操作 -->
										<ng-container *ngIf="booking.status != '5'">
											<button (click)="updateFee(fee)" class="pure-button pure-button-primary">修改</button>
										</ng-container>
									</td>
								</tr>
							</tbody>
						</table>
						<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
							<fieldset>
								<div *ngIf="addFeeInfo.editType != ''" class="pure-g">
									<div class="pure-u-1-5 pr10">
										<div class="pure-control-group">
											<label for="project_name">消费项目名</label>
											<input type="text" id="project_name" name="project_name" #project_name="ngModel" [(ngModel)]="addFeeInfo.project_name" required="" [disabled]="editType == 'update'" placeholder="请输入消费项目名">
											<div *ngIf="project_name.errors && (project_name.dity || project_name.touched)" class="alert alert-danger">
												<div [hidden]="!project_name.errors.required">
													消费项目名不可为空
												</div>
											</div>
										</div>
									</div>
									<div class="pure-u-1-5 pl5 pr5">
										<div class="pure-control-group">
											<label for="price">单价</label>
											<input type="number" id="price" name="price" #price="ngModel" [(ngModel)]="addFeeInfo.price" placeholder="请输入单价" [disabled]="editType == 'update'">
										</div>
									</div>
									<div class="pure-u-1-5 pl5 pr5">
										<div class="pure-control-group">
											<label for="number">数量</label>
											<input type="number" id="number" name="number" #number="ngModel" [(ngModel)]="addFeeInfo.number" placeholder="请输入数量" [disabled]="editType == 'update'">
										</div>
									</div>
									<div class="pure-u-1-5 pl5 pr5">
										<div class="pure-control-group">
											<label for="fee">费用</label>
											<input type="number" id="fee" name="fee" #fee="ngModel" [(ngModel)]="addFeeInfo.fee" placeholder="请输入费用" required="" [disabled]="editType == 'update'">
											<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
												<div [hidden]="!fee.errors.required">
													费用不可为空
												</div>
											</div>
										</div>
									</div>
									<div class="pure-u-1-5 pl10">
										<div class="pure-control-group">
											<label for="remarks">备注说明</label>
											<input type="text" id="remarks" name="remarks" #remarks="ngModel" [(ngModel)]="addFeeInfo.remarks" placeholder="请输入备注说明">
										</div>
									</div>
								</div>
							</fieldset>
							<!-- 订单未完成，可操作 -->
							<ng-container *ngIf="booking.status != '5'">
								<div class="mt10">
									<div *ngIf="canEdit">
										<button *ngIf="addFeeInfo.editType == ''" (click)="addfee()" class="pure-button pure-button-primary">添加其它费用</button>
										<button *ngIf="addFeeInfo.editType != ''" (click)="removeFee()" class="pure-button">取消</button>
										<button *ngIf="addFeeInfo.editType != ''" (click)="editFee(f)" class="pure-button pure-button-primary">{{addFeeInfo.editType == 'create' ? '创建' : '修改'}}</button>
									</div>
								</div>
							</ng-container>
						</form>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '5'}" class="tab">
						<table *ngIf="followupsList.length > 0" class="pure-table w100">
							<thead>
								<tr>
									<th></th>
									<th>随访人员</th>
									<th>随访时间</th>
									<th>随访内容和原因</th>
									<th>备注</th>
									<th>结果</th>
									<th>状态</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let followups of followupsList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{followups.upUserName}}</td>
									<td>{{followups.time}}</td>
									<td>{{followups.account}}</td>
									<td>{{followups.remarks}}</td>
									<td>{{followups.results}}</td>
									<td>{{followups.status}}</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="hasFollowupsData && followupsList.length == 0" class="mt10">
							<nodata title="未查询到随访"></nodata>
						</div>
						<div class="mt20">
							<button (click)="addFollowups()" class="pure-button pure-button-primary">新增随访</button>
						</div>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '6'}" class="tab">
						<table *ngIf="growthrecordList.length > 0" class="pure-table w100">
							<thead>
								<tr>
									<th></th>
									<th>小孩</th>
									<th>个人史</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let growthrecord of growthrecordList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{growthrecord.childName}}</td>
									<td>{{growthrecord.personalHistory}}</td>
									<td>
										<button (click)="updateGrowthrecord(growthrecord)" class="pure-button pure-button-primary">修改</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="hasGrowthrecordData && growthrecordList.length == 0" class="mt10">
							<nodata title="未查询到成长记录"></nodata>
						</div>
						<div *ngIf="hasGrowthrecordData && growthrecordList.length == 0" class="mt20">
							<button (click)="addGrowthrecord()" class="pure-button pure-button-primary">新增成长记录</button>
						</div>
					</div>
					<div [ngClass]="{'hidden': selectedTab != '7'}" class="tab">
						<table *ngIf="growthrecordList.length > 0" class="pure-table w100">
							<thead>
								<tr>
									<th></th>
									<th>小孩</th>
									<th>主诉</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let casehistory of casehistoryList; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{index + 1}}</td>
									<td>{{casehistory.childName}}</td>
									<td>{{casehistory.topicComment}}</td>
									<td>
										<button (click)="updateCasehistory(casehistory)" class="pure-button pure-button-primary">修改</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div *ngIf="hasCasehistoryData && casehistoryList.length == 0" class="mt10">
							<nodata title="未查询到病例"></nodata>
						</div>
						<div *ngIf="hasCasehistoryData && casehistoryList.length == 0" class="mt20">
							<button (click)="addCasehistory()" class="pure-button pure-button-primary">新增病例</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button pure-button-primary">取消</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>