.admin-doctor-info{
    .list-item{
        padding: 5px 10px;
        .item{
            display: inline-block;
            background-color: #39A99D;
            padding: 5px 10px;
            color: #fff;
            border-radius: 4px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}
