<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-doctor-info">
			<top-bar [data]="topBar"></top-bar>
			<div *ngIf="hasDoctor">
				<div class="info-tab">
					<div class="pure-g">
						<div class="pure-u-12-24 left-tab pad10">
							<div class="flex">
								<div class="img-tab mr10">
									<img src="{{info.avatarUrl}}">
								</div>
								<div class="flex-1">
									<div>{{info.doctorName}}</div>
									<div>{{info.cTitle}}</div>
									<div>{{info.aTitle}}</div>
									<div>{{info.description}}</div>
								</div>
							</div>
						</div>
						<div class="pure-u-12-24"></div>
					</div>
				</div>
				<div class="pure-g list-tab mt10">
					<div class="pure-u-2-5 pad10">
						<div class="service-item" *ngFor="let service of servicelist">
							<span>{{service.serviceName}}</span>
							<span>{{service.fee}}</span>
						</div>
					</div>
					<div class="pure-u-3-5 pad10">
						<div *ngFor="let duty of dutylist">
							<div class="flex duty-item">
								<div class="date pr10">
									<span>{{duty.weekDay}}</span>
									<span>{{duty.dutyDate}}</span>
								</div>
								<div class="flex-1">
									<div class="item" *ngFor="let item of duty.list">
										<span>{{item.date}}</span>
										<span>{{item.use}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="hasData && !hasDoctor">
				<nodata title="该医生暂无排班信息，请先去排班"></nodata>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>