<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-doctor-info">
			<top-bar [data]="topBar"></top-bar>
			<div *ngIf="hasDoctor">
				<div class="pure-g left-right-tab">
					<div class="pure-u-1-5 left-tab pr20">
						<div class="flex">
							<div class="flex-1"></div>
							<div class="img-tab-default">
								<img src="{{info.avatarUrl}}">
							</div>
							<div class="flex-1"></div>
						</div>
						<div class="item">{{info.doctorName}}</div>
						<div class="item">{{info.cTitle}}</div>
						<div class="item">{{info.aTitle}}</div>
						<div class="item text">{{info.description}}</div>
					</div>
					<div class="pure-u-4-5 right-tab">
						<div class="second-bar-tab flex">
							<div (click)="changeSelected('1')" class="item" [ngClass]="{'active': selectedTab == '1'}">本周预约</div>
							<div (click)="changeSelected('2')" class="item" [ngClass]="{'active': selectedTab == '2'}">排班</div>
						</div>
						<div *ngIf="selectedTab == '1'" class="tab">
							<div *ngFor="let booking of bookingList">
								<div *ngIf="booking.booking.length > 0" class="section">
									<div class="title">
										{{booking.week}}
										{{booking.day}}
									</div>
									<div class="list-item">
										<div (click)="goInfo(service.bookingId)" class="item cursor-p" *ngFor="let service of booking.booking">
											<span>{{service.time}}</span>
											<span>{{service.serviceName}}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="selectedTab == '2'" class="tab">
							<div *ngFor="let duty of dutylist" class="section">
								<div class="title">
									<span>{{duty.weekDay}}</span>
									<span>{{duty.dutyDate}}</span>
								</div>
								<div class="list-item">
									<div class="item" *ngFor="let item of duty.list">
										<span>{{item.date}}</span>
										<span>{{item.use}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="hasData && !hasDoctor">
				<nodata title="该医生暂无排班信息，请先去排班"></nodata>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
