<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-transaction-record">
			<top-bar [data]="topBar"></top-bar>
			<div class="mt10">
				<table *ngIf="givefeeList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th>授权人</th>
							<th>授权结果</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let givefee of givefeeList; let index=index;">
							<td>{{givefee.autherName}}</td>
							<td>{{givefee.is_waiver == '0' ? '不同意' : '同意'}}</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasData && givefeeList.length == 0" class="mt10">
					<nodata title="未查询到减免金额记录"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
