<header-nav></header-nav>
<div class="content-section admin-transaction-record">
	<top-bar [data]="topBar"></top-bar>
	<div class="mt10">
		<div class="flex pure-form search-tab max">
			<div class="pure-control-group mr10">
				<label for="user_name">用户：</label>
				<input type="text" id="user_name" name="user_name" [(ngModel)]="searchInfo.user_name" placeholder="请输入用户名">
			</div>
			<div class="pure-control-group mr10 flex">
				<label for="b_time">时间：</label>
				<select-date title="请选择日期" [showClear]="true" [endDate]="searchInfo.l_time_num" (onVoted)="changeDate($event, 'b_time')"></select-date>
			</div>
			<div class="pure-control-group mr10 flex">
				<label for="l_time" class="text-center">至</label>
				<select-date title="请选择日期" [showClear]="true" [startDate]="searchInfo.b_time_num" (onVoted)="changeDate($event, 'l_time')"></select-date>
			</div>
			<div class="flex-1"></div>
		</div>
		<div class="flex pure-form mt10 search-tab max">
			<div class="pure-control-group mr10">
				<label for="second_type">挂账是否支付：</label>
				<select id="second_type" name="second_type" [(ngModel)]="searchInfo.second_type">
					<option value="1">挂账未支付</option>
					<option value="2">挂账已支付</option>
				</select>
			</div>
			<div class="pure-control-group mr10">
				<label for="b_amount">金额：</label>
				<input type="number" id="b_amount" step="0.01" name="b_amount" [(ngModel)]="searchInfo.b_amount" placeholder="请输入金额">
			</div>
			<div class="pure-control-group mr10">
				<label for="l_amount" class="text-center">至</label>
				<input type="number" id="l_amount" step="0.01" name="l_amount" [(ngModel)]="searchInfo.l_amount" placeholder="请输入金额">
			</div>
			<div class="flex-1"></div>
			<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
		</div>
		<table *ngIf="recordList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
			<thead>
				<tr>
					<th>用户名</th>
					<th>金额</th>
					<th>支付方式</th>
					<th>操作人</th>
					<th>状态</th>
					<th>支付类型</th>
					<th class="th-width">备注</th>
					<th>时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let record of recordList; let index=index;">
					<ng-container *ngFor="let item of commonList">
						<tr *ngIf="(item.id == 1 && record.payWay == 'guazhang') || (item.id == 2 && record.secondWay == 'guazhang')">
							<td>{{record.userName}}</td>
							<td>{{(item.id == 1 ? record.amount : record.secondAmount) | toDecimal2}}</td>
							<td>{{item.id == 1 ? record.wayText : record.secondWayText}}</td>
							<td>{{record.secondType == '1' ? '' : record.secondAdminName}}</td>
							<td>{{record.secondType == '1' ? '未支付' : '已支付'}}</td>
							<td>{{record.typeText}}</td>
							<td>
								<div class="length-text">{{record.remark}}</div>
							</td>
							<td>{{record.time}}</td>
							<td>
								<button (click)="pay(record)" class="pure-button pure-button-primary">支付</button>
							</td>
						</tr>
					</ng-container>
				</ng-container>
			</tbody>
		</table>
		<div *ngIf="hasData && recordList.length == 0" class="mt10">
			<nodata title="未查询到病人交易记录"></nodata>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			<div class="pure-form">
				<div class="pure-group-control mt10 flex">
					<label for="second_way">余额：{{selector.balance}}</label>
				</div>
				<div class="pure-group-control mt10">
					<label for="second_way">支付方式：</label>
					<select name="second_way" [(ngModel)]="selector.second_way">
						<option value="member" [disabled]="!selector.canBalance">余额支付{{selector.canBalance ? '' : '（余额不足）'}}</option>
						<option value="ali">支付宝支付</option>
						<option value="wechat">微信支付</option>
						<option value="wc_zhuan">微信转账</option>
						<option value="card">刷卡支付</option>
						<option value="money">现金支付</option>
					</select>
				</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">确认支付</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
