<header-nav></header-nav>
<div class="content-section admin-transaction-statistics">
	<top-bar [data]="topBar"></top-bar>
	<div class="mt10">
		<div class="second-bar-tab flex">
			<div class="item" (click)="changeType('1,3')" [ngClass]="{'active': searchInfo.type == '1,3'}">接诊费用</div>
			<div class="item" (click)="changeType('2')" [ngClass]="{'active': searchInfo.type == '2'}">会员充值</div>
			<div class="item" (click)="changeType('4')" [ngClass]="{'active': searchInfo.type == '4'}">药品零售</div>
			<div class="flex-1 text-right">
				<button (click)="search('export')" class="pure-button pure-button-primary">导出</button>
			</div>
		</div>
		<div class="flex pure-form search-tab max mt10">
			<div class="pure-control-group search-tab max mr10">
				<label for="doctor_id">医生：</label>
				<select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
					<ng-container *ngFor="let doctor of doctorlist">
						<option value="{{doctor.id}}">{{doctor.realName}}</option>
					</ng-container>
				</select>
			</div>
			<div class="pure-control-group mr10">
				<label for="user_name">用户：</label>
				<input type="text" id="user_name" name="user_name" [(ngModel)]="searchInfo.user_name" placeholder="请输入用户名">
			</div>
			<div class="pure-control-group mr10">
				<label for="service_id">科室：</label>
				<select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
					<option value="">请选择科室</option>
					<ng-container *ngFor="let service of servicelist">
						<option value="{{service.serviceId}}">{{service.serviceName}}</option>
					</ng-container>
				</select>
			</div>
			<div class="flex-1"></div>
		</div>
		<div class="flex pure-form mt10 search-tab max">
			<div class="pure-control-group mr10 flex">
				<label for="b_time">时间：</label>
				<select-date title="请选择日期" [showClear]="true" [dateText]="searchInfo.b_time_text" [endDate]="searchInfo.l_time_num" (onVoted)="changeDate($event, 'b_time')"></select-date>
			</div>
			<div class="pure-control-group mr10 flex">
				<label for="l_time" class="text-center">至</label>
				<select-date title="请选择日期" [showClear]="true" [dateText]="searchInfo.l_time_text" [startDate]="searchInfo.b_time_num" (onVoted)="changeDate($event, 'l_time')"></select-date>
			</div>
			<div class="flex-1"></div>
			<button (click)="search('')" class="pure-button pure-button-primary">搜索</button>
		</div>
		<div *ngIf="searchInfo.type == '1,3'">
			<table *ngIf="tranList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
				<thead>
					<tr>
						<th>姓名</th>
						<th>应收金额</th>
						<th>折扣金额</th>
						<th>减免金额</th>
						<th>预约金</th>
						<th>实收金额</th>
						<th>现金</th>
						<th>线上支付</th>
						<th>余额支付</th>
						<th>挂账</th>
						<th>时间</th>
						<th>总收入</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tran of tranList; let index=index;">
						<td>{{tran.childName ? tran.childName : tran.userName}}</td>
						<td>{{tran.needAmount}}</td>
						<td>{{tran.discount}}</td>
						<td>{{tran.giveAmount}}</td>
						<td>{{tran.bookingFee}}</td>
						<td>{{tran.paidUp}}</td>
						<td>{{tran.cash}}</td>
						<td>{{tran.online}}</td>
						<td>{{tran.balance}}</td>
						<td>{{tran.gua + (tran.guastatus == 1 ? '未支付': (tran.guastatus == 2 ? '已支付' : ''))}}</td>
						<td>{{tran.time}}</td>
						<td>{{tran.total}}</td>
					</tr>
					<tr class="bg-gray">
						<td>总计</td>
						<td>{{total.needAmount}}</td>
						<td>{{total.discount}}</td>
						<td>{{total.giveAmount}}</td>
						<td>{{total.bookingFee}}</td>
						<td>{{total.paidUp}}</td>
						<td>{{total.cash}}</td>
						<td>{{total.online}}</td>
						<td>{{total.balance}}</td>
						<td>{{total.gua}}</td>
						<td >--</td>
						<td>{{total.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="searchInfo.type == '2'">
			<table *ngIf="tranList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
				<thead>
					<tr>
						<th>姓名</th>
						<th>赠送金额</th>
						<th>实收金额</th>
						<th>现金</th>
						<th>线上支付</th>
						<th>余额支付</th>
						<th>时间</th>
						<th>总收入</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tran of tranList">
						<td>{{tran.userName}}</td>
						<td>{{tran.giveAmount}}</td>
						<td>{{tran.paidUp}}</td>
						<td>{{tran.cash}}</td>
						<td>{{tran.online}}</td>
						<td>{{tran.balance}}</td>
						<td>{{tran.time}}</td>
						<td>{{tran.total}}</td>
					</tr>
					<tr class="bg-gray">
						<td>总计</td>
						<td>{{total.giveAmount}}</td>
						<td>{{total.paidUp}}</td>
						<td>{{total.cash}}</td>
						<td>{{total.online}}</td>
						<td>{{total.balance}}</td>
						<td >--</td>
						<td>{{total.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="searchInfo.type == '4'">
			<table *ngIf="tranList.length > 0" class="pure-table pure-table-horizontal w100 mt10">
				<thead>
					<tr>
						<th>姓名</th>
						<th>应收金额</th>
						<th>实收金额</th>
						<th>现金</th>
						<th>线上支付</th>
						<th>余额支付</th>
						<th>时间</th>
						<th>总收入</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let tran of tranList">
						<td>{{tran.userName}}</td>
						<td>{{tran.needAmount}}</td>
						<td>{{tran.paidUp}}</td>
						<td>{{tran.cash}}</td>
						<td>{{tran.online}}</td>
						<td>{{tran.balance}}</td>
						<td>{{tran.time}}</td>
						<td>{{tran.total}}</td>
					</tr>
					<tr class="bg-gray">
						<td>总计</td>
						<td>{{total.needAmount}}</td>
						<td>{{total.paidUp}}</td>
						<td>{{total.cash}}</td>
						<td>{{total.online}}</td>
						<td>{{total.balance}}</td>
						<td >--</td>
						<td>{{total.total}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="hasData && tranList.length == 0" class="mt10">
			<nodata title="未查询到交易信息"></nodata>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
