<!-- <header-nav></header-nav> -->
<div class="content-section admin-user-updatepwd">
	<top-bar [data]="topBar"></top-bar>
    <form nz-form [formGroup]="validateForm">
		<nz-alert [nzType]="'info'" [nzMessage]="'密码修改后需要重新登录'"></nz-alert>
        <div nz-form-item nz-row class="mt20">
            <div nz-form-label nz-col [nzSpan]="7">
                <label nz-form-item-required>新密码</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control>
                <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'请输入新密码'" [nzSize]="'large'"></nz-input>
            </div>
        </div>
        <div nz-form-item nz-row>
            <div nz-form-label nz-col [nzSpan]="7">
                <label nz-form-item-required>重复新密码</label>
            </div>
            <div nz-col [nzSpan]="12" nz-form-control>
                <nz-input formControlName="repassword" [nzType]="'password'" [nzPlaceHolder]="'请输入重复新密码'" [nzSize]="'large'"></nz-input>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="12" [nzOffset]="7">
				<button (click)="updatepwd(); $event.stopPropagation();" nz-button [nzType]="'primary'" [nzSize]="'large'"  [nzLoading]="isLoadingSave">保存</button>
            </div>
        </div>
	</form>
</div>
