<div class="container flex">
	<left-nav></left-nav>
	<div class="right-content flex-1">
		<header-nav></header-nav>
		<div class="content admin-user-list">
			<top-bar [data]="topBar"></top-bar>
			<div class="mt10">
				<div class="flex pure-form">
					<div class="flex-1">
						<button (click)="goUrl('./admin/createUser')" class="pure-button pure-button-primary">新增用户</button>
					</div>
					<div class="pure-control-group mr10">
						<label for="name">姓名：</label>
						<input type="text" id="name" name="name" [(ngModel)]="searchInfo.name" placeholder="请输入姓名">
					</div>
					<div class="pure-control-group mr10">
						<label for="mobile">手机号码：</label>
						<input type="tel" id="mobile" name="mobile" [(ngModel)]="searchInfo.mobile" placeholder="请输入手机号码">
					</div>
					<div class="pure-control-group mr10">
						<label for="child_name">小孩姓名：</label>
						<input type="text" id="child_name" name="child_name" [(ngModel)]="searchInfo.child_name" placeholder="请输入小孩姓名">
					</div>
					<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
				</div>
				<table *ngIf="users.length > 0" class="pure-table pure-table-horizontal w100 mt10">
					<thead>
						<tr>
							<th></th>
							<th>姓名</th>
							<th>手机号码</th>
							<th>性别</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of users; let index=index;">
							<td>{{index + 1}}</td>
							<td>{{user.name}}</td>
							<td>{{user.mobile}}</td>
							<td>{{user.gender == 'M' ? '男' : '女'}}</td>
							<td>
								<button (click)="goInfo(user.id)" class="pure-button pure-button-primary">详情</button>
								<button (click)="delete(user.id)" class="pure-button pure-button-primary">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
				<div *ngIf="hasData && users.length == 0" class="mt10">
					<nodata title="未查询到客户信息"></nodata>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">待确认</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button pure-button-primary">取消</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>