.admin-booking-receive{
	.booking-tab{
		.tab{
			.info{
				background-color: #D45D5D;
				color: #fff;
				height: 180px;
				overflow-x: hidden;
				overflow-y: auto;
				position: relative;
				.status{
					background-color: #efefef;
					color: #D45D5D;
					padding: 0 10px;
					border-radius: 5px;
				}
			}
			.edit{
				border-width: 0 1px 1px 1px;
				border-style: solid;
				border-color: #D45D5D;
				color: #D45D5D;
				display: block;
			}
			&.cancel{
				.info{
					background-color: #666666;
					.status{
						color: #666666;
					}
				}
				.edit{
					border-color: #666666;
					color: #666666;
				}
			}
			&.in{
				.info{
					background-color: #39A99D;
					.status{
						color: #39A99D;
					}
				}
				.edit{
					border-color: #39A99D;
					color: #39A99D;
				}
			}
			&:hover{
				.vip-tip-text{
					display: inline-block;
				}
				.info{
					&.active{
						margin-top:-24px;
					}
				}
			}
			&.complete{
				.info{
					background-color: #448CCB;
					.status{
						color: #448CCB;
					}
				}
				.edit{
					border-color: #448CCB;
					color: #448CCB;
				}
			}
		}
	}
}
