<!-- <header-nav></header-nav> -->
<div class="content-section admin-booking-receive">
	<top-bar [data]="topBar"></top-bar>
	<div nz-row [nzGutter]="30" class="mt10">
		<!-- 接诊所有，才可以筛选医生 -->
		<div nz-col [nzSpan]="8" *ngIf="moduleAuthority.receiveAll">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>医生：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select
						class="w100"
						nzAllowClear
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择医生'"
						[(ngModel)]="searchInfo.doctor_id"
						nzShowSearch>
						<nz-option
							*ngFor="let doctor of doctorlist"
							[nzLabel]="doctor.realName"
							[nzValue]="doctor.id">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>科室：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select
						class="w100"
						nzAllowClear
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择科室'"
						[(ngModel)]="searchInfo.service_id"
						nzShowSearch>
						<nz-option
							*ngFor="let service of servicelist"
							[nzLabel]="service.serviceName"
							[nzValue]="service.serviceId">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>宝宝姓名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.child_name" [nzPlaceHolder]="'请输入宝宝姓名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8" *ngIf="!moduleAuthority.receiveAll">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>手机号码：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [nzType]="'tel'" [(ngModel)]="searchInfo.mobile" maxlength="11" [nzPlaceHolder]="'请输入手机号码'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
	</div>
	<div nz-row [nzGutter]="30" class="mt10">
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>创建时间：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="cdate_big=$event" [nzSize]="'large'" class="w100" [ngModel]="cdate_big" [nzDisabledDate]="_disabledCdateBig" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择开始日期'"></nz-datepicker>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-center">
					<label>至</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="cdate_less=$event" [nzSize]="'large'" class="w100" [ngModel]="cdate_less" [nzDisabledDate]="_disabledCdateLess" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择结束日期'"></nz-datepicker>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8" *ngIf="moduleAuthority.receiveAll">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>手机号码：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [nzType]="'tel'" [(ngModel)]="searchInfo.mobile" maxlength="11" [nzPlaceHolder]="'请输入手机号码'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
	</div>
	<div nz-row [nzGutter]="30" class="mt10">
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label>预约时间：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker [nzSize]="'large'" class="w100" [(ngModel)]="bdate_big" [nzDisabledDate]="_disabledBdateBig" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择开始日期'"></nz-datepicker>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-center">
					<label>至</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="bdate_less=$event" [nzSize]="'large'" class="w100" [ngModel]="bdate_less" [nzDisabledDate]="_disabledBdateLess" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择结束日期'"></nz-datepicker>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right mt10 mb10">
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
	</div>
	<div nz-row [nzGutter]="30">
		<ng-container *ngFor="let booking of bookinglist">
			<div nz-col [nzSpan]="8" class="booking-tab pad10" *ngFor="let service of booking.services">
				<nz-tooltip>
					<div nz-tooltip class="tab" [ngClass]="{'in': booking.status == '4', 'complete': booking.status == '5'}">
						<div class="info pad10" [ngClass]="{'active': booking.memberId != null}">
							<img *ngIf="booking.memberId != null" class="vip-icon" src="../assets/images/vip.png" />
							<div class="flex">
								<div class="flex-1"></div>
								<div class="status">
									{{booking.statusText}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">宝宝姓名：</div>
								<div class="flex-1">
									{{booking.childName}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">宝宝年龄：</div>
								<div class="flex-1">
									{{booking.age}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约科室：</div>
								<div class="flex-1">
									{{service.serviceName}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约日期：</div>
								<div class="flex-1">
									{{service.serviceDate}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约时间：</div>
								<div class="flex-1">
									{{service.serviceTime}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约医生：</div>
								<div class="flex-1">
									{{service.userDoctorName}}
								</div>
							</div>
						</div>
						<div class="flex">
							<a *ngIf="moduleAuthority.receive || moduleAuthority.receiveAll" class="edit flex-1 pad10 text-center" (click)="info(booking, service)">
								接诊
							</a>
						</div>
					</div>
					<ng-template #nzTemplate>
						<div>{{booking.memberName}}（{{booking.userBalance ? booking.userBalance : '0.00'}}元）</div>
						<div *ngFor="let actcard of booking.actCards">
							{{actcard.activityName}}（剩余：{{actcard.num}}次）
						</div>
      				</ng-template>
				</nz-tooltip>
			</div>
		</ng-container>
	</div>
	<div *ngIf="hasData && bookinglist.length == 0">
		<nz-alert [nzType]="'info'" [nzMessage]="'未查询到预约信息'"></nz-alert>
	</div>
</div>
<loading [show]="loadingShow"></loading>
