<div class="forgetpwd-page">
	<div class="page-container">
		<div class="head text-center">
	        <!-- <img class="logo" src="./assets/img/logo-color.svg"> -->
	        <span class="title">嘉宝康乐</span>
	  	</div>
		<form nz-form [formGroup]="validateForm" class="login-form">
      		<div nz-form-item nz-row>
        		<div nz-form-label nz-col [nzSpan]="6">
          			<label nz-form-item-required>手机号码</label>
        		</div>
        		<div nz-form-control nz-col [nzSpan]="14">
          			<nz-input [nzSize]="'large'" [nzType]="'tel'" formControlName="username" [nzPlaceHolder]="'请输入手机号码'"></nz-input>
          			<div nz-form-explain *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">手机号码不可为空</div>
				</div>
        	</div>
			<div nz-form-item nz-row>
        		<div nz-form-label nz-col [nzSpan]="6">
          			<label nz-form-item-required>图形验证码</label>
        		</div>
        		<div nz-form-control nz-col [nzSpan]="14">
          			<div nz-row [nzGutter]="8">
            			<div nz-col [nzSpan]="12">
              				<nz-input [nzSize]="'large'" [nzType]="'tel'" formControlName="vali_code" [nzPlaceHolder]="'请输入图形验证码'"></nz-input>
            			</div>
            			<div nz-col [nzSpan]="12">
							<div class="code-img">
								<img [src]="codeImg" (click)="changeCodeImg()">
							</div>
            			</div>
          			</div>
          			<div nz-form-explain *ngIf="getFormControl('vali_code').dirty&&getFormControl('vali_code').hasError('required')">图形验证码不可为空</div>
        		</div>
      		</div>
			<div nz-form-item nz-row>
        		<div nz-form-label nz-col [nzSpan]="6">
          			<label nz-form-item-required>验证码</label>
        		</div>
        		<div nz-form-control nz-col [nzSpan]="14">
          			<div nz-row [nzGutter]="8">
            			<div nz-col [nzSpan]="12">
              				<nz-input [nzSize]="'large'" [nzType]="'tel'" formControlName="verify_code" [nzPlaceHolder]="'请输入验证码'"></nz-input>
            			</div>
            			<div nz-col [nzSpan]="12">
							<button (click)="sendSms()" nz-button [nzSize]="'large'" [nzType]="'primary'" [disabled]="getFormControl('username').value.length != 11 || getFormControl('vali_code').value.length != 4 || sms.disabled">{{sms.text}}</button>
            			</div>
          			</div>
          			<div nz-form-explain *ngIf="getFormControl('verify_code').dirty&&getFormControl('verify_code').hasError('required')">验证码不可为空</div>
        		</div>
      		</div>
      		<div nz-form-item nz-row>
        		<div nz-form-label nz-col [nzSpan]="6">
          			<label nz-form-item-required>新密码</label>
        		</div>
        		<div nz-form-control nz-col [nzSpan]="14">
          			<nz-input [nzSize]="'large'" [nzType]="'tel'" formControlName="password" [nzPlaceHolder]="'请输入新密码'"></nz-input>
          			<div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">手机号码不可为空</div>
				</div>
        	</div>
		  	<div nz-form-item>
		        <div nz-form-control class="mb10">
		      		<div nz-row>
		        		<div nz-col [nzSpan]="14" [nzOffset]="6">
	          				<a (click)="login()" class="login-form-forgot">去登录</a>
						</div>
					</div>
				</div>
		        <div nz-form-control>
		      		<div nz-row>
		        		<div nz-col [nzSpan]="14" [nzOffset]="6">
							<button (click)="updatePwd()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingSave">确定</button>
		        		</div>
					</div>
		        </div>
		  	</div>
		</form>
	</div>
</div>
