<div class="login-page">
	<div class="page-container">
		<div class="head text-center">
	        <!-- <img class="logo" src="./assets/img/logo-color.svg"> -->
	        <span class="title">嘉宝康乐</span>
	  	</div>
		<form nz-form [formGroup]="validateForm" class="login-form">
		  	<div nz-form-item>
		        <div nz-form-control>
		          	<nz-input formControlName="username" [nzPlaceHolder]="'请输入用户名'" [nzSize]="'large'">
		            	<ng-template #prefix>
		              		<i class="anticon anticon-user"></i>
		            	</ng-template>
		          	</nz-input>
		          	<div nz-form-explain *ngIf="validateForm.controls.username.dirty&&validateForm.controls.username.hasError('required')">用户名不可为空</div>
		        </div>
		  	</div>
		  	<div nz-form-item>
		        <div nz-form-control>
		          	<nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'请输入密码'" [nzSize]="'large'">
		            	<ng-template #prefix>
		              		<i class="anticon anticon-lock"></i>
		            	</ng-template>
		          	</nz-input>
		          	<div nz-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">密码不可为空</div>
		        </div>
		  	</div>
		  	<div nz-form-item>
		        <div nz-form-control class="mb10">
		          	<a (click)="forgetpwd()" class="login-form-forgot">找回密码？</a>
				</div>
		        <div nz-form-control>
		          	<button (click)="login()" nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isLoadingSave">登录</button>
		        </div>
		  	</div>
		</form>
	</div>
</div>
