<!-- <header-nav></header-nav> -->
<div class="content-section admin-medical-purchase">
	<top-bar [data]="topBar"></top-bar>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab pure-tab">
		<fieldset>
			<div class="pure-g">
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="supplier">
							<span>供应商</span>
							<span class="required">*</span>
						</label>
						<select id="supplier" name="supplier" #supplier="ngModel" [(ngModel)]="info.supplier" required="">
							<ng-container *ngFor="let item of list">
								<option value="{{item.string}}">{{item.name}}</option>
							</ng-container>
						</select>
						<div *ngIf="supplier.errors && (supplier.dity || supplier.touched)" class="alert alert-danger">
							<div [hidden]="!supplier.errors.required">
								供应商不可为空
							</div>
						</div>
					</div>
				</div>
				<div class="pure-u-8-24">
					<div class="pure-control-group">
						<label for="about_time">
							<span>发货时间</span>
							<span class="required">*</span>
						</label>
						<select-date title="请选择日期" [showClear]="true" (onVoted)="changeDate($event)"></select-date>
					</div>
				</div>
			</div>
			<div *ngFor="let ms of mslist" class="ms-tab mt5">
				<div *ngIf="ms.use">
					<div (click)="showMs(ms.key)" class="ms-bar flex">
						<div class="flex-1 pt5">
							<ng-container *ngIf="ms.show">
								<span>隐藏</span>
								<i class="anticon anticon-right"></i>
							</ng-container>
							<ng-container *ngIf="!ms.show">
								<span>展开</span>
								<i class="anticon anticon-down"></i>
							</ng-container>
						</div>
						<div *ngIf="ms.key != 1">
							<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
						</div>
					</div>
					<div [ngClass]="{'hide': !ms.show}" class="pure-g">
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="ms_{{ms.key}}">
									<span>药品名</span>
									<span class="required">*</span>
								</label>
								<select id="ms_{{ms.key}}" name="ms_{{ms.key}}" ngModel>
									<ng-container *ngFor="let medicalSupplie of medicalSupplies">
										<ng-container *ngIf="medicalSupplie.type == '1' || medicalSupplie.type == '2'">
											<option value="{{medicalSupplie.string}}">{{medicalSupplie.name}}({{medicalSupplie.unit}})</option>
										</ng-container>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="num_{{ms.key}}">
									<span>入库数量</span>
									<span class="required">*</span>
								</label>
								<input type="number" id="num_{{ms.key}}" name="num_{{ms.key}}" ngModel placeholder="请输入入库数量" (change)="feeChange(f)">
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="bid_{{ms.key}}">
									<span>进价</span>
									<span class="required">*</span>
								</label>
								<input type="number" id="bid_{{ms.key}}" step="0.01" name="bid_{{ms.key}}" ngModel (change)="feeChange(f)" placeholder="请输入进价">
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="batch_{{ms.key}}">
									<span>批次</span>
									<span class="required">*</span>
								</label>
								<input type="text" id="batch_{{ms.key}}" name="batch_{{ms.key}}" ngModel placeholder="请输入批次">
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="expiring_date_{{ms.key}}">
									<span>有效日期</span>
									<span class="required">*</span>
								</label>
								<select-date title="请选择有效日期" [showClear]="true" (onVoted)="selectExpiringDate($event,  ms.key)"></select-date>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mt10">
				<button (click)="addMs()" class="pure-button pure-button-primary"><i class="anticon anticon-plus mr5"></i>添加药品</button>
			</div>
			<div class="pure-g">
				<div class="pure-u-8-24 pr10">
					<div class="pure-control-group">
						<label for="fee">
							<span>总费用</span>
							<span class="required">*</span>
						</label>
						<input type="number" id="fee" step="0.01" name="fee" #fee="ngModel" [(ngModel)]="info.fee" placeholder="请输入总费用" required="" disabled="">
						<div *ngIf="fee.errors && (fee.dity || fee.touched)" class="alert alert-danger">
							<div [hidden]="!fee.errors.required">
								总费用不可为空
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="create(f)" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">保存</button>
		</div>
	</form>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
