<!-- <header-nav></header-nav> -->
<div class="content-section admin-booking-in">
	<top-bar [data]="topBar"></top-bar>
	<div class="text-right">
		<button (click)="todayBooking()" nz-button [nzType]="'primary'" [nzSize]="'large'">今日预约</button>
	</div>
	<div nz-row [nzGutter]="30">
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>推荐人</label>
            	</div>
            	<div nz-form-control class="mt10">
					<nz-select
						class="w100"
						nzAllowClear
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择推荐人'"
						[(ngModel)]="bookingInfo.referee"
						nzShowSearch
						[disabled]="booking.refNo !=''">
						<nz-option
							*ngFor="let admin of adminList"
							[nzLabel]="admin.realName"
							[nzValue]="admin.string">
						</nz-option>
					</nz-select>
            	</div>
          	</div>
    	</div>
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						<span>预约宝宝</span>
						<span class="required">*</span>
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<div nz-row [nzGutter]="8" *ngIf="booking.refNo == ''">
            			<div nz-col [nzSpan]="this.moduleAuthority.see ? 16 : 24">
							<nz-select
								class="w100"
								[nzSize]="'large'"
								[nzPlaceHolder]="'请选择宝宝'"
								[ngModel]="bookingInfo.child"
								(ngModelChange)="getUserInfo($event)"
								nzShowSearch>
								<nz-option
									*ngFor="let child of childlist"
									[nzLabel]="child.value"
									[nzValue]="child.key">
								</nz-option>
							</nz-select>
            			</div>
            			<div nz-col [nzSpan]="8" *ngIf="this.moduleAuthority.see">
							<button (click)="$event.preventDefault();addChild()" nz-button [nzType]="'primary'" [nzSize]="'large'" class="w100">添加宝宝</button>
            			</div>
          			</div>
					<nz-input *ngIf="booking.refNo != ''" [(ngModel)]="booking.childName" [nzSize]="'large'" [nzDisabled]="true"></nz-input>
				</div>
			</div>
		</div>
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						<span>预约科室</span>
						<span class="required">*</span>
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<div nz-row [nzGutter]="8">
            			<div nz-col [nzSpan]="booking.refNo =='' && bookingInfo.service_name == '儿童保健' ? 12 : 24">
							<nz-select
								class="w100"
								[nzSize]="'large'"
								[nzPlaceHolder]="'请选择科室'"
								[ngModel]="bookingInfo.service"
								(ngModelChange)="bookingInfo.service=$event;serviceChange(bookingInfo.service)"
								nzShowSearch>
								<nz-option
									*ngFor="let service of servicelist"
									[nzLabel]="service.serviceName"
									[nzValue]="service.string">
								</nz-option>
							</nz-select>
						</div>
            			<div nz-col [nzSpan]=[12] *ngIf="booking.refNo =='' && bookingInfo.service_name == '儿童保健'">
							<nz-switch [(ngModel)]="bookingInfo.service_asq">
					        	<span checked>添加ASQ</span>
					        	<span unchecked>不添加ASQ</span>
					      	</nz-switch>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div nz-row [nzGutter]="30" class="mt10">
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						<span>预约医生</span>
						<span class="required">*</span>
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<nz-select
						class="w100"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择医生'"
						[ngModel]="bookingInfo.user_doctor"
						(ngModelChange)="bookingInfo.user_doctor=$event;doctorChange('changeBookingFee')"
						nzShowSearch>
						<nz-option
							*ngFor="let doctor of doctorlist"
							[nzLabel]="doctor.doctorName + '：' + doctor.fee"
							[nzValue]="doctor.string">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
    	<div *ngIf="booking.bookingId" nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						<span>预约金</span>
						<span class="required">*</span>
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<nz-input-number [nzMin]="0" [nzStep]="0.01" [nzSize]="'large'" [(ngModel)]="bookingInfo.booking_fee" [nzDisabled]="this.booking.refNo != ''" class="w100" [nzPlaceHolder]="'请输入预约金'"></nz-input-number>
				</div>
			</div>
		</div>
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						<span>预约日期</span>
						<span class="required">*</span>
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<nz-select
						class="w100"
						[nzSize]="'large'"
						[nzPlaceHolder]="'请选择日期'"
						[ngModel]="bookingInfo.booking_date"
						(ngModelChange)="bookingInfo.booking_date=$event;dateChange()"
						nzShowSearch>
						<nz-option
							[nzLabel]="doctorDutys.dutyDate + doctorDutys.weekDay"
							[nzValue]="doctorDutys.string">
						</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
	<div class="mt10 mb10">
		<label for="time" class="time">
			<span>预约时间段（请先选择日期）</span>
			<span class="can">：可预约</span>
			<span class="can item"></span>
			<!-- <span class="overdue">已过期</span> -->
			<!-- <span class="overdue item"></span> -->
			<span class="already">已预约</span>
			<span class="already item">
				<span class="icon">x</span>
			</span>
			<span class="selected">已选择</span>
			<span class="selected item"></span>
		</label>
		<div *ngIf="timelist.length > 0" class="time-list flex flex-wrap mt10">
			<ng-container *ngFor="let time of timelist; let index=index;">
				<div class="">
					<div
						(click)="selectTime(time, bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)"
						class="item"
						[ngClass]="{'active': time.value == bookingInfo.timeInfo, 'disabled': time.type != 'can' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'can': time.type == 'can' || (bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'overdue': time.type == 'overdue' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time), 'already': time.type == 'already' && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)}">
						<div class="flex">
							<div class="radioTab mr10">
								<ng-container *ngIf="time.type == 'already' && time.value != bookingInfo.timeInfo && !(bookingInfo.bookingDate == booking.bookingDate && time.value == booking.time)">
									x
								</ng-container>
							</div>
							<div class="flex-1">{{time.value}}</div>
						</div>
					</div>
				</div>
				<div *ngIf="index % 8 != 7" style="width: calc((100% - 780px) / 7)"></div>
			</ng-container>
		</div>
		<div *ngIf="timelist.length == 0" class="mt10">
			<nz-alert [nzType]="'info'" [nzMessage]="'请先选择预约时间'"></nz-alert>
		</div>
		<!-- <select id="time" name="time" [(ngModel)]="bookingInfo.timeInfo" #timeInfo="ngModel">
			<ng-container *ngFor="let time of timelist">
				<option value="{{time.value}}" *ngIf="time.use">{{time.value}}</option>
				<option value="{{time.value}}" *ngIf="!time.use" disabled="">{{time.value}}{{time.type}}</option>
			</ng-container>
		</select> -->
	</div>
	<div nz-row [nzGutter]="30">
    	<div nz-col [nzSpan]="8">
          	<div nz-form-item>
            	<div nz-form-label>
              		<label>
						备注（最多200字）
					</label>
            	</div>
            	<div nz-form-control class="mt10">
					<textarea nz-input [(ngModel)]="bookingInfo.remark" [nzSize]="'large'" placeHolder="请输入备注" maxlength="200"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center mt10 mb10">
		<button (click)="editIn()" nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="canEdit" class="w100p">保存</button>
	</div>
</div>
<nz-modal [nzVisible]="modalTab" [nzWidth]="900" [nzTitle]="'今日预约'" [nzContent]="content" [nzFooter]="footer" (nzOnCancel)="close()">
	<ng-template #content>
		<nz-table #nzTable [nzDataSource]="bookinglist" [nzBordered]="true" [nzIsPagination]="false">
			<thead nz-thead>
				<tr>
					<th>姓名</th>
					<th>年龄</th>
					<th>预约医生</th>
					<th>预约科室</th>
					<th>预约时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody nz-tbody>
				<ng-container *ngFor="let booking of bookinglist" class="cursor-p">
					<tr *ngFor="let service of booking.services; let indexService=index;">
						<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == 0">{{booking.childName}}</td>
						<td [attr.rowspan]="booking.servicesLength" *ngIf="indexService == 0">{{booking.age}}</td>
						<td>{{service.userDoctorName}}</td>
						<td>{{service.serviceName}}</td>
						<td>
							<span>{{service.serviceDate}}</span>
							<span>{{service.serviceTime}}</span>
						</td>
						<td>
							<button (click)="show(booking)" nz-button [nzType]="'primary'" [nzSize]="'large'">选定</button>
						</td>
					</tr>
				</ng-container>
			</tbody>
		</nz-table>
	</ng-template>
	<ng-template #footer>
		<button (click)="close()" nz-button [nzType]="'default'" [nzSize]="'large'">关闭</button>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalTabAgain" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentAgain" [nzFooter]="footerAgain" [nzMaskClosable]="false" (nzOnCancel)="closeAgain()">
	<ng-template #contentAgain>
    	<p>{{bookingAgainText}}</p>
	</ng-template>
	<ng-template #footerAgain>
		<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeAgain()">取消</button>
		<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="confirmAgain()">继续预约</button>
	</ng-template>
</nz-modal>
<nz-modal [nzVisible]="modalTabType" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentType" [nzFooter]="footerType" [nzMaskClosable]="false" (nzOnCancel)="closeType()">
	<ng-template #contentType>
    	<p>预约成功</p>
	</ng-template>
	<ng-template #footerType>
		<button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="closeType()">继续预约</button>
		<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="confirmType()">去支付</button>
	</ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
