<!-- <header-nav></header-nav> -->
<div class="content-section admin-crm-user-list">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="moduleAuthority.add" class="mt10">
		<button (click)="add()" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>新增员工</span></button>
	</div>
	<div nz-row [nzGutter]="30" class="mt10 mb10">
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="name">姓名：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [nzId]="'name'" [(ngModel)]="searchInfo.name" [nzSize]="'large'" [nzPlaceHolder]="'请输入姓名'"></nz-input>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="mobile">手机号码：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [nzId]="'mobile'" [(ngModel)]="searchInfo.mobile" [nzSize]="'large'" [nzPlaceHolder]="'请输入手机号码'"></nz-input>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="role">类型：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select class="w100" [(ngModel)]="searchInfo.role" [nzPlaceHolder]="'请选择类型'" nzAllowClear [nzSize]="'large'">
						<nz-option [nzValue]="2" [nzLabel]="'医生'">医生</nz-option>
						<nz-option [nzValue]="3" [nzLabel]="'护士'">护士</nz-option>
						<nz-option [nzValue]="9" [nzLabel]="'管理员'">管理员</nz-option>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
	<div nz-row [nzGutter]="30" class="mt10 mb10">
		<div nz-col [nzSpan]="8">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="clinic_role">角色：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-select class="w100" [(ngModel)]="searchInfo.clinic_role" [nzPlaceHolder]="'请选择角色'" nzAllowClear [nzSize]="'large'">
						<ng-container *ngFor="let clinicRole of clinicRoleList">
							<nz-option [nzValue]="clinicRole.id" [nzLabel]="clinicRole.name"></nz-option>
						</ng-container>
					</nz-select>
				</div>
			</div>
		</div>
	</div>
	<div class="mt10 mb10 text-right">
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
	</div>
	<div class="mt10 mb10">
		<nz-alert [nzType]="'info'" [nzMessage]="'共查询到员工' + adminlist.length + '条'"></nz-alert>
	</div>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="adminlist" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
		<thead nz-thead>
			<tr>
				<th></th>
				<th>姓名</th>
				<th>手机号码</th>
				<th>类型</th>
				<th>角色</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<tr nz-tbody-tr *ngFor="let user of nzTable.data; let index=index;">
				<td>{{index + 1}}</td>
				<td>{{user.realName}}</td>
				<td>{{user.mobile}}</td>
				<td>{{user.roleText}}</td>
				<td>{{user.clinicRoleName}}</td>
				<td>
					<button *ngIf="moduleAuthority.update" (click)="update(user.id)" nz-button [nzType]="'primary'" [nzSize]="'large'"><span>修改</span></button>
					<button *ngIf="moduleAuthority.delete" (click)="delete(user.id)" nz-button [nzType]="'danger'" [nzSize]="'large'"><span>删除</span></button>
				</td>
			</tr>
		</tbody>
		<span noResult>暂无员工信息</span>
	</nz-table>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentConfirm" (nzOnCancel)="closeConfirm()" (nzOnOk)="confirm()">
	<ng-template #contentConfirm>
    	<p>{{selector.text}}</p>
	</ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
