<header-nav></header-nav>
<div class="content-section admin-scheduling-page">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex">
		<div class="flex-1">
			<button (click)="prec()" class="pure-button pure-button-primary">上一周</button>
			<button (click)="now()" class="pure-button pure-button-primary">本周</button>
			<button (click)="next()" class="pure-button pure-button-primary">下一周</button>
		</div>
		<button *ngIf="weekNum >= 0" (click)="copyPrec()" class="pure-button pure-button-primary">复制上周排班</button>
	</div>
	<div class="list-tab mt10">
		<div class="pure-g title-tab">
			<div class="pure-u-1-24 title"></div>
			<div class="pure-u-2-24 title text-center">医生</div>
			<div class="pure-u-3-24 title text-center" *ngFor="let title of weektitle">
				<div>{{title.date}}</div>
				<div>{{title.title}}</div>
			</div>
		</div>
		<div class="doctor-list">
			<div class="pure-g item" *ngFor="let scheduling of schedulinglist">
				<div class="pure-u-1-24 img-tab pad10 text-center">
					<img src="{{(!scheduling.avatarUrl || scheduling.avatarUrl == '') ? '../assets/images/img.png' : scheduling.avatarUrl}}" />
				</div>
				<div class="pure-u-2-24 info text-center pt20 name">{{scheduling.realName}}</div>
				<div class="pure-u-3-24 info pad10 pt15 scheduling-tab text-center" *ngFor="let day of scheduling.weekScheduling; let index=index;">
					<div (click)="configChange(day.use, day.id, day.dutyDay, day.dutyConfig, scheduling.adminId, scheduling.adminName, scheduling.realName, day.dutyDayTitle)" class="edit" [ngClass]="{'disabled': !day.use}">
						<div>
							<div *ngFor="let item of day.dutyConfigList">{{item}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal admin-scheduling-page" [ngClass]="{'hidden': !modalTab}">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<form #f="ngForm" class="pure-form pure-form-stacked" novalidate>
			<div class="title">{{changeData.realName}} {{changeData.title_date}}</div>
			<div class="content pad10">
				<fieldset>
					<div class="pure-control-group">
						<label for="">排班时间</label>
						<div class="duty-tab">
							<div *ngFor="let duty of dutylist; let index=index; let last=last; let first=first;">
								<div *ngIf="duty.use" class="flex">
									<div class="flex w100">
										<select [(ngModel)]="duty.start" name="duty{{index}}start" class="flex-1">
											<ng-container *ngFor="let time of dutytime; let timeIndex=index;">
												<option selected="selected" value="{{time.key}},{{timeIndex}}">{{time.value}}</option>
											</ng-container>
										</select>
										<span class="space-line">-</span>
										<select [(ngModel)]="duty.end" name="duty{{index}}end" class="flex-1">
											<ng-container *ngFor="let time of dutytime; let timeIndex=index;">
												<option value="{{time.key}},{{timeIndex}}">{{time.value}}</option>
											</ng-container>
										</select>
									</div>
									<div *ngIf="first" class="addDuty"></div>
									<div *ngIf="!first" class="addDuty text-right">
										<button (click)="delDuty(duty.id);" class="pure-button pure-button-primary button-error">删除</button>
									</div>
								</div>
							</div>
							<div class="mt10">
								<button (click)="addDuty(dutylist.length);" class="pure-button pure-button-primary">添加</button>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="button-tab pad10 flex">
				<div class="flex-1">
					<button *ngIf="changeData._id != ''" (click)="delete('delete', '');" class="pure-button">删除今日排班信息</button>
				</div>
				<button (click)="close();" class="pure-button mr10">关闭</button>
				<button (click)="create(f);" class="pure-button pure-button-primary">排班</button>
			</div>
		</form>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			{{selector.text}}
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
