<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-service-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex max mb10">
        <div class="flex-1">
			<div class="button-tab">
				<button (click)="goCreate()" nz-button [nzType]="'primary'" [nzSize]="'large'">新增医生科室</button>
			</div>
        </div>
        <div class="mr10">
            <label for="status">状态：</label>
            <nz-select id="status" name="status" [(ngModel)]="searchInfo.status" (nzOpenChange)="search()" class="w100p" [nzPlaceHolder]="''">
				<nz-option [nzValue]="'0'" [nzLabel]="'可用'"></nz-option>
				<nz-option [nzValue]="'1'" [nzLabel]="'停用'"></nz-option>
            </nz-select>
        </div>
	</div>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="doctorServiceList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true" class="w100 mt10">
		<thead nz-thead>
			<tr>
				<th nz-th>科室名</th>
				<th nz-th>科室费用</th>
				<th nz-th>预约金</th>
				<th nz-th>状态</th>
				<th nz-th>操作</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<tr nz-tbody-tr *ngFor="let doctorService of nzTable.data">
				<td nz-td>{{doctorService.serviceName}}</td>
				<td nz-td>{{doctorService.fee}}元</td>
				<td nz-td>{{doctorService.bookingFee}}元</td>
				<td nz-td>{{doctorService.isDeleted == '0' ? '可用' : '停用'}}</td>
				<td nz-td>
					<button (click)="update(doctorService.id)" nz-button [nzType]="'primary'" [nzSize]="'large'">修改</button>
					<button (click)="updateStatus(doctorService)" nz-button [nzType]="'primary'" [nzSize]="'large'">{{doctorService.isDeleted == '0' ? '停用' : '可用'}}</button>
					<button (click)="delete(doctorService)" nz-button [nzType]="'danger'" [nzSize]="'large'">删除</button>
				</td>
			</tr>
		</tbody>
		<span noResult>暂无医生科室信息</span>
	</nz-table>
</div>
<nz-modal [nzVisible]="modalConfirmTab" [nzWidth]="900" [nzTitle]="'提示'" [nzContent]="contentConfirm" (nzOnCancel)="closeConfirm()" (nzOnOk)="confirm()" [nzConfirmLoading]="btnCanEdit">
	<ng-template #contentConfirm>
    	<p>{{selector.text}}</p>
	</ng-template>
</nz-modal>
<loading [show]="loadingShow"></loading>
