<!-- <header-nav></header-nav> -->
<div class="content-section admin-child-service">
	<top-bar [data]="topBar"></top-bar>
	<div nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>科室名：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input [nzSize]="'large'" [(ngModel)]="childService.serviceName" [nzPlaceHolder]="'请输入科室名'"></nz-input>
		</div>
	</div>
	<div nz-form-item nz-row class="mt10">
		<div nz-form-label nz-col [nzSpan]="7" class="text-right">
			<label>科室说明（最多200字）：</label>
		</div>
		<div nz-form-control nz-col [nzSpan]="12">
			<nz-input [nzType]="'textarea'" [nzSize]="'large'" [(ngModel)]="childService.description" [nzPlaceHolder]="'请输入科室说明'"></nz-input>
		</div>
	</div>
	<div nz-row class="mt10">
		<div nz-col [nzSpan]="12" [nzOffset]="7">
			<button (click)="submit()" nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="btnCanEdit">保存</button>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
