<!-- <header-nav></header-nav> -->
<div class="content-section admin-transaction-record">
  <top-bar [data]="topBar"></top-bar>
  <div class="text-right mt10 mb10">
    <button (click)="search('export')" nz-button [nzType]="'primary'" [nzSize]="'large'">导出</button>
  </div>
  <div nz-row class="mt10">
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-right">
          <label>家长姓名：</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-input [(ngModel)]="searchInfo.user_name" [nzPlaceHolder]="'请输入家长姓名'" [nzSize]="'large'"></nz-input>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-right">
          <label>预约时间：</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-rangepicker [(ngModel)]="searchInfo.date" [nzSize]="'large'" [nzPlaceholder]="['请选择开始日期', '请选择结束日期']"></nz-rangepicker>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-right">
          <label>支付方式：</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-select class="w100" nzAllowClear [nzSize]="'large'" [nzPlaceHolder]="'请选择支付方式'" [(ngModel)]="searchInfo.pay_way" nzShowSearch>
            <nz-option [nzLabel]="'支付宝支付'" [nzValue]="'ali'"></nz-option>
            <nz-option [nzLabel]="'微信支付'" [nzValue]="'wechat'"></nz-option>
            <nz-option [nzLabel]="'刷卡支付'" [nzValue]="'card'"></nz-option>
            <nz-option [nzLabel]="'会员余额支付'" [nzValue]="'member'"></nz-option>
            <nz-option [nzLabel]="'现金支付'" [nzValue]="'money'"></nz-option>
            <nz-option [nzLabel]="'活动卡支付'" [nzValue]="'activity'"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
  <div nz-row class="mt10">
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-right">
          <label>交易类型：</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-select class="w100" nzAllowClear [nzSize]="'large'" [nzPlaceHolder]="'请选择交易类型'" [(ngModel)]="searchInfo.type" nzShowSearch>
            <nz-option [nzLabel]="'支付费用'" [nzValue]="'1'"></nz-option>
            <nz-option [nzLabel]="'会员充值'" [nzValue]="'2'"></nz-option>
            <nz-option [nzLabel]="'支付预约金'" [nzValue]="'3'"></nz-option>
            <nz-option [nzLabel]="'药品零售'" [nzValue]="'4'"></nz-option>
            <nz-option [nzLabel]="'活动卡售卖'" [nzValue]="'6'"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-right">
          <label>金额：</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-input-number class="w100" [nzStep]="0.01" [(ngModel)]="searchInfo.b_amount" [nzPlaceHolder]="'请输入金额'" [nzSize]="'large'"></nz-input-number>
        </div>
      </div>
    </div>
    <div nz-col [nzSpan]="8">
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="10" class="text-center">
          <label>至</label>
        </div>
        <div nz-form-control nz-col [nzSpan]="14">
          <nz-input-number class="w100" [nzStep]="0.01" [(ngModel)]="searchInfo.l_amount" [nzPlaceHolder]="'请输入金额'" [nzSize]="'large'"></nz-input-number>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right mt10 mb10">
    <button (click)="search('')" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
  </div>
	<div class="mt10 mb10">
		<nz-alert [nzType]="'info'" [nzMessage]="'共查询到交易记录' + recordList.length + '条'"></nz-alert>
	</div>
  <nz-table *ngIf="hasData" #nzTable [nzDataSource]="recordList" [nzBordered]="true" [nzIsPagination]="false" [nzCustomNoResult]="true">
    <thead nz-thead>
      <tr>
        <th>家长姓名</th>
        <th>金额</th>
        <th>赠送金额</th>
        <th>支付方式</th>
        <th>操作人</th>
        <th>状态</th>
        <th>支付类型</th>
        <th class="th-width">备注</th>
        <th>交易时间</th>
      </tr>
    </thead>
    <tbody nz-tbody>
      <ng-container *ngFor="let record of recordList; let index=index;">
        <ng-container *ngFor="let item of commonList">
          <tr *ngIf="!(item.id == 2 && !record.secondWay)">
            <td *ngIf="item.id == 1" [attr.rowspan]="!record.secondWay ? 1 : 2">{{record.userName}}</td>
            <td>{{item.id == 1 ? record.amount : record.secondAmount}}</td>
            <td>{{item.id == 1 ? record.giveAmount : ''}}</td>
            <td>{{item.id == 1 ? record.wayText : record.secondWayText}}</td>
            <td>{{item.id == 1 ? (record.payWay != 'guazhang' ? record.adminName : (record.secondType == '1' ? '' : record.secondAdminName))
              : (record.secondType == '0' ? record.adminName : (record.secondType == '1' ? '' : record.secondAdminName))}}</td>
            <td>{{(record.secondType == '0' || record.secondType == '2' ? '已支付' : (item.id == 1 ? (record.payWay != 'guazhang'
              ? '已支付' : '未支付') : (record.secondWay != 'guazhang' ? '已支付' : '未支付')))}}</td>
            <td *ngIf="item.id == 1" [attr.rowspan]="!record.secondWay ? 1 : 2">{{record.typeText}}</td>
            <td *ngIf="item.id == 1" [attr.rowspan]="!record.secondWay ? 1 : 2">
              <div class="td-text">{{record.remark}}</div>
            </td>
            <td *ngIf="item.id == 1" [attr.rowspan]="!record.secondWay ? 1 : 2">{{record.time}}</td>
          </tr>
        </ng-container>
      </ng-container>
      <tr *ngIf="recordList.length > 0">
        <td>总计</td>
        <td>{{amount}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </tbody>
    <span noResult>暂无交易记录信息</span>
  </nz-table>
</div>
<loading [show]="loadingShow"></loading>
