<!-- <header-nav></header-nav> -->
<div class="content-section admin-doctor-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="" nz-row>
		<div nz-col [nzSpan]="5"></div>
		<div nz-col [nzSpan]="14">
			<div class="">
				<div class="">
					<label for="name">模板名</label>
					<input [nzSize]="'large'" class="mt10" type="text" id="name" name="name" [(ngModel)]="name" placeholder="请输入模板名" [disabled]="editType == 'update'" nz-input>
				</div>
				<div class="mt10" >
					<label for="rk">模板内容</label>
					<ng-container *ngFor="let rk of rkList; let index=index;">
						<div *ngIf="rk.use" class="mb10 flex mt10">
							<div class="flex-1">
								<nz-select
							      class="w100"
								  [nzSize]="'large'"
							      [nzPlaceHolder]="'请选择模板内容'"
							      [(ngModel)]="rk.value"
								  (ngModelChange)="selectedrk($event, rk.key)"
							      [nzNotFoundContent]="'无法找到'"
							      nzShowSearch [disabled]="true">
								      <nz-option
								        *ngFor="let rks of recordtempletKeys"
								        [nzLabel]="rks.name"
								        [nzValue]="rks.key">
								      </nz-option>
							  	</nz-select>
							</div>
							<div class="flex-1">
								<input type="text" id="" [nzSize]="'large'" name="nnn{{index}}" [(ngModel)]="rk.rkValue" placeholder="请输入描述" nz-input>
							</div>
							<div class="w100p text-right">
								<button *ngIf="rk.key != 1" (click)="removeRk(rk.key)" nz-button [nzSize]="'large'">移除</button>
							</div>
						</div>
					</ng-container>
					<!-- <button (click)="addRk()"  nz-button [nzType]="'primary'" [nzSize]="'large'">添加模板内容</button> -->
				</div>
				<div class="text-center mt10">
					<button (click)="add()"  nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="btnCanEdit">保存</button>
				</div>
			</div>
			<div class="" *ngIf="hasRemove">
				<div class="mt10" >
					<label for="rk">模板未添加字段</label>
					<ng-container *ngFor="let rk of rkList; let index=index;">
						<div *ngIf="rk.use === false" class="mb10 flex mt10">
							<div class="flex-1">
								<nz-select
							      class="w100"
								  [nzSize]="'large'"
							      [nzPlaceHolder]="'请选择模板内容'"
							      [(ngModel)]="rk.value"
								  (ngModelChange)="selectedrk($event, rk.key)"
							      [nzNotFoundContent]="'无法找到'"
							      nzShowSearch [disabled]="true">
								      <nz-option
								        *ngFor="let rks of recordtempletKeys"
								        [nzLabel]="rks.name"
								        [nzValue]="rks.key">
								      </nz-option>
							  	</nz-select>
							</div>
							<div class="flex-1">
								<input type="text" id="" [nzSize]="'large'" name="nnn{{index}}" [(ngModel)]="rk.rkValue" placeholder="请输入描述" nz-input>
							</div>
							<div class="w100p text-right">
								<button (click)="addRk(rk.key)" nz-button [nzSize]="'large'">添加</button>
							</div>
						</div>
					</ng-container>
					<!-- <button (click)="addRk()"  nz-button [nzType]="'primary'" [nzSize]="'large'">添加模板内容</button> -->
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="5"></div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
<loading [show]="loadingShow"></loading>
