<header-nav></header-nav>
<div class="content-section admin-child-service-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex pure-form max">
        <div class="flex-1">
			<div *ngIf="moduleAuthority.edit" class="button-tab">
				<button (click)="goCreate()" class="pure-button pure-button-primary">新增宝宝科室</button>
			</div>
        </div>
        <div class="pure-control-group mr10">
            <label for="status">状态：</label>
            <select id="status" name="status" [(ngModel)]="status" (change)="getData()">
				<option value="1">可用</option>
				<option value="0">停用</option>
            </select>
        </div>
	</div>
	<div *ngIf="childServiceList.length > 0" class="pure-g">
		<div class="pure-u-6-24 child-service-tab pad10" *ngFor="let childService of childServiceList" [ngClass]="{'cancel': childService.status == 0}">
			<div class="info pad10">
				<div class="flex">
					<div>科室名：</div>
					<div class="flex-1">
						{{childService.serviceName}}
					</div>
				</div>
				<div class="flex pt10">
					<div>科室说明：</div>
					<div class="flex-1">
						{{childService.description}}
					</div>
				</div>
				<div class="flex pt10">
					<div>状态：</div>
					<div class="flex-1">
						{{childService.status == 0 ? '停用' : '可用'}}
					</div>
				</div>
			</div>
			<div class="flex">
				<a *ngIf="moduleAuthority.edit" class="flex-1 edit pad10 text-center" (click)="update(childService.serviceId)">
					修改
				</a>
				<a *ngIf="moduleAuthority.edit" class="flex-1 edit pad10 text-center" (click)="updateStatus(childService.serviceId,childService.status)">
					<span>{{childService.status == 0 ? '可用' : '停用'}}</span>
				</a>
			</div>
		</div>
	</div>
	<div *ngIf="hasData && childServiceList.length == 0" class="mt10">
		<nodata title="未查询到宝宝科室信息"></nodata>
	</div>
</div>
<loading [show]="loadingShow"></loading>
<nll-toast-box></nll-toast-box>
