<!-- <header-nav></header-nav> -->
<div class="content-section">
	<top-bar [data]="topBar"></top-bar>
	<div *ngIf="moduleAuthority.editSale" class="mt10 mb10">
		<button (click)="goUrl('./admin/material/sale')" nz-button [nzType]="'primary'" [nzSize]="'large'">新增零售</button>
	</div>
	<div nz-row class="mt10 mb10">
		<div nz-col [nzSpan]="6" [nzOffset]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="mobile">用户手机号码：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.mobile" [nzPlaceHolder]="'请输入患者手机号码'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
    	<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="_startDate">日期：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-datepicker (ngModelChange)="_date=$event"
					[nzSize]="'large'" class="w100" [ngModel]="_date" [nzFormat]="'YYYY-MM-DD'" [nzPlaceHolder]="'请选择日期'"></nz-datepicker>
				</div>
			</div>
		</div>
		<div nz-col [nzSpan]="6">
			<div nz-form-item nz-row>
				<div nz-form-label nz-col [nzSpan]="10" class="text-right">
					<label for="admin_name">零售员工：</label>
				</div>
				<div nz-form-control nz-col [nzSpan]="14">
					<nz-input [(ngModel)]="searchInfo.admin_name" [nzPlaceHolder]="'请输入零售员工姓名'" [nzSize]="'large'"></nz-input>
				</div>
			</div>
		</div>
	</div>
	<div class="text-right mt10 mb10">
		<button (click)="search()" nz-button [nzType]="'primary'" [nzSize]="'large'">搜索</button>
	</div>
	<nz-table *ngIf="hasData" #nzTable [nzDataSource]="saleList" [nzBordered]="true" [nzIsPagination]="false">
		<thead nz-thead>
			<tr>
				<th nz-th>购买人</th>
				<th nz-th>手机号码</th>
				<th nz-th>身份证号</th>
				<th nz-th>物资名</th>
				<th nz-th>数量</th>
				<th nz-th>总价格</th>
				<th nz-th>免除金额</th>
				<th nz-th>折后价格</th>
				<th class="w10">备注</th>
				<th nz-th>日期</th>
				<th nz-th>操作人</th>
			</tr>
		</thead>
		<tbody nz-tbody>
			<ng-container *ngFor="let item of saleList;">
				<tr *ngFor="let info of item.info; let indexInfo=index;">
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.userName}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.mobile}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.idcard}}</td>
					<td>{{info.pname}}</td>
					<td>{{info.num}}{{info.unit}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.needAmount}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.giveAmount}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.amount}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">
						<div class="td-text">{{item.remark}}</div>
					</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.date}}</td>
					<td [attr.rowspan]="item.infoLength" *ngIf="indexInfo == '0'">{{item.adminName}}</td>
				</tr>
			</ng-container>
		</tbody>
	</nz-table>
</div>
<loading [show]="loadingShow"></loading>
