<header-nav [title]="'kkk'"></header-nav>
<div class="content-section admin-clinicroom">
	<top-bar [data]="topBar"></top-bar>
	<div class="pure-g">
		<div class="pure-u-1-5"></div>
		<div class="pure-u-3-5">
			<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
				<fieldset>
					<div class="pure-control-group">
						<label for="name">
							<span>诊室名称</span>
							<span class="required">*</span>
						</label>
						<input type="text" id="name" name="name" #name="ngModel" [(ngModel)]="bookingInfo.name" placeholder="请输入诊室名称" required="">
						<div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
						    <div [hidden]="!name.errors.required">
						    	诊室名称不可为空
						    </div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="type">
							<span>诊室类型</span>
							<span class="required">*</span>
						</label>
						<select id="type" name="type" #type="ngModel" [(ngModel)]="bookingInfo.type" required="">
							<option value="PT">普通诊室</option>
							<option value="TN">推拿室</option>
							<option value="YP">药品室</option>
							<option value="JY">检验室</option>
						</select>
						<div *ngIf="type.errors && (type.dity || type.touched)" class="alert alert-danger">
							<div [hidden]="!type.errors.required">
								诊室类型不能为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="room_no">
							<span>诊室编号</span>
							<span class="required">*</span>
						</label>
						<input type="text" id="room_no" name="room_no" #room_no="ngModel" [(ngModel)]="bookingInfo.room_no" placeholder="请输入诊室编号" required="">
						<div *ngIf="room_no.errors && (room_no.dity || room_no.touched)" class="alert alert-danger">
							<div [hidden]="!room_no.errors.required">
								诊室编号不可为空
							</div>
						</div>
					</div>
					<div class="pure-control-group">
						<label for="remark">
							<span>备注（最多200字）</span>
						</label>
						<textarea type="text" id="remark" maxlength="200" name="remark" placeholder="请输入备注"></textarea>
					</div>
				</fieldset>
				<div class="text-center">
					<button (click)="create(f); $event.stopPropagation();" class="pure-button pure-button-primary button-max">{{editType == 'create' ? '创建' : '修改'}}</button>
				</div>
			</form>
		</div>
		<div class="pure-u-1-5"></div>
	</div>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
