.select-date{
    .modal-date{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .modal-mask{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .container{
            position: absolute;
            top: 50%;
            left: 50%;
            right: 0;
            width: 280px;
            height: inherit;
            margin-top: -120px;
            margin-left: -140px;
            background-color: #fff;
            .tab-bar{
                border-bottom: 1px solid #efefef;
                .item{
                    padding: 10px 0;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #efefef;
                    }
                }
            }
            .tab-year{
                height: 245px;
                overflow-x: hidden;
                overflow-y: auto;
                .item{
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #efefef;
                    }
                    &.active{
                        background-color: #173267;
                        color: #fff;
                    }
                }
            }
            .tab-month{
                .item{
                    padding: 10px;
                    text-align: center;
                    line-height: 40px;
                    cursor: pointer;
                    &:hover{
                        background-color: #efefef;
                    }
                    &.active{
                        background-color: #173267;
                        color: #fff;
                    }
                }
            }
            .tab-title{
                border-bottom: 1px solid #efefef;
                .item{
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    line-height: 20px;
                    text-align: center;
                }
            }
            .tab-date{
                .item{
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    line-height: 14px;
                    text-align: center;
                    cursor: pointer;
                    border: 3px solid #fff;
                    &:hover{
                        border: 3px solid #efefef;
                    }
                    &.notNowMonth{
                        color: #cecece;
                    }
                    &.active{
                        background-color: #173267;
                        color: #fff;
                    }
                }
            }
        }
    }
}
