<header-nav></header-nav>
<div class="content-section admin-booking-list">
	<top-bar [data]="topBar"></top-bar>
	<div class="flex pure-form search-tab max">
		<div class="flex-1">
			<button *ngIf="moduleAuthority.add" (click)="create()" class="pure-button pure-button-primary create">新增预约</button>
			<button (click)="checkTab(0)" class="pure-button pure-button-primary date">日历</button>
			<button (click)="checkTab(1)" class="pure-button pure-button-primary list">列表</button>
		</div>
		<div class="pure-control-group mr10">
			<label for="statuslist">预约金支付：</label>
			<select id="statuslist" name="statuslist" [(ngModel)]="searchInfo.statuslist">
				<option value="">所有</option>
				<option value="1">未支付</option>
				<option value="0,2,3,4,5">已支付</option>
			</select>
		</div>
		<div class="pure-control-group mr10">
			<label for="service_id">科室：</label>
			<select id="service_id" name="service_id" [(ngModel)]="searchInfo.service_id">
				<option value="">请选择科室</option>
				<ng-container *ngFor="let service of servicelist">
					<option value="{{service.serviceId}}">{{service.serviceName}}</option>
				</ng-container>
			</select>
		</div>
		<div class="w64p"></div>
	</div>
	<div class="flex pure-form search-tab mt5">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10 flex">
			<label for="creator_name">宝宝姓名：</label>
			<select-search [title]="'请选择宝宝'" [selectList]="childList" [showClear]="true" (onVoted)="selectChild($event)"></select-search>
		</div>
		<div class="pure-control-group search-tab max mr10">
			<label for="doctor_id">医生：</label>
			<select id="doctor_id" name="doctor_id" [(ngModel)]="searchInfo.doctor_id">
				<ng-container *ngFor="let doctor of doctorlist">
					<option value="{{doctor.id}}">{{doctor.realName}}</option>
				</ng-container>
			</select>
		</div>
		<div *ngIf="selectedTab == 1" class="w64p"></div>
		<button *ngIf="selectedTab == 0" (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div *ngIf="selectedTab == 1" class="flex pure-form search-tab max mt2">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10 flex">
			<label for="cdate_big">创建时间：</label>
			<select-date title="请选择日期" [showClear]="true" [endDate]="searchInfo.cdate_less_num" (onVoted)="changeDate($event, 'cdate_big')"></select-date>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="cdate_less" class="text-center">至</label>
			<select-date title="请选择日期" [showClear]="true" [startDate]="searchInfo.cdate_big_num" (onVoted)="changeDate($event, 'cdate_less')"></select-date>
		</div>
		<div class="w64p"></div>
	</div>
	<div *ngIf="selectedTab == 1" class="flex pure-form search-tab max mt2">
		<div class="flex-1"></div>
		<div class="pure-control-group mr10 flex">
			<label for="bdate_big">预约时间：</label>
			<select-date title="请选择日期" [dateText]="searchInfo.bdate_big_text" [endDate]="searchInfo.bdate_less_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_big')"></select-date>
		</div>
		<div class="pure-control-group mr10 flex">
			<label for="bdate_less" class="text-center">至</label>
			<select-date title="请选择日期" [dateText]="searchInfo.bdate_less_text" [startDate]="searchInfo.bdate_big_num" [showClear]="true" (onVoted)="changeDate($event, 'bdate_less')"></select-date>
		</div>
		<button (click)="search()" class="pure-button pure-button-primary">搜索</button>
	</div>
	<div class="weeklist" *ngIf="selectedTab == 0">
		<div class="pb10 mt10">
			<button (click)="prec()" class="pure-button pure-button-primary prec">上一周</button>
			<button (click)="now()" class="pure-button">本周</button>
			<button (click)="next()" class="pure-button pure-button-primary next">下一周</button>
		</div>
		<div class="color-tab service-tab">
			<span>科室颜色：</span>
			<ng-container *ngFor="let serviceItem of servicelist">
				<span>{{serviceItem.serviceName}}</span>
				<span class="icon" [ngClass]="{'color1': serviceItem.color == 'color1', 'color2': serviceItem.color == 'color2', 'color3': serviceItem.color == 'color3', 'color4': serviceItem.color == 'color4', 'color5': serviceItem.color == 'color5', 'color6': serviceItem.color == 'color6', 'color7': serviceItem.color == 'color7', 'color8': serviceItem.color == 'color8', 'color9': serviceItem.color == 'color9', 'color10': serviceItem.color == 'color10'}"></span>
			</ng-container>
		</div>
		<div class="week-tab">
			<div class="pure-g title-tab">
				<div class="pure-u-3-24 title"></div>
				<div class="pure-u-3-24 title text-center" *ngFor="let title of weektitle">
					<div>{{title.date}}</div>
					<div>{{title.title}}</div>
				</div>
			</div>
			<div class="pure-g content-tab color-tab">
				<div class="pure-u-3-24 time-tab">
					<div class="time" *ngFor="let time of timelist">{{time.key}}</div>
				</div>
				<div class="pure-u-3-24 info-tab" *ngFor="let week of weeklist">
					<div class="info text-center" *ngFor="let time of week.timeList">
						<ng-container *ngFor="let serviceItem of time.value">
							<span
							(click)="show(serviceItem.infoList, week.use)"
							*ngIf="serviceItem.infoList.length > 0"
							class="num"
							[ngClass]="{'color1': serviceItem.color == 'color1', 'color2': serviceItem.color == 'color2', 'color3': serviceItem.color == 'color3', 'color4': serviceItem.color == 'color4', 'color5': serviceItem.color == 'color5', 'color6': serviceItem.color == 'color6', 'color7': serviceItem.color == 'color7', 'color8': serviceItem.color == 'color8', 'color9': serviceItem.color == 'color9', 'color10': serviceItem.color == 'color10'}">{{serviceItem.infoList.length}}</span>
						</ng-container>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bookinglist" *ngIf="selectedTab == 1">
		<div class="pure-g">
			<div class="pure-u-6-24 booking-tab pad10" *ngFor="let booking of bookinglist">
				<div class="tab" [ngClass]="{'cancel': booking.status == '0' || booking.status == '-1', 'in': (booking.status != '0' && booking.status != '-1' && booking.status != '1' && booking.status != '2')}">
					<div *ngIf="booking.memberId != null" class="vip-tip-text">{{booking.memberName}}（{{booking.balance}}元）<div class="arrow"></div></div>
					<div class="info pad10" [ngClass]="{'active': booking.memberId != null}">
						<img *ngIf="booking.memberId != null" class="vip-icon" src="../assets/images/vip.png" />
						<div class="flex">
							<div class="flex-1"></div>
							<div class="status">
								{{booking.status == '2' ? (booking.tranInfo.id ? '已支付全额' : booking.statusText) : booking.statusText}}
							</div>
						</div>
						<div class="flex">
							<div class="w90p">宝宝姓名：</div>
							<div class="flex-1">
								{{booking.childName}}
							</div>
						</div>
						<div class="flex">
							<div class="w90p">宝宝年龄：</div>
							<div class="flex-1">
								{{booking.age}}
							</div>
						</div>
						<ng-container *ngFor="let service of booking.services">
							<div class="flex">
								<div class="w90p">预约科室：</div>
								<div class="flex-1">
									{{service.serviceName}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约日期：</div>
								<div class="flex-1">
									{{booking.bookingDate}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约时间：</div>
								<div class="flex-1">
									{{booking.time}}
								</div>
							</div>
							<div class="flex">
								<div class="w90p">预约医生：</div>
								<div class="flex-1">
									{{service.userDoctorName}}
								</div>
							</div>
						</ng-container>
					</div>
					<div class="flex">
						<a *ngIf="moduleAuthority.update && (booking.status == '1' || booking.status == '2' || booking.status == '3')" class="edit flex-1 pad10 text-center" (click)="cancel(booking)">
							取消
						</a>
						<a *ngIf="moduleAuthority.info" class="edit flex-1 pad10 text-center" (click)="info(booking)">
							查看
						</a>
						<a *ngIf="moduleAuthority.add && booking.status == '1' && booking.use" class="edit flex-1 pt10 text-center" (click)="paymentBookingFee(booking)">
							支付预约金
						</a>
						<a *ngIf="moduleAuthority.update && booking.status == '2'" class="edit flex-1 pt10 text-center" (click)="backBookingFee(booking)">
							{{booking.tranInfo.id ? '退还金额' : '退还预约金'}}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="hasData && bookinglist.length == 0">
			<nodata title="未查询到预约信息"></nodata>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalTab">
	<div class="modal-mask" (click)="close()"></div>
	<div class="container">
		<div class="title">预约信息</div>
		<div class="content pad10">
			<table class="pure-table pure-table-horizontal w100">
				<thead>
					<tr>
						<th>宝宝姓名</th>
						<th>年龄</th>
						<th>医生</th>
						<th>科室</th>
						<th>时间</th>
						<th class="th-width">备注</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let showBooking of showBookinglist" class="cursor-p">
						<tr *ngFor="let service of showBooking.services; let indexService=index;">
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.childName}}</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.age}}</td>
							<td>{{service.userDoctorName}}</td>
							<td>{{service.serviceName}}</td>
							<td>
								<span>{{showBooking.bookingDate}}</span>
								<span>{{showBooking.time}}</span>
							</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">
								<div class="length-text">{{showBooking.remark}}</div>
							</td>
							<td [attr.rowspan]="showBooking.servicesLength" *ngIf="indexService == '0'">{{showBooking.status == '2' ? (showBooking.tranInfo.id ? '已支付全额' : showBooking.statusText) : showBooking.statusText}}</td>
							<td>
								<div>
									<button *ngIf="moduleAuthority.info" (click)="info(showBooking)" class="pure-button pure-button-primary">详情</button>
								</div>
								<div *ngIf="moduleAuthority.add && showBooking.status == '1' && use" class="mt10">
									<button (click)="paymentBookingFee(showBooking)" class="pure-button pure-button-primary">支付</button>
								</div>
								<div *ngIf="moduleAuthority.update && (showBooking.status == '1' || showBooking.status == '2' || showBooking.status == '3')" class="mt10">
									<button class="pure-button button-error" (click)="cancel(showBooking)">
										取消
									</button>
								</div>
								<div *ngIf="moduleAuthority.update && showBooking.status == '2'" class="mt10">
									<button (click)="backBookingFee(showBooking)" class="pure-button button-error">
										{{showBooking.tranInfo.id ? '退还金额' : '退还预约金'}}
									</button>
								</div>
							</td>
						</tr>
					</ng-container>
				</tbody>
			</table>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="close()" class="pure-button pure-button">关闭</button>
		</div>
	</div>
</div><div class="modal" *ngIf="modalTabInfo">
	<div class="modal-mask" (click)="closeInfo()"></div>
	<div class="container">
		<div class="title">预约详情</div>
		<div class="content pad10 admin-booking-info">
			<div *ngIf="moduleAuthority.update && (booking.status == '1' || booking.status == '2') && use">
				<button (click)="updateBooking()" class="pure-button pure-button-primary">修改</button>
			</div>
			<div class="tab">
				<div class="item flex bb-default">
					<div class="flex-1 flex">
						<label>宝宝姓名</label>
						<div class="info">{{booking.childName}}</div>
					</div>
					<div class="flex-1 flex">
						<label>手机号码</label>
						<div class="info">{{booking.mobile}}</div>
					</div>
				</div>
				<div class="item flex bb-default">
					<div class="flex-1 flex">
						<label>年龄</label>
						<div class="info">{{booking.age}}</div>
					</div>
					<div class="flex-1 flex">
						<label>性别</label>
						<div class="info">{{booking.genderText}}</div>
					</div>
				</div>
				<div class="item flex bb-default">
					<div class="flex-1 flex">
						<label>推荐人</label>
						<div class="info">{{booking.refereeName}}</div>
					</div>
					<div class="flex-1"></div>
				</div>
				<div class="item flex">
					<label>备注</label>
					<div class="info">{{booking.remark}}</div>
				</div>
				<div class="item flex">
					<div class="info flex-1">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th>预约科室</th>
									<th>预约医生</th>
									<th>预约日期</th>
									<th>预约时间</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let service of booking.services; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{service.serviceName}}</td>
									<td>{{service.userDoctorName}}</td>
									<td>{{service.serviceDate}}</td>
									<td>{{service.serviceTime}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="item flex">
					<div class="info flex-1">
						<table class="pure-table w100">
							<thead>
								<tr>
									<th>消费项目</th>
									<th>费用</th>
									<th>备注说明</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let fee of booking.fees; let index=index;" [ngClass]="{'pure-table-odd': index%2 != 0}">
									<td>{{fee.projectName}}</td>
									<td>{{fee.fee}}</td>
									<td>{{fee.remark}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeInfo()" class="pure-button pure-button">关闭</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalConfirmTab">
	<div class="modal-mask" (click)="closeConfirm()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			<div class="pure-form">
				<textarea id="remark" class="w100" name="remark" [(ngModel)]="selectorBooking.remark" placeholder="请输入取消原因"></textarea>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeConfirm()" class="pure-button">关闭</button>
			<button (click)="confirm()" class="pure-button pure-button-primary">确认</button>
		</div>
	</div>
</div>
<div class="modal" *ngIf="modalBackBookingFee">
	<div class="modal-mask" (click)="closeBack()"></div>
	<div class="container">
		<div class="title">提示</div>
		<div class="content pad10">
			<div class="pure-form">
				<div class="pure-control-group flex">
					<label class="w120p">{{booking.tranInfo.id ? '已支付全额' : '已支付预约金'}}：</label>
					<label>{{(booking.tranInfo.id ? booking.tranInfo.amount : booking.yyj.amount) | toDecimal2}}</label>
				</div>
				<div class="pure-control-group flex mt5">
					<label class="w120p">支付方式：</label>
					<label>{{booking.tranInfo.id ? booking.tranInfo.wayText : booking.yyj.typeText}}</label>
				</div>
				<div *ngIf="booking.yyj.amount != '0.00'" class="pure-control-group flex mt5">
					<label for="backFee" class="w120p">{{booking.tranInfo.id ? '退还部分金额' : '退还部分预约金'}}：</label>
					<input type="number" name="backFee" step="0.01" [(ngModel)]="booking.backFee">
				</div>
				<div *ngIf="booking.yyj.amount != '0.00'" class="pure-control-group flex mt5">
					<label for="backRemark" class="w120p">失约原因：</label>
					<textarea name="backRemark" [(ngModel)]="booking.backRemark" placeholder="请输入失约原因"></textarea>
				</div>
				<div *ngIf="booking.yyj.amount == '0.00'" class="mt5">不可退款</div>
			</div>
		</div>
		<div class="button-tab pad10 text-right">
			<button (click)="closeBack()" class="pure-button">取消</button>
			<button *ngIf="booking.yyj.amount != '0.00'" (click)="confirmBack()" class="pure-button pure-button-primary" [disabled]="btnCanEdit">确认</button>
		</div>
	</div>
</div>
<loading [show]="loadingShow"></loading>
<nll-toast-box></nll-toast-box>
