<!-- <header-nav></header-nav> -->
<div class="content-section admin-medical-lost">
	<top-bar [data]="topBar"></top-bar>
	<form #f="ngForm" class="pure-form pure-form-stacked form-tab">
		<fieldset>
			<div *ngFor="let ms of lostlist" class="ms-tab mt5">
				<div *ngIf="ms.use">
					<div (click)="showMs(ms.key)" class="ms-bar flex">
						<div class="flex-1 pt5">
							<ng-container *ngIf="ms.show">
								<span>隐藏</span>
								<i class="anticon anticon-right"></i>
							</ng-container>
							<ng-container *ngIf="!ms.show">
								<span>展开</span>
								<i class="anticon anticon-down"></i>
							</ng-container>
						</div>
						<div *ngIf="ms.key != 1">
							<button (click)="deleteMs(ms.key); $event.stopPropagation();" class="pure-button pure-button-primary">删除</button>
						</div>
					</div>
					<div [ngClass]="{'hide': !ms.show}" class="pure-g pure-tab">
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="ms_{{ms.key}}">
									<span>药品</span>
									<span class="required">*</span>
								</label>
								<select id="ms_{{ms.key}}" name="ms_{{ms.key}}" ngModel (change)="msChange($event.target.value)">
									<ng-container *ngFor="let medicalSupplie of list">
										<option value="{{medicalSupplie.string}}">{{medicalSupplie.name}}({{medicalSupplie.unit}})</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="batch_{{ms.key}}">
									<span>批次</span>
									<span class="required">*</span>
								</label>
								<select id="batch_{{ms.key}}" name="batch_{{ms.key}}" ngModel>
									<ng-container *ngFor="let batch of batchList">
										<option value="{{batch.string}}">{{batch.batch}}（库存：{{batch.stock}}{{msUnit}}）</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="pure-u-8-24">
							<div class="pure-control-group">
								<label for="num_{{ms.key}}">
									<span>报损数量</span>
									<span class="required">*</span>
								</label>
								<input type="number" id="num_{{ms.key}}" name="num_{{ms.key}}" ngModel placeholder="请输入报损数量">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="mt10">
				<button (click)="addMs()" class="pure-button pure-button-primary"><i class="anticon anticon-plus mr5"></i>添加药品</button>
			</div> -->
			<div class="pure-g pure-tab">
				<div class="pure-u-8-24">
					<label for="remark">
						<span>报损原因（最多200字）</span>
						<span class="required">*</span>
					</label>
					<textarea id="remark" name="remark" maxlength="200" #remark="ngModel" [(ngModel)]="lostInfo.remark" placeholder="请输入备注说明" required=""></textarea>
					<div *ngIf="remark.errors && (remark.dity || remark.touched)" class="alert alert-danger">
						<div [hidden]="!remark.errors.required">
							报损原因不可为空
						</div>
					</div>
				</div>
			</div>
		</fieldset>
		<div class="text-center">
			<button (click)="create(f)" class="pure-button pure-button-primary button-max" [disabled]="btnCanEdit">添加</button>
		</div>
	</form>
</div>
<modal-toast modalTab="{{toast.show}}" text="{{toast.text}}" type="{{toast.type}}"></modal-toast>
